/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.myvouchers-list{
	margin-top: -100px;
	.myactivities-list-full{
	
	}
}
//	
//.wrapper_out{
//	background: #f8f8f8;
//}

/* popup  style */

.voucher_overlay
{
    .voucher_popup
    {
        .voucher_popup_top
        {
            width:100%;
            padding:17px 10px;
            background:#EEFFDC;
            border-color: #7ED321;
            border-radius:4px;
            margin-bottom: 24px;
            p 
            {
                font-size: 18px;
                line-height: 20px;
                margin:0px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                img 
                {
                    width:30px;
                    margin-right:25px;
                }
                b 
                {
                    font-weight: bold;  
                    margin-right: 5px;
                }
            }
        }
        .voucher_popup_bottom
        {
            background-color: transparent;
            border-radius: 24px;
            padding-bottom: 0px;
            height:100%;
            position: relative;
            .voucher_popup_height
            {
                height: 100%;
                clear: both;
                overflow: hidden; 
            //    background: #fff;
                border-radius: 24px;
                .img_blur
                {
                    width:100%;
                    height:284px;
                    border-top-left-radius: 24px;
                    border-top-right-radius: 24px;
                    margin-bottom:0px;
                    img
                    {
                        width: 100%;
                        padding: 0px 0px;
                        height:100%;
                        border-top-left-radius: 24px;
                        border-top-right-radius: 24px;
                        
                    }
                }
            .voucher-content-new
            {
                width: 100%;
                height: calc(100vh - 460px);
                padding: 0px 48px;
                text-align: left;
                clear: both;
                overflow: auto;
                padding-bottom: 0px;
                padding-top:15px !important;
                background: #fff;
                margin-bottom: 70px;
                p 
                {
                    @include textstyle($font-family, 18px, 400, $grey5);
                    line-height: 22px;
                    @include margin(0px);
                }
                h3
                {
                    @include textstyle($font-family, 20px, bold, $grey5);
                    line-height: 24px;
                    @include padding(13px 0 13px 0px);
                    @include margin(0px);
                }
                .voucher-lists
                {
                    display: flex;
                    // padding-bottom: 5px;
                    h6 
                    {
                        text-align: left;  
                        @include textstyle($font-family, 18px, bold, $grey5);
                        line-height: 22px;
                        @include margin(0px);
                        flex: 1;
                    }
                    p 
                    {
                        text-align: right;
                        @include textstyle($font-family, 18px, 400, $grey5);
                        line-height: 22px;
                        @include margin(0 0 10px 0); 
                    }
                }
                hr 
                {
                     @include margin(35px 0px 0px 0px); 
                     @include padding(0 0 22px 0); 
                     border: none;
                     border-top: 1px solid #C6C6C6;
                }
                h2 
                {
                    @include textstyle($font-family, 20px, bold, $grey5);
                    line-height: 24px;
                    @include margin(0px 0px 22px 0); 
                }
                .voucher_button
                {
                    display: block;
                    margin-top: 0;
                    margin-bottom: 0;
                    width: 100%;
                    clear: both; 
                    overflow: auto;
                    background: #fff;
                    position: fixed;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    padding: 30px 48px;
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;
                    button 
                    {
                        width: 206px;
                        font-weight: bold;
                        outline: none;
                        height: 52px;
                        font-size: 24px;
                        &:focus
                        {
                            box-shadow: none !important;
                        }
                    }
                    .btn_greybr
                    {
                        float:left;
                    }
                    .btn_pink
                    {
                        float:right;
                    }
                }
            }
            }
        }
    }
}

/* popup new style */

.re-voucher_overlay
{
    width:640px;
    height:100%;
    background-color: rgba(0, 0, 0, 0.4) !important;
    position: fixed;
    z-index: 99999;
    top:0px;
    left:0px;
    right: 0px;
    margin: auto;
    .re-voucher_popup
    {
        width: 540px;
        height: 90%;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        box-shadow: 0px 0px 7px #00000070;
        border-radius: 24px;
        background: #fff;
        clear: both;
        overflow: hidden;
        .re-voucher_img
        {
            position: relative;
            width: 100%;
            height: auto;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            margin-bottom: 0px;
            img 
            {
                border-top-right-radius: 24px;
                border-top-left-radius: 24px;
                width: 100%;
            }
        }
        .re-voucher_content
        {
            width: 100%;
            height: calc(100vh - 500px);
            padding: 0px 48px;
            text-align: left;
            clear: both;
            overflow: auto;
            padding-bottom: 30px;
            padding-top: 15px !important;
            background: #fff;
            p 
            {
                @include textstyle($font-family, 18px, 400, $grey5);
                line-height: 22px;
                @include margin(0px);
            }
            h3
            {
                @include textstyle($font-family, 20px, bold, $grey5);
                line-height: 24px;
                @include padding(13px 0 13px 0px);
                @include margin(0px);
            }
            .re-voucher-lists
            {
                display: flex;
                padding-bottom: 5px;
                h6 
                {
                    text-align: left;  
                    @include textstyle($font-family, 18px, bold, $grey5);
                    line-height: 22px;
                    @include margin(0px);
                    flex: 1;
                }
                p 
                {
                    text-align: right;
                    @include textstyle($font-family, 18px, 400, $grey5);
                    line-height: 22px;
                    @include margin(0px); 
                }
            }
            hr 
            {
                 @include margin(35px 0px 0px 0px); 
                 @include padding(0 0 22px 0); 
                 border: none;
                 border-top: 1px solid #C6C6C6;
            }
            h2 
            {
                @include textstyle($font-family, 20px, bold, $grey5);
                line-height: 24px;
                @include margin(0px 0px 22px 0); 
            }
        }
        .re-voucher_button
        {
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            clear: both;
            overflow: auto;
            background: #fff;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            padding: 10px 48px;
            .btn_greybr
            {
                float: left;
            }
            .btn_pink
            {
                float: right;
            }
            button 
            {
                width: 180px;
            }
        }
    }
}

/* voucher-redeem style */

.code-voucher-content
{
    position: absolute;
    width: 540px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.voucher-redeem
{
    max-width: 540px;
    height: auto;
    margin: auto;
    padding: 25px 0px;
    text-align: center;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.49);
    h3 
    {
        font-weight: 400;
        font-size: 24px;
    }
    .voucher-redeem-img
    {
        width: 200px;
        height:auto;
        position: relative;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        img 
        {
            width: 100%;
        }
        h2 
        {
            font-weight: 400;
            font-size: 30px; 
            color:#fff;
            position: absolute;
            top:50%;
            left:0px;
            right:0px;
            margin: auto;
            @include transform(translateY(-50%));
        }
    }
    button 
    {
        width:180px;
        margin-top: 10px; 
        outline: none;
        &:focus 
        {
             box-shadow: none !important;
        }
    }
}

.card_actions_quantity
{
    width: 206px;
    font-weight: bold;
    outline: none;
    height: 52px;
    font-size: 24px;
    padding: 0px 0px !important;
    &:hover
    {
        border-color: #D8D8D8 !important;
    }
    .Quantity_increase
    {
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        background: transparent;
        .qtyminus
        {
            width: 30%;
            display: inline-block;
            float: left;
            height: 49px;
            border: none;
            background: transparent;
            outline: none;
            color: #646464;
        }
        input.qty
        {
            width: 70%;
            display: inline;
            float: left;
            border: none;
            text-align: CENTER;
            outline: none;
            background: transparent;
            border-left: 2px solid #D8D8D8;
            border-right: 2px solid #D8D8D8;
            color: #646464;
        }
        input.qtyplus 
        {
            width: 30%;
            display: inline-block;
            float: right;
            height: 49px;
            border: none;
            background: transparent;
            outline: none;
            color: #646464;
        }
    }
    
}
.fa_window_close_o
{
    position: absolute;
    top: 4px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    line-height: initial;
    font-weight: normal;
}

@media screen and (max-width:568px)
{
    .code-voucher-content
    {
        width: auto;
        margin: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .voucher_button
    {
        padding: 20px 30px !important;
    }
    .re-voucher_overlay
    {
    width:100%;
    .re-voucher_popup
    {
        width: auto;
        margin: auto;
        margin-left: 30px;
        margin-right: 30px;
        .re-voucher_img
        {
            img 
            {
                width: 100%;
            }
        }
        .re-voucher_content
        {
            width: 100%;
            height: calc(100vh - 300px);
            padding: 0px 20px;
            padding-bottom: 20px;
            padding-top: 15px !important;
            p 
            {
                @include textstyle($font-family, 12px, 400, $grey5);
                line-height: initial;
            }
            h3
            {
                @include textstyle($font-family, 15px, bold, $grey5);
                @include padding(5px 0 5px 0px);
                line-height: initial;
            }
            .re-voucher-lists
            {
                display: flex;
                padding-bottom: 5px;
                h6 
                {
                    @include textstyle($font-family, 14px, bold, $grey5);
                    line-height: initial;
                    flex: 1;
                }
                p 
                {
                    flex: 1;
                    @include textstyle($font-family, 14px, 400, $grey5);
                    line-height: initial;
                }
            }
            hr 
            {
                 @include margin(10px 0px 0px 0px); 
                 @include padding(0 0 10px 0); 
            }
            h2 
            {
                @include textstyle($font-family, 15px, bold, $grey5);
                line-height: initial;
                @include margin(0px 0px 10px 0); 
            }
        }
        .re-voucher_button
        {
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            clear: both;
            overflow: auto;
            background: #fff;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            padding: 10px 20px;
            .btn_greybr
            {
                float: left;
            }
            .btn_pink
            {
                float: right;
            }
            button 
            {
                width: 105px;
                min-width:105px !important;
            }
        }
    }
}

.voucher_overlay
{
    .voucher_popup
    {
        .voucher_popup_bottom
        {
            .voucher_popup_height
            {   .img_blur
                {
                    height:180px;
                    img 
                    {
                        height: 100%;
                    }
                }
                .voucher-content-new
                {
                    width: 100%;
                    height: calc(100vh - 275px);
                    padding: 0px 20px;
                    padding-bottom: 25px !important;
                    margin-bottom: 35px;
                    .voucher_button
                    {
                        button 
                        {
                            height: 30px;
                            font-size: 12px;
                            padding: 0px 0px !important;
                        }
                    }
                }
            }
        }
    }
}
    
.voucher-redeem
{
    padding: 20px 0px;
    h3 
    {
        font-size: 20px;
    }
    button 
    {
        width:140px;
        line-height: 17px;
    }
    .voucher-redeem-img
    {
        width: 160px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        h2  
        {
            font-size: 24px; 
        }
    }
}
    .myvouchers-list{
	margin-top: -75px;
}
   .card_actions_quantity
{
    width: 110px !important;
    height: 30px;
    clear: both;
    overflow: hidden;
    
    .Quantity_increase
    {
        .qtyminus, input.qty, input.qtyplus 
        {
            height: auto;
            font-size: 18px;
        }
    }
}
    
    
}
.voucher_popup_height
{
    &:before
    {
        content:'';
        width:100%;
        height:100%;
        background-color:transparent;
    }
}

@media (max-width: 350px)
{
     .card_actions_quantity
    {
        width: 98px !important;
    }
    .voucher_button 
    {
        padding: 20px 25px !important;
    }
}
