<div class="wrapper_out"><app-activities-header [itemcount] = "itemcount"></app-activities-header>


	<div class="myvouchers-list">
		<div class="myactivities-list-full">
			<div class="activity-tab">
			<mat-tab-group [disableRipple]="true" [selectedIndex]="tabActive">
					<mat-tab>
					<ng-template mat-tab-label>
<!--					<h1 class="tab-head-count">{{precords.length}}</h1> -->
						<h1 class="tab-head-count"><img src="../../../assets/images/cart-grey.png"></h1>
					<p class="vou-shop">VOUCHER SHOP</p>
						
					</ng-template>
                        <div class="vocuher-remove-success" *ngIf="cart_success">
                            <p><img src="assets/images/verified.png"><b>Success:</b> <span> You have added a voucher into the cart!</span></p>
                        </div> 
					<mat-tab-group [disableRipple]="true" class="inner-tap Featured-Vouchers-2">
				        <mat-tab label="Featured Vouchers" class="">
                            <div class="tab-body-header">
                                <div class="tab-content"><p>Today’s Voucher Offers</p>
                                    <span>Based on the nearby location</span>
                                </div>
<!--
                               <div class="filter-img" id="filter-img-new">
                                   <img src="../../../assets/images/filter.png" alt="" />
                                   <mat-form-field class="mat-form-field-class">
                                      <mat-label>Favorite food</mat-label>
                                      <mat-select (selectionChange)="loadAllVouchers('',$event.value)" >
                                        <mat-option value="">Latest First</mat-option>
                                        <mat-option value="price_hightolow">High to Low</mat-option>
                                        <mat-option value="price_lowtohigh">Low to High</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                </div>
-->
                               <div class="success-msg-content">
                               </div>
					       </div>
                            <div class="activity-list 2" *ngFor="let voucher of vouchers">
                            <div class="activity">
                                <div class="img" (click)="openScrollableContent(longContent, voucher.voucher_id)"><img src={{voucher.voucher_challenge_icon}} ></div>
                                <div class="cont" ><span (click)="openScrollableContent(longContent, voucher.voucher_id)" class="questname">{{voucher.voucher_merchant_name}}</span>
                                <p (click)="openScrollableContent(longContent, voucher.voucher_id)" innerHTML={{voucher.voucher_name}}></p>
                                <span>S${{voucher.voucher_price}}</span>
                                <span>Voucher Worth of S${{ voucher.voucher_value }}</span>
                                <div class="vou-card-buttons">
                                    <button mat-flat-button class="btn btn_lg btn-completed" *ngIf="voucher.voucher_stock_type=='1' && voucher.voucher_stock<=0" >Sold Out</button>
                                    <button mat-flat-button class="btn btn_lg btn_pink" *ngIf="voucher.voucher_stock_type=='0' || voucher.voucher_stock>0" (click)="openScrollableContent(longContent, voucher.voucher_id)">Buy Now</button>
                                </div>
                                </div>
                            </div>
						</div>	
					   </mat-tab>
					</mat-tab-group>	
				  </mat-tab>
				  <mat-tab [disabled]="disabling">
					<ng-template mat-tab-label>
					 	<h1  class="tab-head-count">{{ total_myvouchers }}</h1>  
						<p  class="my-vou">My Vouchers</p>
					</ng-template>
					<mat-tab-group [disableRipple]="true" class="inner-sec-tap" [selectedIndex]="tabActive" >
					  <mat-tab label="Quest Vouchers" class="mat-tab-label-active">
					  	<div class="tab-body-header">
							<div class="tab-content"><p>Total Quest Vouchers</p>
								<span>{{erecords.length}} Voucher(s)</span>
							</div>
<!--
							<div class="filter-img" id="filter-img-new2">
                                <img src="../../../assets/images/filter.png" alt="" />
                            </div>
-->
						</div>
						<div class="activity-list" *ngFor="let voucher of erecords">
							<div class="activity">
								<div class="img"><img src={{voucher.voucher_redeem_image}} ></div>
								<div class="cont cont_i"><span class="questname">{{voucher.voucher_merchant_name}}</span>
								<p innerHTML={{voucher.voucher_name}}></p>
                  <i *ngIf="voucher.expired_in">voucher expired in {{ voucher.expired_in }} day(s)</i>            
									<div class="vou-card-buttons">
                    <button class="btn btn_lg" mat-flat-button *ngIf="voucher.voucher_status=='A' || voucher.voucher_status=='R'" (click)="openScrollableContent1(code, voucher.my_voucher_id)">Redeem Now</button>
                    <button class="btn btn_lg btn-completed" mat-flat-button *ngIf="voucher.voucher_status=='C'">Redeemed</button>
                  <button class="btn btn_lg btn-completed" mat-flat-button *ngIf="voucher.voucher_status=='E'">Expired</button>
                  </div></div>
							</div>
						</div>											
					  </mat-tab>
					  <mat-tab label="Purchased Vouchers">
						<div class="tab-body-header">
							<div class="tab-content"><p>Total Purchased Vouchers</p>
								<span>{{precords.length}} Voucher(s)</span>
							</div>
<!--
							<div class="filter-img" id="filter-img-new2">
                                <img src="../../../assets/images/filter.png" alt="" />
                            </div>
-->
						</div>						  		
						<div class="activity-list" *ngFor="let voucher of precords">
							<div class="activity">
								<div class="img"><img src={{voucher.voucher_redeem_image}} ></div>
								<div class="cont cont_i"><span class="questname">{{voucher.voucher_merchant_name}}</span>
								<p innerHTML={{voucher.voucher_name}}></p>
                <i *ngIf="voucher.expired_in">voucher expired in {{ voucher.expired_in }} day(s)</i>
								<div class="vou-card-buttons">
                  <button class="btn btn_lg" mat-flat-button  *ngIf="voucher.voucher_status=='A' || voucher.voucher_status=='R'" (click)="openScrollableContent1(code, voucher.my_voucher_id)">Redeem Now</button>
                  <button class="btn btn_lg btn-completed" mat-flat-button *ngIf="voucher.voucher_status=='C'">Redeemed</button>
                  <button class="btn btn_lg btn-completed" mat-flat-button  *ngIf="voucher.voucher_status=='E'">Expired</button>
                </div>
								</div>
							</div>
						</div>						
					 </mat-tab>
					</mat-tab-group>	
				  </mat-tab>
		  </mat-tab-group>
			</div>
		</div>
	</div>
</div>



<ng-template #longContent let-modal >

<div class="voucher-content" *ngIf="voucher_info">
    <div class="voucher_overlay"> 
        <div class="voucher_popup">
            <div class="voucher_popup_bottom">
                <div class="voucher_popup_height">
                    <div class="img_blur"><img [src]="voucher_info.voucher_challenge_icon"></div>
                    <div class="voucher-content-new">
                          <p>{{ voucher_info.voucher_name }}</p>
                           <h3>S${{ voucher_info.voucher_price }}</h3> 
                           <div class="voucher-lists">
                             <p>Voucher Worth of S${{ voucher_info.voucher_value }}</p>
                           </div> 
                           <div class="voucher-lists">
                             <p>Available Quantity: {{ voucher_info.voucher_stock }}</p>
                           </div> 
                          <div class="voucher-lists">
                              <p *ngIf="voucher_info.voucher_expiry_option=='0'">Expired in <b>{{ voucher_info.voucher_expiry_days }}</b> days from purchase</p>
                              <p *ngIf="voucher_info.voucher_expiry_option=='1'">Expiry date upto <b>{{ voucher_info.voucher_expiry_end_date }}</b></p>
                          </div>
                          <div class="voucher-lists">
                              <h6>Usage Period:</h6>
                              <p *ngIf="voucher_info.voucher_expiry_option=='0'">{{ voucher_info.voucher_expiry_days }} days from purchase</p>
                              <p *ngIf="voucher_info.voucher_expiry_option=='1'">{{ voucher_info.voucher_expiry_start_date }} - {{ voucher_info.voucher_expiry_end_date }}</p>
                          </div>
                          <hr>
                          <h2>Terms & Conditions:</h2>
                          <p [innerHtml]="voucher_info.voucher_description"></p>
                          <div class="voucher_button">
                            <div class="card_actions_quantity btn btn_lg btn_greybr">
                                <div class="Quantity_increase">
                                    <input type='button' value='-' class='qtyminus' (click)="decreaseValue()" field='quantity'/>
                                    <input type='text' [(ngModel)]="quantity" name='quantity' min="1" readonly='readonly'  class='qty' />
                                    <input type='button' value='+' class='qtyplus' (click)="increaseValue()" field='quantity' />
                                </div>              
                            </div>
                            <!-- <button class="btn btn_lg btn_greybr" aria-label="Close" (click)="modal.dismiss('Cross click')">Close</voucher_info> -->
                              <button class="btn btn_lg btn_pink btn-completed" *ngIf="voucher_info.voucher_stock_type=='1' && voucher_info.voucher_stock<=0">Sold Out</button>
                            <button class="btn btn_lg btn_pink" *ngIf="voucher_info.voucher_stock_type=='0' || voucher_info.voucher_stock>0" (click)="addtoCart(voucher_info.voucher_id)" (click)="modal.dismiss('Cart click')" >Add to Cart</button> 
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="fa_window_close_o" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
</div> 

  
</ng-template>

<ng-template #code let-modal >
<div class="code-voucher-content" *ngIf="code_details">
    <div class="code-voucher_overlay"> 
        <div class="voucher-redeem">
            <h3>Voucher Redeem Code:</h3>
            <div class="voucher-redeem-img">
                <img src="assets/images/thankyou3.png"> 
                <h2>{{ code_details.voucher_redeem_code }}</h2>
            </div>
            <button class="btn btn_lg btn_pink btn_extra_lg" aria-label="Close" (click)="modal.dismiss('Cross click')">Close</button>
        </div>
    </div>
</div>
</ng-template>


<!--
<div class="re-voucher_overlay" *ngIf="voucher_info">
    <div class="re-voucher_popup">
        <div class="re-voucher_img">
            <img src="https://api.thepicky.co/media/vouchers/d1ba8ae6e1b0953bcfec9d85b6ef23e2.jpg">
        </div>
        <div class="re-voucher_content">
            <p>Discount Voucher 20%</p>
            <h3>$123.00</h3>
            <div class="re-voucher-lists">
              <h6>Usage Period:</h6>
              <p>23 days from purchase</p>
            </div>
            <hr>
            <h2>Terms &amp; Conditions:</h2>
            <p>Voucher for fast food restaurant - Sample lorem content, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br></p>
        </div> 
        <div class="re-voucher_button">
            <button _ngcontent-krw-c8="" aria-label="Close" class="btn btn_lg btn_greybr">Close</button>
            <button _ngcontent-krw-c8="" class="btn btn_lg btn_pink">Add to Cart</button>
        </div>
    </div> 
</div>
-->



<app-bottom-fixed-menu [itemcount] = "itemcount"></app-bottom-fixed-menu>