<header class="header-after-login">
	<div class="picky-logo">
		<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
	</div>
	<div class="featuredguest-header-text">
		<h2>Featured Quests</h2>
		<p>Complete Quests to get loot!</p>
	</div>




	<!-- <div class="profile-photo">
		<a routerLink=""><img src="assets/images/avatar.jpg" class="afterlogin-logo" alt="Profile Photo">
			<span class="edit-icon">
				<label>
					<input #imageInput
				   type="file"
				   accept="image/*"
				   (change)="processFile(imageInput)">
				
					<fa name="camera"></fa>
				</label>
			</span>
		</a>
	</div> -->
	<!-- <div class="profile-name">
			<h3>{{user.customer_firstname +" "+ user.customer_lastname}}</h3>
	</div> -->
	<!--<label class="image-upload-container btn btn-bwm">
			<!--<span>Select Image</span>-->
			<!--<input #imageInput
				   type="file"
				   accept="image/*"
				   (change)="processFile(imageInput)">
		  </label>-->
		  
		  
		  <!-- <div *ngIf="selectedFile" class="img-preview-container">
		  
			<div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
				 [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
			</div>
		  
			<div *ngIf="selectedFile.pending" class="img-loading-overlay">
			  <div class="img-spinning-circle"></div>
			</div>
		  
			<div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
			<div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
		  </div> -->


</header>
