<div class="wrapper_out">
<app-header-signup ></app-header-signup>
   <div class="signup-form">
		<form  class="login-form-padding" [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
		    <div class="form-group input-filed">
		        <mat-form-field>
                    <label>Enter Email Address</label>
    				<input matInput formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"   />

					<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
						<div *ngIf="f.email.errors.required">Email is required</div>
					</div>

  				</mat-form-field>
            </div>
			<div class="form-group signup-btn-main loading-btn-resize"> 
                <button  class="btn btn_pinkbr btn_extra_lg register-button btn-shadow">Submit<mat-spinner *ngIf="loading"></mat-spinner></button>
            </div>
		</form>
	</div>
</div>
<app-bottom-fixed-menu [itemcount]="itemcount"></app-bottom-fixed-menu>