/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

	
		ul{
			padding-left: 0px; min-width: 100%;
			&:after{ content: ""; clear: both; display: block;}
			li{
				list-style: none; 
				display: inline-block;
				margin-right: 2%;
				text-align: center;
				min-width: 70px;
				width: 23.5%;
				vertical-align: top;
				&:last-child{ margin-right: 0;}
				.voucher-category-img{
					max-width: 100%;
					width: 64px;
					height: 64px;
					margin: 0 auto;
					display: block;
					// background-color: $light-grey;
					 @include border-radius(50%);
                    margin-bottom: 10px;
                    margin-top: 10px;
					img{
						max-width: 100%;
						 max-height: 100%;
					    object-fit: contain;
						@include border-radius(50%);
						
					}
				}
				.voucher-category-name{
					a{
						text-decoration: none;
						@include textstyle($font-family, 16px, 400, $grey5);
					}
				}
			}
            
		}

.category-active
{
    .voucher-category-name
    {
        a 
        {
            font-weight: bold !important;
            color: #20409A !important;
        }
    }
}
.categorys-block 
{
    display: block !important; 
}



/*Responsive css*/
@media (max-width: 568px){

	ul{
		li{
			
			.voucher-category-name{
				a{
					text-decoration: none;
					@include textstyle($font-family, 12px, 400, $grey5);
					white-space: initial;
					line-height:initial;
                    display:block;
				}
			}
            .voucher-category-img
            {
                margin-bottom: 10px;
                margin-top: 10px;
            }
		}
	}
    
}
@media (max-width: 320px){
	ul{
		li{
				min-width: 60px;
		}
	}
}