
<drag-scroll *ngIf="categorys">
	<ul drag-scroll-item class="categorys-block">
		<li class="categories-iconlist" [ngClass]="{'category-active': selectedIndex == 0}" >
			<div class="voucher-category-img">
				<a href="javascript:void(0);" (click)="sendCategory('', 0)"><img src="assets/images/all-dots.png" /></a>
			</div>
			<div class="voucher-category-name">
				<a href="javascript:void(0);" (click)="sendCategory('', 0)">All</a>
			</div>
		</li>					
		<li class="categories-iconlist" [ngClass]="{'category-active': selectedIndex == i+1}" *ngFor="let category of categorys;let i=index">
			<div class="voucher-category-img">
				<a href="javascript:void(0);" (click)="sendCategory(category.category_id, i+1)"><img src={{category.category_image}} /></a>
			</div>
			<div class="voucher-category-name">
				<a href="javascript:void(0);" (click)="sendCategory(category.category_id, i+1)">{{category.category_name}}</a>
			</div>
		</li>
	 
	</ul>
</drag-scroll>

