<div class="wrapper_out">
	<app-profile-header [user]="user" (changeEvent)="changeProfile($event)"></app-profile-header>
	<div class="account_menusec">
		<ul class="account_menu">
			<li class="edit-profile">
				<a routerLink="/profile" title="Edit Profile">
					<span><img src="assets/images/edit-lock-grey.png" alt="" /></span>
					Edit Profile
					<i class="fa fa-angle-right"></i>
				</a>
			</li>
		</ul>
		<div class="account_general_menu">
			<h3>General</h3>
			<ul class="account_menu">
				<li>
					<a routerLink="/faq" title="FAQs">						
						FAQs
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
			</ul>
			<ul class="account_menu" *ngIf="pages">
				<li *ngFor="let page of pages">
					<a routerLink="/page/{{ page.page_router }}" title="Privacy Policy">						
						{{ page.page_name }}
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
				<!-- <li>
					<a routerLink="/page/terms" title="Terms of use">						
						Terms of use
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
				<li>
					<a routerLink="/page/how_to_play" title="How to play">						
						How to play
						<i class="fa fa-angle-right"></i>
					</a>
				</li> -->
			</ul>
		</div>		 
	</div>
	<div class="account_logoutsec text-center">
		<a href="javascript:void(0);" class="btn btn_lg btn_pinkbr btn_minwid btn_extra_lg" (click)="signOut()" title="Logout">Log out</a>
		<p>V1.2.78.0(122012)</p>
	</div>
	<app-bottom-fixed-menu [itemcount]="itemcount"></app-bottom-fixed-menu>
</div>