/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.account_menusec{
    .account_menu { margin: 0; list-style: none; padding: 0 48px;border-bottom: 2px solid #ededed;
		.edit-profile{padding:0;
			&:hover{background: none;}
		}
        > li{ border-bottom: 2px solid #ededed;padding: 0px 40px;
			&:hover{background: none;}
            &:last-child{ border-bottom: 0;}
            > a{ text-decoration: none; display: block; padding: 30px 26px 30px 0; position: relative; line-height: initial;                 
                @include textstyle($font-family, 20px, 400, $grey5);
                > span{ margin-right: 10px; display: inline-block;}
                > i{ position: absolute; right: 0; color: #bfbfbf; font-size: 24px;}
                &:hover
                {
                    opacity:0.8;
                }
            }
        }
    }
    .account_general_menu{ 
        border-top: 0px solid #ededed;
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 70px;
        h3{ @include textstyle($font-family, 24px, 700, $grey5); margin: 0 0 5px;padding: 40px 0px 0px;}
        .account_menu{
            padding: 0;
        }
    }
}
.account_logoutsec{ padding: 30px 0 50px;
    margin-bottom: 0px;
 p{ margin: 30px 0 0; font-size: 14px;}
    a 
    {
       // @include box-shadow (0px 0px 10px rgba(238, 50, 95, 0.54));
        width: 280px;
        height: 56px;
        font-size: 24px;
        font-weight: 700;
        line-height: initial !important;
        padding: 10px 0px !important;
    }
    .register-button-resize
    {
        font-size: 24px;
        font-weight: 700;
		@include border-radius(30px);
		letter-spacing: 0.5px;
		cursor: pointer;
		position: relative;
		@include transition(all 0.2s linear);
		@include box-shadow (0px 6px 17.5px rgba(238, 50, 95, 0.54));
        padding: 0px 0px;
        height: 56px;
        width: 280px;
        line-height: 50px;  
    }
}

.account_menu
{
    li 
    {
         padding: 0px 0px !important;
        a 
        {
            display: flex;
            align-items: center;
            i 
            {
                top: 50%;
                transform: translateY(-60%);
                -webkit-transform: translateY(-60%);
                -moz-transform: translateY(-60%);
                -o-transform: translateY(-60%);
            }
        }
    }
}


@media(max-width: 568px){
    .account_menusec .account_general_menu h3{ font-size: 18px; padding: 30px 30px 0px;}
    .account_menusec .account_menu > li > a{
        font-size: 16px; padding: 16px 26px 16px 0;
    }
    
    .account_menusec
    {
        .account_menu
        {
            padding: 0 15px;    
            li 
            {
                a 
                {
                    font-size: 14px;
                }
            }
        }
        .account_general_menu
        {
            font-size: 16px;
            padding: 15px 0px 0px;
            h3 
            {
                font-size: 16px;
                padding: 0px 0px 0px;
            }
            .account_menu
            {
                li 
                {
                    padding: 0px 0px;
                    a
                    {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .account_logoutsec
    {
        margin-bottom: 0px;
        a 
        {
            width: 200px;
            height: 45px !important;
            font-size: 16px !important;
            font-weight: 700;
            line-height: initial !important;
            padding: 10px 0px !important;
        }
    }
    .account_menu li {
    padding: 0px 0px !important;
}
    
    .account_menusec
    {
        .account_general_menu
        {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }
}
