<!--<app-header-signup></app-header-signup>-->
<div class="wrapper_out cart-header-changes" >
<app-activities-header *ngIf="records" [itemcount] = "records.cart_items_count"></app-activities-header>
<div class="cart-section" >
<div class="stepper" >
	 <div class="step-content">
		 <div class="steps">
			<a href="javascript:void(0)"><p class="step-count">Step 1</p>
			 <p class="step-title">Cart Details</p></a>
		 </div>
		  <div class="steps">
			<a href="javascript:void(0)"> <p class="step-count">Step 2</p>
				<p class="step-title">Payment Method</p></a>
		 </div>
		  <div class="steps">
			<a href="javascript:void(0)"> <p class="step-count">Step 3</p>
				<p class="step-title">Validation Payment</p></a>
		 </div>
	 </div>
	 <div class="steps-line">
		 <div class="dot dot-one">
			 <a href="javascript:void(0)" class="active"><fa name="circle"></fa></a>
		 </div>
		  <div class="dot dot-two">
			   <a href="javascript:void(0)"><fa name="circle"></fa></a> 
		 </div>
		  <div class="dot dot-three">
			   <a href="javascript:void(0)" ><fa name="circle"></fa></a>
		 </div>
	</div>
	 </div>
<div class="vocuher-remove-success" *ngIf="remove_success">
    <p><img src="assets/images/verified.png"><b>Success:</b> <span> {{ msg }}</span></p>
</div> 
    <div *ngIf="records">
	<div [id]="id" *ngIf="records.cart_items_count>=1" class="touch-removes">
		<div   *ngFor="let cart of records.cart_items" class="voucher-list voucher-{{ cart.item_id }}">
			<div class="voucher-list-full "  >			
				<div  class="voucher-list-single">
					<div class="different-vouchers-left">
						<img mat-card-image src="{{ records.voucher_path }}{{ cart.item_voucher_challenge_icon }}" >
					</div>
					<div class="different-vouchers-right">
						<mat-card-content>	
							<h3>{{ cart.item_merchant_name }}</h3>
                            <h5>{{ cart.item_voucher_name }}</h5>
							<!-- <h3>{{ cart.item_voucher_short_description }}</h3> -->
                            <span>S${{getRowSum(cart.item_voucher_quantity, cart.item_voucher_price) | number : '1.2-2' }}</span>
						</mat-card-content>
						<mat-card-actions>
                            <div class="card_actions_quantity">
                                <div class="Quantity_increase">
                                    <input type='button' value='-' class='qtyminus' (click)="QtyUpdate(ConvertToInt(cart.item_voucher_quantity) - ConvertToInt(1), records.cart_id, cart.item_id)" field='quantity' *ngIf="cart.item_voucher_quantity>1"  />
                                    <input type='button' value='-' class='qtyminus' *ngIf="cart.item_voucher_quantity<=1"  disabled />
                                    <input type='text' name='quantity' readonly='readonly' [value]='cart.item_voucher_quantity' class='qty' />
                                    <input type='button' value='+' class='qtyplus' (click)="QtyUpdate(ConvertToInt(cart.item_voucher_quantity) + ConvertToInt(1), records.cart_id, cart.item_id)" field='quantity' />
                                    <!-- [disabled]="qtydisabled" -->
							 	</div>							
                            </div>
						</mat-card-actions>
						<a href="javascript:void(0);"  (click)="removeFromCart(cart.item_voucher_id, cart.item_id)" class="fa-fa-trash"><i class="fa fa-trash" aria-hidden="true"></i></a>
					</div>

				</div>
			</div>
			<a href="javascript:void(0)" *ngIf="disabled" (click)="removeFromCart(cart.item_voucher_id, cart.item_id)" class="cart-close" style="display:none;"><fa name="close"></fa></a>			
		</div>		
        <div class="touch-removes-shows"></div>
	</div>

	<div class="checkout-fixed" *ngIf="records.cart_items_count>=1">
		<div class="checkout-flex" >
			<div class="checkout-text checkout-width2">
				<p>Total:<span>&nbsp;S${{ records.cart_total }}</span></p>
			</div>
			<div class="checkout-text checkout-width3">
				<a routerLink="/checkout" class="btn  btn_pink btn_minwid btn_lg">Checkout</a>
			</div>
		</div>
 	</div>
	 <div *ngIf="records.cart_items_count<=0">
         <div class="cart-empty-design"> 
             <img src="assets/images/empty-img.png">
             <p>Your cart is empty :(</p>
             <a routerLink="/vouchers"><button class="btn btn_lg btn_pink btn_extra_lg btn-shadow">Start Shopping</button></a>
         </div>
	 </div>
	 <app-bottom-fixed-menu [itemcount] = "records.cart_items_count"></app-bottom-fixed-menu>
        
</div>
</div>
</div>

<style>
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}
</style>

