@import "../../../variables.scss";
.cart-section{
	background: #fff;
	margin-bottom: 106px;
    position: relative;
  //  margin-bottom: 35px;

		.voucher-list{
                position: relative;
                touch-action: pan-y !important; 
                user-select: initial !important;
                -webkit-user-drag: initial !important;
            
                @include padding(0px 48px);	
		.voucher-list-single{
			display: flex;
			
			@include padding(32px 48px);
			margin: 0 -48px; border-bottom: 8px solid $grey-bg;
            border-width: 8px !important;
			.different-vouchers-left{
				width: 216px;
			 
				text-align: center;
				@include border-radius(8px);
				img{
					width: 100%;
					max-height: 100%;
					object-fit: cover;
					@include margin(0px);
					@include border-radius(8px);
				}
			}
			.different-vouchers-right{
				width: calc(100% - 216px);
				padding-left: 35px;
				position: relative;
                align-self: auto; 
				.mat-card-content{
					margin-bottom: 0px;
                    padding-bottom: 45px;
                    display: block;
					h5{
						@include textstyle($font-family, 20px, 700, $grey5);
						margin: 0 0 7px;
                        line-height: normal;
					}
					h3{
						@include textstyle($font-family, 18px, 400, $grey5);
						margin: 0 0 4px;
                        line-height: 1.5; 
                        padding-right: 30px;
					}
                    span 
                    {
                        font-size: 18px;
                        font-weight: 700;
                        color: #20409A;
                    }
				}
				.mat-card-actions{
					@include margin(10px 0px 0px 0px);
                    position: absolute;
                    bottom: 0px;
					a{
						@include textstyle($font-family, 16px, 400, $grey5);
						text-decoration: none;
						span{
							@include textstyle($font-family, 18px, 700, $dark-blue);
							margin-left: 16px;
						}
					}
//					button{
//						
//						@include border-radius(17.5px);
//						@include padding(7px 25px 6px);
//						border: 2px solid $red;
//						background-color: $red;
//						letter-spacing: 0.5px;
//						cursor: pointer;
//						transition: all 0.2s linear;
//						&:hover{
//							background-color: transparent;
//							color: $red;
//						}
//					}
				}
			}
		}
	.cart-close{
		position: absolute;
        top: 32px;
        padding: 0;
        background: transparent;
        width: auto;
        height: auto;
        bottom: 0px;
        margin: auto;
        right: 48px;
        border: none;
        opacity: 1;
	}
	
	}	
    
    .vocuher-remove-success 
    {
        width: 540px;
        height: 64px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 185px;
    }
}

.mat-card-actions
{
    width: 100%;
}
.card_actions_quantity
{
    width: 100%;
    display: flex;
    align-self: center;
    .Quantity_increase
    {
        width: 100px;
        height: 30px;
        background: #fff;
        border: 1px solid #636363;
        border-radius: 3px;
        clear: both;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        .qtyminus, .qtyplus
        {
            width: 30%;
            height: 100%;
            border: none;
            background: transparent;
            padding: 0px 0px;
            outline: none;
            position: relative;
            top: 0;
        }
        .qty
        {
            width: 70%;
            height: auto;
            border: none;
            border-left: 1px solid #636363;
            border-right: 1px solid #636363;
            text-align: center;
            outline: none;
            margin: 0px 0px;
        }
    }
    a 
    {
        width: auto;
        float: right;
        position: absolute;
        right: 35px;
        z-index: 99;
    }
}
.fa-fa-trash
{
    font-size: 30px !important;
    color: #EE325F !important;
    position: absolute;
    top: -9px;
    right: 0px;
}


@media (max-width:568px)
{

	.cart-section{
        margin-bottom: 67px !important;
	.voucher-list{ 
	
	.voucher-list-single{  border-width: 4px;
		.different-vouchers-left{
			width: 130px !important;
            height: auto !important;
            flex: 1;
		}
		.different-vouchers-right{
			width: calc(100% - 130px) !important; 
			padding-left: 16px;
            flex: 1;
			.mat-card-content{
                padding-bottom: 35px;
				h5{
					
					font-size:14px;
					margin-bottom: 3px;
					line-height: normal;
				}
				h3{
					@include textstyle($font-family, 12px, 400, $grey5);
				padding-right: 25px;
				}
                span
                {
                    font-size: 15px;
                }
			}
			.mat-card-actions{
                    width: calc(100% - 15px) !important;
				a{
						font-size:14px;
						line-height: normal;
						span{
							font-size:16px;
							line-height: normal;
						}
				}
			}
		}			
	}
		.cart-close{
			padding:5px 13px;
            right: 16px;
			fa{
				font-size:12px;
			}
			
		}
}
		

}
	.wrapper_out{
		bottom:11px;
	}
    
    .cart-section
    {
        .vocuher-remove-success
        {
            width: auto;
            height: 45px;
            margin-left: 15px !important;
            margin-right: 15px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 123px;
            p 
            {
                margin-bottom: 0px;
                font-size: 13px;
                text-align: left;
                padding: 0px 10px;
                display: flex;
            }
        }
    }
}

.voucher-list
{
    &:before
    {
        content: '';
        width: 91px;
        height: 98%;
//        background: #EE325F;
        position: absolute;
        right: -100px;
        top: 0px;
        bottom: 0;
        margin: auto;
        background-image:url('../../../assets/images/del-image.PNG');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 91px;
        display:none;
   }
}

/* cart empty style */

.cart-empty-design
{
    max-width: 300px; 
    height: auto;
    background-color: #fff;
    margin: auto;
    text-align: center;
   // box-shadow: 0px 1px 4px #000000;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 25px 20px;
    padding-bottom: 0px;
    img 
    {
        margin-bottom: 20px;
        width: 100px;
    }
    p 
    {
        @include textstyle($font-family, 18px, 400, #646464);
        margin: 0px;
        padding: 0px;
        margin-bottom: 25px;
    }
    button 
    {
        width:180px;
    }
}

.cart-header-changes
{
  //  bottom: 165px;
}

@media screen and (max-width:568px)
{
    .cart-empty-design
    {
        margin-top: 0px;
         button 
        {
            line-height: initial;
            width: 120px;
        }
        p 
        {
            font-size: 16px;
        }
    }
   
    .cart-section
    {
        .voucher-list
        {
            padding: 0px 15px;
        }
    }
    .voucher-list
{
    &:before
    {
        content: "";
        width:60px;
        height: 98%;
//        background: #EE325F;
        position: absolute;
        right: -100px;
        top: 0px;
        bottom: 0;
        margin: auto;
        background-image:url('../../../assets/images/del-image.PNG');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
   }
}
    .cart-close{
       position: absolute;
		padding:0 !important;
//        width:60px !important;
//        right:-100px !important;
        top:25px !important;
        fa
        {
            font-size: 14px !Important;
        }
	}
    .cart-header-changes
    {
      //  bottom: 141px !important;
    }
    .cart-section 
    {
        margin-bottom: 100px;
    }
    
    .card_actions_quantity
    {
//        display: block;
        .Quantity_increase
        {
            width: 100px;
            height: 26px;
            background: #fff;
            border: 1px solid #636363;
            border-radius: 3px;
            clear: both;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            font-size: 15px;
        }
        a
        {
            width: auto;
            float: right;
            position: absolute;
            right: 0px;
            z-index: 99;
        }
    }
    .fa-fa-trash {
    font-size: 25px !important;
    position: absolute;
    top: -9px;
    right: 0px;
    }
}

//.voucher-list-active
//{
//    right: 60px;
//    position: relative;
//    &:before
//    {
//        right: 0px;
//    }
//}

