/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";
 
    
    .header-beforelogin{
        background-image: $header-beforelogin;
        background-repeat: no-repeat;
        background-size: cover;
        @include padding(30px 30px 70px 30px);
        display: flex;
        justify-content: space-between;
        border-bottom-right-radius: 70px;
        .header-beforelogin-left{
            img{
                width: 12px;
            }
        }
        .signup-text{
            h2{
                @include textstyle($font-family, 32px, 700, $white);
    //			text-shadow: 1px 0px 1px #fff;
                letter-spacing: 0.8px;
                margin-bottom: 0px;
                line-height: 32px;
            }
        }
        .account-signin{
            p{
                @include textstyle($font-family, 18px, 600, $white);
                margin-top: 5px;
                a{
                    @include textstyle($font-family, 18px, 400, $white);
                    text-decoration: underline;
                    @include transition(all 0.15s linear);
                    &:hover{
                        color:$yellow;
                    }
                }
            }
        }
    }
    
    @media (max-width: 767px){
    .header-beforelogin{
        .signup-text{
            h2{
                @include textstyle($font-family, 32px, 900, $white);
    //			text-shadow: 1.5px 0px 1px #fff;
            }
        }
        .account-signin{
            p{
                @include textstyle($font-family, 12px, 400, $white);
                margin-top: 0px;
                a{
                    @include textstyle($font-family, 14px, 400, $white);
                }
            }
        }
    }
    }


