
<app-header-signup></app-header-signup>

	<div class="signup-form signup-form2">
		<div class="success-msg-content" *ngIf="success">
			<div class="success-msg">
			<div class="icon"><span><fa name="check"></fa></span></div>
			<div class="msg">
				<div class="content">
				<h1>Success</h1>
				<p>You have registered with Picky Eater successfully</p></div>
				<div class="close"><fa name="close" (click)="closeme()"></fa></div>
			</div>
			</div>
		</div>
		
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<div class="name-inputs">
			    <div class="form-group name-inputs-single">
			        <mat-form-field>
                        <label>First Name</label>
						<input matInput formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"  />
						<div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
							<div *ngIf="f.firstname.errors.required">First name is required</div>
						</div>
	  				</mat-form-field>
			    </div>
			    <div class="form-group name-inputs-single">
			        <mat-form-field>
                        <label>Last Name</label>
						<input matInput formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
						<div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
							<div *ngIf="f.lastname.errors.required">Last name is required</div>
						</div>
	  				</mat-form-field>
			    </div>
			</div>
		    <div class="form-group input-filed">
		        <mat-form-field>
                    <label>Email</label>
					<input matInput type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
					<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
						<div *ngIf="f.email.errors.required">Email is required</div>
						<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
					</div>
  				</mat-form-field>
		    </div>
		    <div class="form-group input-filed">
		        <mat-form-field>
                    <label>Password</label>
					<input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  />
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
						<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
					</div>

  				</mat-form-field>
		    </div>
		    <div class="form-group input-filed">
		        <mat-form-field>
                    <label>Re-Password</label>
					<input matInput type="password" formControlName="cpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }"  />
					<div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
						<div *ngIf="f.cpassword.errors.required">Confirm password is required</div>
						<div *ngIf="f.cpassword.errors.mustMatch">Passwords must match</div>

					</div>

  				</mat-form-field>
		    </div>
			
		    <div class="or-text">or sign up with</div>
		    <div class="signup-google-facebook">
		    	<div class="signup-google">
		    		<a href="javascript:void(0);" (click)="signInWithGoogle()">
<!--		    			<img _ngcontent-c1="" class="social" src="../assets/images/logo_gmail.svg">-->
                        <img _ngcontent-c1="" class="social" src="../assets/images/logo_gmail-new.png">
                        <span>Sign up with<br _ngcontent-c1="">Google </span>
		    		</a>
		    	</div>
		    	<div class="signup-facebook">
		    		<a href="javascript:void(0);" (click)="signInWithFB()">
<!--		    			<img _ngcontent-c1="" class="social"  src="../assets/images/fb-logo.svg">-->
                        <img _ngcontent-c1="" class="social"  src="../assets/images/fb-logo-new.png">
                        <span>Sign up with<br _ngcontent-c1="">Facebook</span>
		    		</a>
		    	</div>
			</div>
		    <div class="form-group signup-btn-main loading-btn-resize"> 
					<button  class="btn btn_pinkbr btn_extra_lg register-button">Sign Up <mat-spinner *ngIf="loading"></mat-spinner></button>
					 <!--<div class="signup-signin">
						<p>Have an account already? <a routerLink="/login">Sign In</a></p>
					</div>-->
				</div>
		</form>
			
			

		
	</div>
<app-footer-white></app-footer-white>


