<footer>
	<div class="picky-footer whitebg">
		<p>Are you a merchant? <br> <a href="mailto:ronnylee@hzcapitalgroup.com">Sign Up now</a> for our merchant programme</p>  
		<p class="small-font">All rights reserved. Powered by Black Lotus.</p>
	</div>
</footer>