/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.picky-footer{
	background-color: $dark-blue;
	text-align: center;
	@include padding(15px);
	p{
		@include textstyle($font-family, 14px, 300, $white);
		line-height: 20px;
		letter-spacing: 0.16px;
		@include margin(0px);
		a{
			color: $yellow;
			text-decoration: underline;
			@include transition(all 0.15s linear);
			&:hover{
				color: $red;
			}
		} 
	}
	p.small-font{
		font-size: 12px;
		@include margin(12px 0px 0px 0px);
	}
}


/*responsive css*/
@media (max-width: 767px){
.picky-footer{
	@include padding(15px);
	p{
		@include textstyle($font-family, 12px, 300, $white);
		line-height: 14px;
	}
	p.small-font{
		font-size: 10px;
		@include margin(10px 0px 0px 0px);
	}
}
}