<header>
	<div class="picky-header" *ngIf="!isAdvancedRoute('quest') && !isAdvancedRoute('voucher') && !isAdvancedRoute('riddle') && !isAdvancedRoute('riddle') && !isAdvancedRoute('fullchallenge') && !isAdvancedRoute('clues-page') && !isAdvancedRoute('faq') && !isAdvancedRoute('page')">
		<a routerLink="/quests"><img src="assets/images/logo-red.png" alt="The Picky Eater"></a>
	</div>
<!--
	
	<div class="picky-header-quest" *ngIf="isAdvancedRoute('quest')">
		<a routerLink="#"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
	   <div class="cart-image"><img src="../../../assets/images/cart-icon.png" alt="cart">
		<div _ngcontent-pkp-c5="" class="cart-count"> 1</div>
		</div> 
		<app-cart-count></app-cart-count>	
	</div>
-->
	
	<div class="picky-header-quest" *ngIf="isAdvancedRoute('voucher')">
		<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
<!--
	   <div class="cart-image"><img src="../../../assets/images/cart-icon.png" alt="cart">
		<div _ngcontent-pkp-c5="" class="cart-count"> 1</div>
		</div> 
-->
		
	</div>
	<div class="picky-header-quest cart-page" *ngIf="isAdvancedRoute('riddle') || isAdvancedRoute('fullchallenge') || isAdvancedRoute('clues-page') || isAdvancedRoute('quest')">
		<a href="javascript:history.back();">
			<img src="../../assets/images/left-arrow-white.png " class="left-arrow">
		</a>
		<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
			<app-cart-count [attr.itemcount]="itemcount"></app-cart-count>
			
	</div>
    <div class="picky-header-quest cart-page picky-header-quest-new" *ngIf="isAdvancedRoute('faq') || isAdvancedRoute('page')">
		<a href="javascript:history.back();">
			<img src="../../assets/images/left-arrow-white.png " class="left-arrow">
		</a>
		<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
        <app-cart-count [attr.itemcount]="itemcount"></app-cart-count>
			
	</div>
<!--
		<div class="picky-header-quest  cart-page" *ngIf="">
			<a routerLink="javascript:history.back();">
			<img src="../../assets/images/left-arrow-white.png " class="left-arrow">
		</a>
		<a routerLink="#"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
			<app-cart-count></app-cart-count>
			
	</div>
			<div class="picky-header-quest  cart-page" *ngIf="i">
			<a routerLink="javascript:history.back();">
			<img src="../../assets/images/left-arrow-white.png " class="left-arrow">
		</a>
		<a routerLink="#"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
			<app-cart-count></app-cart-count>
			
	</div>
-->
	

</header>