/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";


/* header */
.picky-header{
	text-align: center;
	background: linear-gradient(to right, $light-blue 0%,$dark-blue 100%);
	@include padding(15px);
	
}
/* header */

/*quest-header*/
.picky-header-quest{
	text-align: center;
	background: linear-gradient(to right, $light-blue 0%,$dark-blue 100%);
	@include padding(15px 48px);
	position: relative;
	
	
//	.cart-image{
//		position: absolute;
//    	right: 30px;
//    	top: 20px;
//		
//	}
//	.cart-count{
//	position: absolute;
//    left: 13px;
//    top: 7px;
//    text-align: center;
//    border-radius: 7px;
//    width: 15px;
//    height: 15px;
//    background-color: #EE325F;
//    border: 1px solid #EE325F;
//    font-weight: 400;
//    color: #fff;
//    line-height: 16px;
//    font-size: 10px;
//	}
	
}

	.cart-page{
	

		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		a{
			align-self: center;
			.left-arrow{
				width:17px;
			}
			
		}
}

.picky-header-quest-new
{
    app-cart-count
    {
        position: relative;
        z-index: -99; 
    }
}
@media (max-width:568px){
	.picky-header-quest{
        padding: 15px 15px;
		a{
			img{
				width:200px;
			}
		}
		&.cart-page{
		a{
			.left-arrow{
				width:8px;
			}
			
		}
}
	}
	.picky-header{
		padding:0px;
		img{
			width:216px;
		}
		
	}
}