<div class="wrapper_out">
<app-header [itemcount] = "itemcount"></app-header>
    <div class="general-pages">
        <h2>{{ page_info.page_name }}</h2>
        <div [innerHtml]="page_info.page_description" class="general-pages-inner">
        </div>
    </div>
    </div>
 <app-bottom-fixed-menu [itemcount] = "itemcount"></app-bottom-fixed-menu>
