/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.vouchers-full-section{
	/*@include padding(0px 30px);*/
	/*margin-top: -130px;*/
	.different-voucher-single{
		@include padding(0px);
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom:30px;
		background: transparent;
		box-shadow:none;
		width: 90%;
		.different-vouchers-card{
			img{
				/*width: 100%;*/
				margin: 0px;
				@include border-radius(8px);
				box-shadow: 0px 18px 28px -18px rgba(4, 4, 4, 0.58);
				
			}
		}
	}

	}
	.vouchers-categories{
			@include padding(0px 48px);
		h2{
			@include textstyle($font-family, 24px, 700, $grey5);
			@include margin(35px 0px 0px 0px);
		}

	}
	.voucher_list_title{
		background: $grey-bg; 
        padding: 29px 48px;
        position: relative;
        display: flex;
        align-items: center;
		h2{
			@include textstyle($font-family, 24px, 700, $grey5); margin: 0 0 0px;
			flex: 1;
		}
		h4{
			@include textstyle($font-family, 24px, 400, $grey5);
			margin: 0;
            flex: 1;
            text-align: right;
		}
	}
	.voucher-list{
			@include padding(0px 48px);		
            margin-bottom: 5px;
		.voucher-list-single{
			display: flex;
			
			@include padding(32px 30px);
			margin: 0 -30px; border-bottom: 8px solid $grey-bg;
			.different-vouchers-left{
				width: 216px;
                line-height: 0;
				text-align: center;
				@include border-radius(8px);
				img{
					width: 100%;
					max-height: 100%;
					object-fit: cover;
					@include margin(0px);
					@include border-radius(8px);
                    max-height: 148px;
				}
			}
			.different-vouchers-right{
				width: calc(100% - 216px); padding-bottom: 40px;
				padding-left: 35px;
				position: relative;
                align-self: auto; 
				.mat-card-content{
					margin-bottom: 0px;
					h5{
						@include textstyle($font-family, 18px, 400, $grey5);
						margin: 0 0 7px;
                        line-height: initial;
					}
					h3{
						@include textstyle($font-family, 20px, 700, $grey5);
						margin-top: 0px;
                        line-height: initial;
					}
				}
				.mat-card-actions{
					@include margin(10px 0px 0px 0px);
                    position: absolute;
                    bottom: 0px;
					button{
						@include textstyle($font-family, 16px, 700, $white);
						@include border-radius(30px);
						//@include padding(4px 25px 4px);
						border: 2px solid $red;
						background-color: $red;
						letter-spacing: 0.5px;
						cursor: pointer;
						transition: all 0.2s linear;
//						min-width:180px;
                        min-width: 201.24px;
						&:hover{
							background-color: transparent;
							color: $red;
						}
					}
				}
			}
		}
	
}

.footer-menu-section{
	@include padding(20px 25px);
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	background-color: $white;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
	ul{
		list-style: none;
		margin-bottom: 0px;
		padding-left: 0px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@include margin(0px);
		li{
			display: inline-block;
			text-align: center;
			a.active{
				img{
					-webkit-filter: grayscale(0); 
  					filter: grayscale(0);
				}
				span{
					@include textstyle($font-family, 12px, 700, $dark-blue);
				}
			}
			a{
				text-decoration: none;
				img{
					-webkit-filter: grayscale(100%); 
  					filter: grayscale(100%);
				}
				span{
					@include textstyle($font-family, 12px, 400, $grey5);
					display: block;
					margin-top: 5px;
				}
			}	
		}
	}
}

.quest-complete
{
    padding:20px 0px;
    h3 
    {
        input 
        {
            margin: 20px 0px;
        }
    }
    button 
    {
        min-width: 180px;
    }
}
.loading-btn-resize
{
    button
    {
       // @include box-shadow (0px 0px 10px rgba(238, 50, 95, 0.54));
    }
}



/*Responsive css*/
@media (max-width: 568px){
.vouchers-full-section{
.vouchers-categories{ 
	h2{
		@include textstyle($font-family, 14px, 700, $grey5);
		@include margin(5px 0px 0px 0px);
	}
	ul{
		li{
			
			.voucher-category-name{
				a{
					text-decoration: none;
					@include textstyle($font-family, 12px, 400, $grey5);
					white-space: initial;
					line-height:14px;
				}
			}
		}
	}
}
.voucher-list{ 
	
	.voucher-list-single{  border-width: 4px;
		
		.different-vouchers-right{
			width: calc(100% - 185px) !important; 
            flex:1;
			.mat-card-content{
				h5{
					@include textstyle($font-family, 12px, 400, $grey5);
					margin-bottom: 5px;
				}
				h3{
					@include textstyle($font-family, 14px, 700, $grey5);
				    margin-bottom: 3px;
				}
			}
			.mat-card-actions{
				@include margin(0px);
                position: absolute;
                bottom: 0px;
				button{
					@include textstyle($font-family, 12px, 700, $white);					
					@include padding(4px 15px 3px);
					min-width: 120px;
					&:hover{						
						color: $red;
					}
				}
			}
		}			
	}
}
}
.voucher_list_title{ 
	h2{ font-size: 14px; margin: 0;}
	h4{ font-size: 14px;}
}
.footer-menu-section{
	ul{
		li{
			a.active{
				span{
					@include textstyle($font-family, 10px, 700, $dark-blue);
				}
			}
			a{
				span{
					@include textstyle($font-family, 10px, 400, $grey5);
				}
			}
		}
	}
}
    
.quest-complete
{
    padding:20px 0px;
    h3 
    {
        font-size: 18px;
        input 
        {
            font-size: 14px;
            margin: 15px 0px;
        }
    }
    button 
    {
        min-width: 120px;
    }
}
}


@media (max-width: 568px)
{
	.voucher-list
    { 		
        padding: 0px 30px;
		.voucher-list-single
        {  
            @include padding(20px 15px);
			.different-vouchers-right
            {
				padding-left: 15px;
                padding-bottom: 32px;
                .mat-card-content
                {
                    h5, h3
                    {
                        line-height: initial !important;
                    }
                }
			}
		}
	}
    .quest-complete
    {
        .profile-form
        {
            padding: 0px 15px !important;
            button 
            {
                padding: 4px 0px;
                min-width: 110px;
            }
        }
    }
    .vouchers-full-section
    {
        .voucher_list_title
        { 
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
    .voucher-list .voucher-list-single .different-vouchers-left 
    {
        width: 185px;
        flex:1;
    }
}

.different-vouchers-right
{
    a 
    {
        text-decoration: none !important;
    }
}