<div class="wrapper_out">
<app-quest-header [itemcount]="itemcount"></app-quest-header>
<!--div class="myquest-full">
	<div class="quest-types">
		<h2>Categories</h2>
		<app-categoryfilter></app-categoryfilter>
	</div>
	<div class="myquest-list">
	 
		<h4>{{records.length}} Quests</h4>
		<div class="myquest-list-full">
			<div class="myquest-list-single"  *ngFor="let quest of records" >
			<a routerLink="/quest/{{quest.quest_id}}"><img mat-card-image   src={{quest.quest_challenge_icon}} /></a>
			</div>
			 
		</div>
	</div>
</div-->
<div class="vouchers-full-section" *ngIf="vrecords"> 
<!--
	<div class="vouchers-categories">
		<h2>Categories</h2>
			<app-categoryfilter (categoryEvent)="receiveCategory($event)"></app-categoryfilter>
         <div *ngIf="loading" class="spinner-loading"><mat-spinner></mat-spinner></div>
	</div>
-->
	<div class="voucher_list_title">
		<h2>All Quests</h2>
		<h4>{{vrecords.length}} Quests</h4>
	</div>
	<div class="voucher-list">			
		<div class="voucher-list-full">			
			<div  class="voucher-list-single" *ngFor="let quest of vrecords">
				<div class="different-vouchers-left">
					<a routerLink="/quest/{{ quest.quest_id }}"><img mat-card-image src={{quest.quest_challenge_icon}} ></a>
				</div> 
				<div class="different-vouchers-right">
					<a routerLink="/quest/{{ quest.quest_id }}"><mat-card-content>	
						<!-- <h5>{{quest.quest_merchant_name}}</h5> -->
						<h3 innerHTML={{quest.quest_name}}></h3>
						<h5>{{quest.quest_short_description}}</h5>
					</mat-card-content></a>
					<mat-card-actions>
						<a href="javascript: void(0);" *ngIf="quest.quest_accepted_status=='A'"  ><button class="btn btn_pink btn_lg " (click)="completeRequest(quest.quest_id)" >Complete</button></a>
                        <a href="javascript: void(0);" *ngIf="quest.quest_accepted_status=='R'" ><button class="btn btn_pink btn_lg " routerLink="/quest-complete/{{ quest.quest_id }}" >Requested</button></a>
                        <a href="javascript: void(0);" *ngIf="quest.quest_accepted_status=='C'" ><button class="btn btn_pink btn_lg btn-completed ng-star-inserted" routerLink="/quest/{{quest.quest_id}}"  >Completed</button></a>
						<a href="javascript: void(0);" *ngIf="quest.quest_accepted_status=='J'"><button class="btn btn_lg btn_pink" routerLink="/quest/{{quest.quest_id}}" >Join now</button></a>
					</mat-card-actions>
				</div>
			</div>		 
		</div>
	</div>
</div>
</div>
<app-bottom-fixed-menu [itemcount]="itemcount"></app-bottom-fixed-menu>