<div class="wrapper_out quest-complete-wrapper">
    <app-activities-header [itemcount] = "itemcount"></app-activities-header>
    <div class="quest-complete">
        <div class="profile-form">
<!--            <h3>Enter code given by merchant </h3>-->
            <form *ngIf="questForm" [formGroup]="questForm" (ngSubmit)="OnSubmit()">
                <div class="form-group input-filed">
                    <mat-form-field>
                        <label>Enter code given by merchant</label>
                        <input matInput formControlName="code" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }"  />
                        <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                            <div *ngIf="f.code.errors.required">Code is required</div>
                            <div *ngIf="f.code.errors.minlength || f.code.errors.maxlength">Code must be 4 characters long.</div>
                        </div>
                    </mat-form-field>
                </div>

                <div class="form-group signup-btn-main loading-btn-resize"> 
                    <button  class="btn btn_pinkbr register-button btn_extra_lg">Submit </button>
                </div>
            </form>
        </div>
    </div>
    <app-bottom-fixed-menu [itemcount] = "itemcount"></app-bottom-fixed-menu>
</div>
