	/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.header-beforelogin{
	background-image: $header-beforelogin;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(30px 30px 100px 30px);
	display: flex;
	justify-content: space-between;
	.header-beforelogin-left{
		img{
			width: 12px;
		}
	}
	.signup-text{
		h2{
			@include textstyle($font-family, 34px, 900, $white);
//			text-shadow: 1px 0px 1px #fff;
    		letter-spacing: 0.8px;
    		margin-bottom: 0px;
			line-height: 32px;
			margin-top:32px;
		}
	}
	.account-signin{
		p{
			@include textstyle($font-family, 18px, 900, $white);
			margin-top: 8px;
			a{
				@include textstyle($font-family, 18px, 400, $white);
				text-decoration: underline;
				@include transition(all 0.15s linear);
				&:hover{
					color:$yellow;
				}
			}
		}
	}
}
.header-vouchersbg{
	background-image: $header-beforelogin;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(24px 48px 48px);
	display: flex;
	justify-content: space-between;
	border-bottom-right-radius: 60px;
	height: 254px;
	.header-beforelogin-left{
		img{
			width: 12px;
		}
	}
	.signup-text{
		h2{
			@include textstyle($font-family, 34px, 900, $white);
//			text-shadow: 1px 0px 1px #fff;
    		letter-spacing: 0.8px;
    		margin-bottom: 0px;
			line-height: 32px;
		}
	}
	.account-signin{
		p{
			@include textstyle($font-family, 14px, 400, $white);
			margin-top: 8px;
			a{
				@include textstyle($font-family, 14px, 400, $white);
				text-decoration: none;
				@include transition(all 0.15s linear);
				&:hover{
					color:$yellow;
				}
			}
		}
	}
}

@media (max-width: 767px){
.header-beforelogin{
	.signup-text{
		h2{
			@include textstyle($font-family, 32px, 900, $white);
//			text-shadow: 1.5px 0px 1px #fff;
		}
	}
	.account-signin{
		p{
			@include textstyle($font-family, 12px, 400, $white);
			margin-top: 8px;
			a{
				@include textstyle($font-family, 14px, 400, $white);
			}
		}
	}
}
}
