<div [ngClass]="(isAdvancedRoute('cart'))?'header-vouchersbg ':'header-beforelogin'"  >
	<div class="header-beforelogin-left">
		<a href="javascript:history.back();">
			<img src="../../assets/images/beforepage-arrow.svg">
		</a>
		
		
		<div    *ngIf="isAdvancedRoute('login')"  class="signup-text">
			<h2>Login</h2>
			<div class="account-signin">
				<p>New User? <a routerLink="/register">Sign Up</a></p>
			</div>
		 
		</div>

		<div    *ngIf="isAdvancedRoute('register')"  class="signup-text">
			<h2>Create <br> Account</h2>
			<div class="account-signin">
				<p>Have an account already? <a routerLink="/login">Sign in</a></p>
			</div>
		 
		</div>
        
        <div    *ngIf="isAdvancedRoute('reset-password')"  class="signup-text">
			<h2>Reset Password</h2>
<!--
			<div class="account-signin">
				<p>New User? <a routerLink="/register">Sign Up</a></p>
			</div>
-->
		 
		</div>
        
        <div    *ngIf="isAdvancedRoute('forgot-password')"  class="signup-text">
			<h2>Forgot Password</h2>
<!--
			<div class="account-signin">
				<p>New User? <a routerLink="/register">Sign Up</a></p>
			</div>
-->
		 
		</div>

<!--
		<div   *ngIf="isAdvancedRoute('cart')"   class="signup-text">
			<h2>Cart</h2>
		</div>
-->

		<div  *ngIf="isAdvancedRoute('checkout')"    class="signup-text">
			<h2>Checkout</h2>
		</div>
		<div  *ngIf="isAdvancedRoute('thankyou')"    class="signup-text">
			<h2>Thankyou</h2>
		</div>



	</div>
	<div class="header-beforelogin-right">
<!--		<a routerLink="/quests"><img src="../../assets/images/logo-icon.png"></a>-->
        <a routerLink="/quests"><img src="../../assets/images/logo-icon-new.png"></a>
	</div>
</div>


<!--
<div class="header-beforelogin">
	<div class="header-beforelogin-left">
		<a routerLink="javascript:history.back();">
			<img src="../../assets/images/beforepage-arrow.svg">
		</a>
		<div    *ngIf="isAdvancedRoute('login')"  class="signup-text">
			<h2>Login</h2>
			<div class="account-signin">
				<p>New User? <a routerLink="/register">Sign Up</a></p>
			</div>
		 
		</div>

		<div    *ngIf="isAdvancedRoute('register')"  class="signup-text">
			<h2>Create <br> Account</h2>
			<div class="account-signin">
				<p>Have an account already? <a routerLink="/login">Sign in</a></p>
			</div>
		 
		</div>

		<div   *ngIf="isAdvancedRoute('cart')"   class="signup-text">
			<h2>Cart</h2>
		</div>

		<div  *ngIf="isAdvancedRoute('checkout')"    class="signup-text">
			<h2>Checkout</h2>
		</div>
		<div  *ngIf="isAdvancedRoute('thankyou')"    class="signup-text">
			<h2>Thankyou</h2>
		</div>



	</div>
	<div class="header-beforelogin-right">
		<img src="../../assets/images/logo-icon.png">
	</div>
</div>
-->

