/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";
.wrapper_out{background: $bgcolor;}
.guest-details-full{
	padding-bottom:0px;
	.guest-img{
		max-width: 100%;
		img{
			width: 100%;
		}
	}
	.guest-content{
		.slider-sec{
			
		}
		 .quest-challeg-quest
        {
            height:auto;
            padding:22px 48px;
            background: #fff;
            box-shadow: 0px 5px 9px 0px rgba(181, 181, 181, 0.4);
            margin:auto;
            position: relative;
            margin-bottom: 41px;
            .voucher-lists
            {
                display: flex;
                padding-bottom: 5px;
                h6 
                {
                    text-align: left;  
                    @include textstyle($font-family, 24px, bold, $grey5);
                    line-height: 29px;
                    @include margin(0px);
                    flex: 1;
                }
                p 
                {
                    text-align: right;
                    @include textstyle($font-family, 18px, 400, $grey5);
                    line-height: 22px !important;
                    @include margin(0px); 
                }
            }
            h2 
            {
                @include textstyle($font-family, 32px, 400, $dark-blue);
                line-height: 36px;
                @include margin(0px); 
                @include padding(0px 0px 16px 0px); 
            }
            p 
            {
                line-height: 24px;
                @include margin(0px); 
            }
        }

		.participate-button{
			text-align: center;
    		
			a{
				@include textstyle($font-family, 14px, 700, $white);
				border: 2px solid $red;
				@include padding(7px 52px);
				@include border-radius(17.5px);
				letter-spacing: 0.5px;
				background-color: $red;
				cursor: pointer;
    			position: relative;
    			@include transition(all 0.2s linear);
    			@include box-shadow(0px 6px 17.5px rgba(238, 50, 95, 0.54));
    			text-decoration: none;
    			display: inline-block;
    			&:hover{
    				background-color: $bg-color;
				    color: #fff;
				    border: 2px solid $bg-color;
				    box-shadow: none;
    			}
			}
		}
		
.reward_bar
{ 
    background: linear-gradient(to right, $light-blue 0%,$dark-blue 100%);	
    padding: 30px 40px;
    margin-top: 40px;
	display: inline-block;
}
.reward_top
{ 
    display: flex; 
    margin: 0 0 20px;
}
.reward_img
{ 
    width: 216px;
}	
.reward_info
{ 
    padding-left: 30px;
    h3
    { 
        @include textstyle($font-family, 24px, 400, $white);
        margin: 0 0 15px;
    }
    p
    { 
        @include textstyle($font-family, 18px, 400, $white); 
        margin: 0 0 30px;
    }
    .redeem_limitnote
    { 
        margin: 0;
    }
}
.reward_btm
{ 
    text-align: center;
.btn_pink
    { 
        @include box-shadow(0px 6px 17.5px rgba(238, 50, 95, 0.54));
        &:hover
        {
            box-shadow: none;
        }
    }
}
	}
}
.quest_details_newpage
{
    width: 100%;
    height:auto;
    clear:both;
    overflow: auto;
    text-align: center;
    img 
    {
        width: 100%;
        display: block;
    }
    a 
    {
        margin: 30px 0px;
        color:#fff;
        &:hover 
        {
            color:#EE325F;
        }
    }
    .btn-completed
    {
       &:focus
        {
            box-shadow: none;
        } 
    }
}

.quest-details-fixed
{
    width: 100%;
    height: auto;
    background: #fff;
    position: static;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: block;
    z-index: 9;
    max-width:640px;
    a 
    {
        margin: 22.5px 48px;
        width: auto;
        display: block;
        padding: 9px 0px !important;
        border-radius: 16px;
    }
}

.quests-details-resize
{
    .btn-completed
    {
        line-height: inherit !important;
    }
}

@media (max-width: 576px){

	.guest-details-full{
	.guest-content{
		
		h3{
			font-size: 24px;
		margin-bottom: 20px;
			
		}
		h4{
			font-size: 12px ;
			@include margin(0px);
			
		}
		p{
		br{
			display: none;
		}
	}
		.reward-section{
				@include padding(18px 0 22px);
			
				.reward-section-right{
		p{
			width:149px;	
		}
		h4{
			font-size: 12px ;
			}
	}
		}
	}
}
}

    
@media screen and (max-width:568px)
{
    .guest-details-full
    {
        .guest-content
        {
            .quest-challeg-quest
            {
                padding: 15px 15px;
                p 
                {
                    font-size: 14px;
                    line-height: inherit;
                }
                .voucher-lists
                {
                    h6 
                    {
                        font-size: 18px;
                    }
                }
            } 
            
        }
    }
    .reward_bar
    {
        padding: 30px 15px !important;
        .reward_top
        {
            .reward_img
            {
                width: auto;
                flex: 1;
                img 
                {
                    width:100%;
                }
            }
            .reward_info
            {
                flex: 1;
                padding-left: 20px;
                h3 
                {
                    margin: 0 0 5px;
                    font-size: 18px;
                }
                p 
                {
                    margin: 0 0 0px;
                    font-size: 12px;
                }
            }
        }
    }
    
.quest-details-fixed
{
    a 
    {
        margin: 19px 15px;
        width: auto;
        display: block;
        padding: 9px 0px !important;
    }
}
.quests-details-resize
{
    .btn-completed
    {
        line-height: inherit !important;
    }
}
}

