<div class="wrapper_out quests-details-resize">
<app-header [itemcount] = "itemcount"></app-header>
    
    <div class="quest_details_newpage" *ngIf="records">
        <img *ngIf="records.quest_detail_image" src={{records.quest_detail_image}} alt="guest image">
        <p *ngIf="records.quest_detail" [innerHtml]="records.quest_detail"></p>
        <img *ngIf="records.quest_detail_image1" src={{records.quest_detail_image1}} alt="guest image">
        <p *ngIf="records.quest_detail1" [innerHtml]="records.quest_detail1"></p>
        <img *ngIf="records.quest_detail_image2" src={{records.quest_detail_image2}} alt="guest image">
        <p *ngIf="records.quest_detail2" [innerHtml]="records.quest_detail2"></p>
        <div class="quest-details-fixed">
            <a  class="btn btn_lg btn_pink btn_minwid btn_extra_lg" *ngIf="!records.quest_already_joined" (click)="acceptQuest(records.quest_id)">Accept Challenge</a>
            <a href="javascript: void(0);" class="btn btn_lg btn_pink btn_minwid btn_extra_lg" *ngIf="records.quest_already_joined && records.quest_accepted_status=='A'" (click)="completeRequest(records.quest_id)" >Complete</a>
            <a routerLink="/quest-complete/{{ records.quest_id }}" class="btn btn_lg btn_pink btn_minwid btn_extra_lg" *ngIf="records.quest_already_joined && records.quest_accepted_status=='R'" >Requested</a>
            <a href="javascript: void(0);" class="btn btn_lg btn_pink btn_minwid btn_extra_lg btn-completed" *ngIf="records.quest_already_joined && records.quest_accepted_status=='C'">Completed</a>
            <a href="javascript: void(0);" class="btn btn_lg btn_pink btn_minwid btn_extra_lg" *ngIf="records.quest_already_joined && records.quest_accepted_status=='E'">Expired</a>
        </div>
        
    </div>

    
<!--
<div class="guest-details-full" *ngIf="records">
	<div class="guest-img">
		<img src={{records.quest_detail_image}} alt="guest image">
<img src={{records.quest_detail_image}} alt="guest image">
<img src={{records.quest_detail_image}} alt="guest image">
	</div>
	
	<div class="guest-content">
		   <div class="quest-challeg-quest">
                 <div class="voucher-lists">
					 <h6>{{ records.quest_name }}</h6>
                  </div>
                  <h2>Find out Hoo are we!</h2> 
                 <p [innerHtml]="records.quest_description"></p>
             </div>
		<div class="slider-sec">
		<app-clue-slider></app-clue-slider>
			</div>
		
		 <div class="reward_bar">
        <div class="reward_top">
            <div class="reward_img">
                <img src="../../../assets/images/quest-image.png" />
            </div>
            <div class="reward_info">
                <h3>Reward you will receive</h3>
                <p>Complete the task and get<br> to win a reward voucher worth S${{records.quest_voucher_value}}</p>
            </div>
        </div>
        <div class="reward_btm text-center">
            <a href="javascript: void(0);" class="btn btn_pink btn_lg btn_minwid" *ngIf="!records.quest_already_joined" (click)="acceptQuest(records.quest_id)">Participate Now</a>
            <a href="javascript: void(0);" class="btn btn_pink btn_lg btn_minwid" *ngIf="records.quest_already_joined && records.quest_accepted_status=='A'" (click)="completeRequest(records.quest_id)" >Complete</a>
            <a routerLink="/quest-complete/{{ records.quest_id }}" class="btn btn_pink btn_lg btn_minwid" *ngIf="records.quest_already_joined && records.quest_accepted_status=='R'" >Requested</a>
            <a href="javascript: void(0);" class="btn btn_pink btn_lg btn_minwid btn-completed" *ngIf="records.quest_already_joined && records.quest_accepted_status=='C'">Completed</a>
            <a href="javascript: void(0);" class="btn btn_pink btn_lg btn_minwid" *ngIf="records.quest_already_joined && records.quest_accepted_status=='E'">Expired</a>
        </div>
    </div>
	</div>
</div>
-->
 
<app-bottom-fixed-menu [itemcount] = "itemcount"></app-bottom-fixed-menu>
</div>
	