
	<!-- header  -->
  
 <app-header></app-header>
		<div class="picky-banner">
			<a routerLink="/quests"><img src="assets/images/home-banner.png" alt="Picky Banner"></a>
		</div>
		<div class="picky-participate">
			<img src="assets/images/how-to-participate-home.png" alt="Picky Participate">
		</div>
		
 <app-footer ></app-footer>
