@import "../../../variables.scss";


.payment-page
{
//	margin-bottom: 32px;
	position: relative;
	.stepper{
				.steps-line{
					&:before{
						position:absolute;
						content: "";
						left: 0%;
						top: 0;
						height: 8px;
						width: 100%;
						background-color:$dark-blue;
						display: inline-block;
					}
			.dot{
			
				&.dot-one, &.dot-two{
					fa{
					background: $dark-blue;
					border: 5px solid $dark-blue;
					}
					
					}
				

				}
	
			}
	}
			.voucher-list{
		
      @include padding(0px 48px);	
				position: relative;
		.voucher-list-single{
			display: flex;
			@include padding(32px 48px);
			margin: 0 -48px; border-bottom: 8px solid $grey-bg;
            border-width: 8px !important;
			.different-vouchers-left{
				width: 216px;
			 
				text-align: center;
				@include border-radius(8px);
				img{
					width: 100%;
					max-height: 100%;
					object-fit: cover;
					@include margin(0px);
					@include border-radius(8px);
				}
			}
			.different-vouchers-right{
				width: calc(100% - 216px);
				padding-left: 35px;
				position: relative;
                align-self: auto; 
				.mat-card-content{
					margin-bottom: 0px;
                    padding-bottom: 45px;
                    display: block;
					h5{
						@include textstyle($font-family, 20px, 700, $grey5);
						margin: 0 0 7px;
                        line-height: normal;
					}
					h3{
						@include textstyle($font-family, 18px, 400, $grey5);
						margin: 0 0 4px;
                        line-height: 1.5; 
					}
                    span 
                    {
                        font-size: 18px;
                        font-weight: 700;
                        color: #20409A;
                    }
				}
				.mat-card-actions{
					@include margin(10px 0px 0px 0px);
                    position: absolute;
                    bottom: 0px;
					a{
						@include textstyle($font-family, 16px, 400, $grey5);
						text-decoration: none;
						span{
							@include textstyle($font-family, 18px, 700, $dark-blue);
							margin-left: 16px;
						}
					}
//					button{
//						
//						@include border-radius(17.5px);
//						@include padding(7px 25px 6px);
//						border: 2px solid $red;
//						background-color: $red;
//						letter-spacing: 0.5px;
//						cursor: pointer;
//						transition: all 0.2s linear;
//						&:hover{
//							background-color: transparent;
//							color: $red;
//						}
//					}
				}
			}
		}
		.cart-close{
		position: absolute;
		top:0;
		right: 0;
		padding:10px 13px;
		background: $bgcolor;	
				}
	
	}
}

    .Checkout_popup_main
    {
        width:100%;
        height:auto;
        background-color: rgba(0, 0, 0, 0.3);
		z-index: 9999;
        .Checkout_popup_inner
        {
            display: block;
            h1 
            {
                font-size: 24px;
                font-weight: bold;
                color: #EE325F !important;
                font-family: "Roboto", sans-serif;
                line-height: 32px;
                margin-top: 23.82px;
                margin-bottom: 0px;
            }
        }
    }


.Checkout_popup_full
{
    padding-top:38.82px;
    padding-bottom:45px;
    display: block;
    width: 544px;
    height: 395px;
    background-color: #fff;
    border-radius: 24px;
    @include box-shadow(0px 8px 14px rgba(0, 0, 0, 0.15));
    margin: auto;
    text-align: center;
    position: absolute;
	top: 10px;
    left: 0%;
	right:0;
    z-index: 9999;
    .mat-model-circle
    {
        width:50px;
        height: 50px;
        border-radius:50%;
        margin:auto;
        border:5px solid transparent;
        display:block;
        position: relative;
        left: -8px; 
    }
    h1 
    {
        font-size: 24px;
        font-weight: bold;
        color: #EE325F !important;
        font-family: "Roboto", sans-serif;
        line-height: 32px;
        margin-top: 23.82px;
        margin-bottom: 0px;
        padding:0px 20px;
    }
    h2 
    {
        font-size: 32px;
        font-weight: bold;
        color: #1E4E99 !important;
        font-family: "Roboto", sans-serif;
        line-height: 43px;
        margin-top: 29px;
        margin-bottom: 13px;
        text-transform: capitalize;
        padding:0px 20px;
    }
    p 
    {
        width:100%;
        height:auto;
        margin:auto;
        font-size: 18px;
        color: #646464 !important;
        font-family: "Roboto", sans-serif;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 0px;
        padding:0px 20px;
    }
}

.Checkout_popup_step2
{
    padding-top:40px !important;
    padding-bottom:40px !important;
    .mat-model-green
    {
        width:72px;
        height: 72px;
        border-radius:50%;
        margin:auto;
        display:block;
        background: #7ED321;
		fa{
			color:#fff;
		}
    }
    .Button_close 
    {
        margin-top: 31px;
    }
}


.Checkout_popup_step3
{
    padding-top:52px !important;
    padding-bottom:52px !important;
    .mat-model-red
    {
        width:72px;
        height: 72px;
        border-radius:50%;
        margin:auto;
        display:block;
        background: red;
        position: relative;
		fa{
			color:#fff;
            i 
            {
                padding: 0px;
                font-size: 35px;
                line-height: initial;
                position: absolute;
                top: 50%;
                margin: auto;
                left: 0px;
                right: 0px;
                height: auto;
                text-align: CENTER;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
		}
    }
    .Button_close 
    {
        width: 229px;
        height: 56px;
        border: 2px solid #D8D8D8;
        font-size: 24px;
        line-height: 16px;
        color: #9F9F9F;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        background: transparent;
        border-radius: 24px;
        margin-top: 31px;
        padding: 16px 10px;
    }
    h2 
    {
        color:#FF4B61;
    }
    
}
.Checkout_popup_lay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.33);
    bottom: 0px;
    margin: auto;
    z-index: 99999 !important;
    .Checkout_popup_full
    {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}

.checkout-section-tick
{
    .stepper
    {
        .steps-line
        {
            .dot-one
            {
                a 
                {
                    fa 
                    {
                        position: relative;
                        &:before
                        {
                            content:'';
                            position: absolute;
                            top: 50%;
                            left: 2.5px;
                            right: 0px;
                            border: 1px solid transparent;
                            z-index: 9;
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            font-size: 20px;
                            margin: auto;
                            border-radius: 50%;
                            background:url('../../../assets/images/cart-tick.png') no-repeat center;
                            width: 19px;
                            height: 14px;
                            background-color: #20409A;
                        }
                        .fa-circle
                        {
                            opacity: 0 !important;
                            &:before
                            {
                                opacity: 0 !important;
                            }
                        } 
                    }
                }
            }
            .dot-two
            {
                a 
                {
                    fa 
                    {
                        position: relative;
                        &:before
                        {
                            content:'';
                            position: absolute;
                            top: 50%;
                            left: 2.5px;
                            right: 0px;
                            border: 1px solid transparent;
                            z-index: 9;
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            font-size: 20px;
                            margin: auto;
                            border-radius: 50%;
                            background:url('../../../assets/images/cart-tick.png') no-repeat center;
                            width: 19px;
                            height: 14px;
                            background-color: #20409A;
                        }
                        .fa-circle
                        {
                            opacity: 0 !important;
                            &:before
                            {
                                opacity: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

	@media (max-width:568px)
{
	.payment-page{
		padding-bottom: 8px;
	.voucher-list{ 
	
	.voucher-list-single{  border-width: 4px;
        padding-left: 15px;
        padding-right: 15px;
		.different-vouchers-left{
			width: 130px !important;
            height: auto !important;
            flex: 1;
		}
		.different-vouchers-right{
			width: calc(100% - 130px) !important; 
			padding-left: 16px;
            flex: 1;
			.mat-card-content{
				padding-bottom: 35px;
				h5{
					
					font-size:14px;
					margin-bottom: 3px;
					line-height: normal;
				}
				h3{
					@include textstyle($font-family, 12px, 400, $grey5);
				
				}
                span
                {
                    font-size: 15px;
                }
			}
			.mat-card-actions{
				a{
						font-size:14px;
						line-height: normal;
						span{
							font-size:16px;
							line-height: normal;
						}
				}
			}
		}			
	}
		.cart-close{
			padding:5px 13px;
			fa{
				font-size:12px;
			}
			
		}
}
			.stepper{
				.steps-line{
			&:before
                    {
                        height:5px;
                    }
			.dot{
			
				&.dot-one{
					fa{
					border: 3px solid $dark-blue;
					}
					}
				&.dot-two{
					fa{
					border: 3px solid $dark-blue;
					}
					}
				}
			}
	}
}

	.Checkout_popup_full
	{
   		width: calc(100% - 50px);
		height: auto;
        @include box-shadow(0px 8px 14px rgba(0, 0, 0, 0.15));
		h2{
			font-size: 20px;
			line-height: normal;
		}
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}
	.Checkout_popup_step2
{
    padding-top:20px !important;
    padding-bottom:20px !important;
    .mat-model-green
    {
        width:45px;
        height: 45px;
		
    }
    .Button_close 
    {
    // width: 175px;
   // height: 41px;
   // font-size: 20px;
   // line-height: 16px;
    margin-top: 20px;
   // padding: 0 10px;
    }
}
.Checkout_popup_step3
{
   
    .mat-model-red
    {
        width:45px;
        height: 45px;
		
    }
   
}

    .Checkout_popup_lay
    {
        .Checkout_popup_step2, .Checkout_popup_full 
        {
            p 
            {
                br 
                {
                    display: none;
                }
            }
        }
    }


}