<div class="wrapper_out payment-wrapper_out"><app-activities-header [itemcount]="records.cart_items_count"></app-activities-header>
<div class="payment-page checkout-section-tick">
	 

<div class="stepper" >
	 <div class="step-content">
		 <div class="steps">
			<a href="javascript:void(0)"><p class="step-count">Step 1</p>
			 <p class="step-title">Cart Details</p></a>
		 </div>
		  <div class="steps">
			<a href="javascript:void(0)"> <p class="step-count">Step 2</p>
				<p class="step-title">Payment Method</p></a>
		 </div>
		  <div class="steps">
			<a href="javascript:void(0)"> <p class="step-count">Step 3</p>
				<p class="step-title">Validation Payment</p></a>
		 </div>
	 </div>
	 <div class="steps-line">
		 <div class="dot dot-one">
			 <a href="javascript:void(0)" ><fa name="circle"></fa></a>
		 </div>
<!--		 <div class="line"><span></span></div>-->
		  <div class="dot dot-two">
			   <a href="javascript:void(0)"><fa name="circle"></fa></a> 
		 </div>
<!--		  <div class="line"><span></span></div>-->
		  <div class="dot dot-three">
			   <a href="javascript:void(0)" class="active" ><fa name="circle"></fa></a>
		 </div>
	</div>
	 </div>
		
	


	<div [id]="id" *ngIf="records.cart_items_count>=1 && !popup && !Successpopup && !Failurepopup">
		<div  class="voucher-list" (swipeleft)="swipe(idx, $event.type)" *ngFor="let cart of records.cart_items">
			<div class="voucher-list-full">			
				<div  class="voucher-list-single">
					<div class="different-vouchers-left">
						<img mat-card-image src="{{ records.voucher_path }}{{ cart.item_voucher_challenge_icon }}" >
					</div>
					<div class="different-vouchers-right">
						<mat-card-content>	
							<h3>{{ cart.item_merchant_name }}</h3>
                            <h5>{{ cart.item_voucher_name }}</h5>
                            <span>S${{getRowSum(cart.item_voucher_quantity, cart.item_voucher_price) | number : '1.2-2' }}</span>
							<!-- <h3>{{ cart.item_voucher_short_description }}</h3> -->
						</mat-card-content>
						<mat-card-actions>
							<a href="javascript:void(0);" style="display: none;">Price<span>S${{getRowSum(cart.item_voucher_quantity, cart.item_voucher_price) | number : '1.2-2'}}</span></a>
						</mat-card-actions>
					</div>
				</div>	
			</div>
		</div>
	
	</div>


</div>
    <div class="checkout_backup" *ngIf="popup" >
        <div class="Checkout_popup_lay">
            <div class="Checkout_popup_full Checkout_popup_step1">
                <div class="mat-model-circle">
                    <mat-spinner [diameter]="50"></mat-spinner>
                </div>
                <h1>{{ loading_text }}...</h1>
                <h2>Payment Request</h2>
                <p>Your payment is being submitted. <br>Please do not click the back button or <br>refresh this page on your browser.</p>
            </div>
        </div>
    </div>

	<div class="Checkout_popup_lay" *ngIf="Successpopup">
        <div class="Checkout_popup_full Checkout_popup_step2"  >
            <div class="mat-model-green">
                <fa name="check"></fa>
            </div>
             <h2>Successfully Ordered!</h2>
             <p>Congratulations that your payment <br>has been made. Your vouchers order has been added <br>into your Purchased Vouchers.</p>
             <button routerLink="/vouchers" [queryParams]="{ tab: 1 }" class="btn btn_lg btn_pink Button_close">My Vouchers</button>
        </div>
    </div>

    <div class="Checkout_popup_lay" *ngIf="Failurepopup">
        <div class="Checkout_popup_full Checkout_popup_step3" >
            <div class="mat-model-red">
                <fa name="close"></fa>
            </div>
             <h2>Payment Failed</h2>
             <p>Sorry, your payment could not be <br>processed, please try again!</p>
             <!-- <button class="Button_close">Try Again</button> -->
        </div>
    </div>
</div>
<app-bottom-fixed-menu [itemcount]="records.cart_items_count"></app-bottom-fixed-menu>