<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <p>Hello, {{name}}!</p> -->
    <div class="checkout_backup">
        <div class="Checkout_popup_full Checkout_popup_step1">
            <div class="mat-model-circle">
                <mat-spinner></mat-spinner>
            </div>
            <h1>{{ _loading_text }}...</h1>
            <h2>Payment Request</h2>
            <p>Your payment is being submitted. <br>Please do not click the back button or <br>refresh this page on your browser.</p>
        </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div> 

<!--<div class="Checkout_popup_main">
<div class="Checkout_popup_inner">
    <ng-template #content let-modal>
        <div class="checkout_backup">
            <div class="Checkout_popup_full Checkout_popup_step1">
                <div class="mat-model-circle">
                    <mat-spinner></mat-spinner>
                </div>
                <h1>Validating Card...</h1>
                <h2>Payment Request</h2>
                <p>Your payment is being submitted. <br>Please do not click the back button or <br>refresh this page on your browser.</p>
            </div>
        </div>
    </ng-template>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
</div>
</div>-->