
<div mat-dialog-content>
  
  <h3>Please Register to take part!!</h3> 
  <a class="register-button" routerLink="/register"  >Register Now</a><br />
  <a class="login-button" routerLink="/login"  >Log In</a>
  <a class="close-button" (click)="onNoClick()">No Thanks</a>

</div>
 