/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.myquest-full{
	@include padding(0px 30px);
	margin-top: -95px;
	.quest-types{
		h2{
			@include textstyle($font-family, 12px, 700, $white);
			margin-top: 30px;
		}
		ul{
			padding-left: 0px;
			li{
				list-style: none;
				display: inline-block;
				width: 50px;
				margin-right: 20px;
				.quest-types-img{
					width: 50px;
					height: 50px;
					background-color: $grey;
					@include border-radius(50%);
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
						@include border-radius(50%);
					}
				}
				.quest-types-name{
					a{
						text-decoration: none;
						@include textstyle($font-family, 10px, 400, $grey5);
					}
				}
			}
		}
	}
	.myquest-list{
		h2{
			@include textstyle($font-family, 12px, 700, $grey5);
			margin-bottom: 5px;
			margin-top: 30px;
		}
		h4{
			@include textstyle($font-family, 10px, 400, $grey5);
			margin-top: 0px;
		}
		.myquest-list-full{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.myquest-list-single{
				width: 48%;
				background-color: $grey2;
				text-align: center;
				@include border-radius(10px);
				margin-bottom: 25px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					@include margin(0px);
					@include border-radius(10px);
				}
			}
		}
	}
}

.footer-menu-section{
	@include padding(25px);
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	background-color: $white;
	ul{
		list-style: none;
		margin-bottom: 0px;
		padding-left: 0px;
		display: flex;
		justify-content: space-between;
		@include margin(0px);
		li{
			display: inline-block;
			text-align: center;
			a{
				text-decoration: none;
				span{
					@include textstyle($font-family, 10px, 400, $grey5);
					display: block;
				}
			}	
		}
	}
}

