<app-quest-header ></app-quest-header>

<div class="myquest-full">
	<div class="quest-types">
		<h2>Quest Types</h2>
		<drag-scroll>
			<ul drag-scroll-item>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
				<li>
					<div class="quest-types-img">
						<a routerLink="javascript:void(0);"><img src="../../assets/images/mystery-image.png"></a>
					</div>
					<div class="quest-types-name">
						<a routerLink="javascript:void(0);">Category 1</a>
					</div>
				</li>
			</ul>
		</drag-scroll>
	</div>
	<div class="myquest-list">
	 
		<h4>413 Quests</h4>
		<div class="myquest-list-full">
			<div class="myquest-list-single"  *ngFor="let quest of records.quests" >
				<img mat-card-image src={{quest.quest_challenge_icon}} />
			</div>
			 
		</div>
	</div>
</div>
<app-bottom-fixed-menu></app-bottom-fixed-menu>