/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";


.header-quest{
	.picky-logo{
		float: left;
	}
	.picky-cart-section{
		float: right;
		position: relative;
		margin-top: 25px;
		a{
			display: block;
		}
		.cart-count{
			position: absolute;
		    right: 0px;
            top: 8px;
		    text-align: center;
		    border-radius: 7px;
		    width: 15px;
		    height: 15px;
		    background-color: #F36424;
		    border: 1px solid #F36424;
		    font-weight: 400;
		    color: #fff;
		    line-height: 16px;
		    font-size: 10px;
		}
	}
	background-image: $header-myquestbg;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(20px 30px 0px 30px);
	border-bottom-right-radius: 30px;
	
	.featuredguest-header-text{
		text-align: left;
		clear: both;
		margin-top: 65px;
		h2{
			@include textstyle($font-family, 32px, 900, $white);
    		/*letter-spacing: 0.8px;*/
    		margin-bottom: 8px;
            font-weight:normal;
		}
		p{
			@include textstyle($font-family, 18px, 400, $white);
			margin-top: 0px;
            padding-bottom: 20px;
		}
	}
}

.header-quest-header
{
    padding-left: 48px !important;
    padding-right: 48px !important;
}

/*responsive css */
@media (max-width: 568px){
	.header-quest{
		.picky-cart-section{
			margin-top: 27px;
			.cart-image{
				img{
				width: 25px;
				height: 25px;
				}
					
			}
		}
		.featuredguest-header-text{			
			h2{
				font-size: 24px;
			}
			p{
				font-size: 12px;
                padding-bottom: 0px;
				br{ display: none;}
			}
		}
	}
.header-quest-header
{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
}

