<header class="header-quest header-quest-header">
	<div class="header-logo-cart">
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/blue-logo.png" alt="The Picky Eater"></a>
		</div>
		<div class="picky-cart-section">
			<a routerLink="/cart" class="cart-image">
				<img src="../../assets/images/cart-icon.png">
				<div class="cart-count" *ngIf="itemcount"> {{ itemcount }} </div>
			</a>
		</div>
	</div>
	<div class="featuredguest-header-text">
		<h2>Quests</h2>
		<p>
			<!-- Welcome to your Quest tab! Here you will find new<br> quests to accept. Once you accept them, they will<br> appear in your activities tab. -->
			Welcome to the Quest tab! You will be able to find new<br> quests to accept here. Once you accept them, they will<br>  appear in the activities tab.
		</p>
	</div>
	<app-featured-quest-slider></app-featured-quest-slider>
</header>