/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";


.vouchers-full{
	@include padding(0px 30px);
	.myquest-list{
		h2{
			@include textstyle($font-family, 12px, 700, $grey5);
			margin-bottom: 5px;
			margin-top: 30px;
		}
		h4{
			@include textstyle($font-family, 10px, 400, $grey5);
			margin-top: 30px;
		}
		.myquest-list-full{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.myquest-list-single{
				width: 31.5%;
				background-color: $grey2;
				text-align: center;
				@include border-radius(10px);
				margin-bottom: 25px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					@include margin(0px);
					@include border-radius(10px);
				}
			}
		}
	}
}

.footer-menu-section{
	@include padding(25px);
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	background-color: $white;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
	ul{
		list-style: none;
		margin-bottom: 0px;
		padding-left: 0px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@include margin(0px);
		li{
			display: inline-block;
			text-align: center;
			a.active{
				img{
					-webkit-filter: grayscale(0); 
  					filter: grayscale(0);
				}
				span{
					@include textstyle($font-family, 12px, 700, $dark-blue);
				}
			}
			a{
				text-decoration: none;
				img{
					-webkit-filter: grayscale(100%); 
  					filter: grayscale(100%);
				}
				span{
					@include textstyle($font-family, 12px, 400, $grey5);
					display: block;
					margin-top: 5px;
				}
			}	
		}
	}
}

@media (max-width: 767px){
.footer-menu-section{
	ul{
		li{
			a.active{
				span{
					@include textstyle($font-family, 10px, 700, $dark-blue);
				}
			}
			a{
				span{
					@include textstyle($font-family, 10px, 400, $grey5);
				}
			}
		}
	}
}
}