<div class="wrapper_out"><app-vouchers-header  ></app-vouchers-header>

<div class="vouchers-full">
	<div class="myquest-list">
		<h4>Vouchers: {{records.length}}</h4>
		<div class="myquest-list-full">
			<div class="myquest-list-single"  *ngFor="let voucher of records">
				<a routerLink="/voucher/{{voucher.voucher_id}}"><img mat-card-image  src={{voucher.voucher_challenge_icon}}  /></a>
			</div>
		 
		</div>
	</div>
</div>
</div>
<app-bottom-fixed-menu></app-bottom-fixed-menu>
