/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";


.accordion-function
{
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 25px 48px; 
    h2 
    {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #646464;
        text-align: center;
        padding-bottom: 0px;
        text-transform: uppercase;
        }
    h4  
    {
        font-weight: 400;
        font-size: 16px;
        color: #646464;
        margin-bottom: 0px;
    }
    p 
    {
        margin-top: 0;
        margin-bottom: 0px;
        font-size: 14px;
        color: #646464;
    }
    mat-expansion-panel-header
    {
        padding: 0px 15px;
    }
    .mat-expansion-panel-body
    {
       padding: 0 15px 16px; 
    }
}

@media screen and (max-width:568px)
{
    .accordion-function
    {
        padding: 25px 15px;
        h4 
        {
            font-weight: 400;
            font-size: 16px;
            color: #646464;
            margin-bottom: 0px;
        }
        h2 
        {
          font-size: 18px;  
        }
        p 
        {
            margin-top: 0;
            margin-bottom: 0px;
            font-size: 14px;
            color: #646464;
        }
    }
}