<div class="wrapper_out">  
    <app-header [itemcount] = "itemcount"></app-header>
    <div class="accordion-function">
        <h2>FAQs</h2>
            <mat-accordion *ngIf="faqs">
                <mat-expansion-panel *ngFor="let faq of faqs">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4> {{ faq.question }}</h4>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{ faq.answer }}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    
</div>
<app-bottom-fixed-menu [itemcount] = "itemcount"></app-bottom-fixed-menu>

