/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.footer-menu-section{
	@include padding(15px 33px);
	position: fixed;
	bottom: 0;
	left: 0; right: 0; margin: 0 auto; max-width: 640px;
	background-color: $white;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
	z-index:9999;
	ul{
		list-style: none;
		margin-bottom: 0px;
		padding-left: 0px;
		display: flex;
//		justify-content: space-between;
		align-items: flex-end;
		@include margin(0px);
		justify-content: space-between;
		li{
			display: inline-block;
			text-align: center;
			
			a{
				display: block;
				width:78px;
				height: 60px;
			}
			.f-menu.active{
				
				.cart-foo{
					position: relative;
				}
				.cart-count{
					position: absolute;
					right: 15px;
					top: 7px;
					text-align: center;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					background-color: #F36424;
					border: 1px solid #F36424;
					font-weight: bold;
					color: #fff;
					line-height: 20px;
					font-size: 10px;
					}
				span{
					@include textstyle($font-family, 14px, 700, $dark-blue);
                    line-height: initial;
				}
			}
			.f-menu{
				text-decoration: none;

					img{
						width: 40px;
					}

//				img{
//					-webkit-filter: grayscale(100%); 
//  					filter: grayscale(100%);
//				}
				.cart-foo{
					position: relative;
				}
				.cart-count{
					position: absolute;
					right: 15px;
					top: 7px;
					text-align: center;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					background-color: #F36424;
					border: 1px solid #F36424;
					font-weight: bold;
					color: #fff;
					line-height: 20px;
					font-size: 10px;
					}
				span{
					@include textstyle($font-family, 14px, 400, $grey5);
					display: block;
					margin-top: 5px;
                    line-height: initial;
				}
			}	
		}
	}
}



@media (max-width: 568px){
.footer-menu-section{ padding: 15px;
	ul{
		justify-content: space-between;
		li{
			a{
				width:auto;
				height: auto;
			}
			.f-menu{
				span{
					@include textstyle($font-family, 12px, 400, $grey5);
				}
				img{
					width:28px;
					height: auto;
				}
				&.active{
					span{
					font-size:12px;
				}
				}
			}
		}
	}
}
    .footer-menu-section ul li .f-menu .cart-count
    {
       right: -6px !important;
        top: 2px !important; 
    }
}
@media (max-width: 360px){
	.footer-menu-section{ padding: 15px;
	ul{
		justify-content: space-between;
		li{
			
			.f-menu{
				img{
					width:25px;
					height: auto;
				}

			}
		}
	}
}
}















