
	<div class="footer-menu-section">
		<ul>
			<li>
				<a href="javascript:void(0)" *ngIf="isAdvancedRoute('quest')" routerLink="/quests" class="f-menu"  [ngClass]="(isAdvancedRoute('quest'))?'active f-menu':''">
					<img src="../../assets/images/Quest_Active.svg"/>	
					<span>Quests</span>
				</a>
				<a href="javascript:void(0)" *ngIf="!isAdvancedRoute('quest')" routerLink="/quests" class="f-menu" [ngClass]="(!isAdvancedRoute('quest'))?'f-menu':''">
					<img src="../../assets/images/Quest_Inactive.svg"  />
					<span>Quests</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" *ngIf="isAdvancedRoute('activities')" routerLink="/activities" class="f-menu"  [ngClass]="(isAdvancedRoute('activities'))?'active f-menu':''">
					<img src="../../assets/images/Activities_Active.svg"/>	
					<span>Activities</span>
				</a>
				<a href="javascript:void(0)" *ngIf="!isAdvancedRoute('activities')" routerLink="/activities" class="f-menu" [ngClass]="(!isAdvancedRoute('activities'))?'f-menu':''">
					<img src="../../assets/images/Activities_Inactive.svg"  />
					<span>Activities</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" *ngIf="isAdvancedRoute('vouchers')" routerLink="/vouchers" class="f-menu"  [ngClass]="				(isAdvancedRoute('vouchers'))?'active f-menu':''">
					<img src="../../assets/images/Voucher_Active.svg"/>	
					<span>Vouchers</span>
				</a>
				<a href="javascript:void(0)" *ngIf="!isAdvancedRoute('vouchers')" routerLink="/vouchers" class="f-menu" [ngClass]="(!isAdvancedRoute('vouchers'))?'f-menu':''">
					<img src="../../assets/images/Voucher_Inactive.svg"  />
					<span>Vouchers</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" *ngIf="isAdvancedRoute('cart')" routerLink="/cart" class="f-menu"  [ngClass]="(isAdvancedRoute('cart'))?'active f-menu':''">
					<div class="cart-foo"><img src="../../assets/images/Cart_Active.svg"/>	
					<div _ngcontent-pkp-c5="" *ngIf="itemcount" class="cart-count"> {{itemcount}}</div></div>
					<span>Cart</span>
				</a>
				<a href="javascript:void(0)" *ngIf="!isAdvancedRoute('cart')" routerLink="/cart" class="f-menu" [ngClass]="(!isAdvancedRoute('cart'))?'f-menu':''">
					<div class="cart-foo"><img src="../../assets/images/Cart_Inactive.svg"  />
						<div _ngcontent-pkp-c5="" *ngIf="itemcount" class="cart-count"> {{itemcount}}</div></div>
					<span>Cart</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" *ngIf="isAdvancedRoute('account') || isAdvancedRoute('profile')" routerLink="/account" class="f-menu"  [ngClass]="(isAdvancedRoute('account') || isAdvancedRoute('profile'))?'active f-menu':''">
					<img src="../../assets/images/Profile_Active.svg"/>	
					<span>Account</span>
				</a>
				<a href="javascript:void(0)" *ngIf="!isAdvancedRoute('account') && !isAdvancedRoute('profile')" routerLink="/account" class="f-menu" [ngClass]="(!isAdvancedRoute('account'))?'f-menu':''">
					<img src="../../assets/images/Profile_Inactive.svg"  />
					<span>Account</span>
				</a>
			</li>
		</ul>
	</div>