<app-header-signup ></app-header-signup>
	<div class="signup-form">
<!--
		 
		<div class="error-msg-content"  *ngIf="error">
			<div class="error-msg">
			<div class="icon"><span><fa name="exclamation"></fa></span></div>
			<div class="msg">
				<div class="content">
					<h1>Error</h1>
					<p>Invalid Username/Password</p></div>
				<div class="close"><fa name="close" (click)="closeme()"></fa></div>
			</div>
			</div>
		</div>
-->

		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form-padding">
		    <div class="form-group input-filed">
				
		        <mat-form-field>
                    <label>Email</label>
    				<input matInput formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  />
					<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
							<div *ngIf="f.username.errors.required">Email is required</div>
						</div>
  				</mat-form-field>
		    </div>
		    <div class="form-group input-filed">
		       
		        <mat-form-field>
                    <label>Password</label>
    				<input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
							<div *ngIf="f.password.errors.required">Password is required</div>
						</div>
  				</mat-form-field>
                <span class="login-forgot-password"><a routerLink="/forgot-password">Forgot Password</a></span>
		    </div>
			 
			
		    <div class="or-text">or sign up with</div>
		    <div class="signup-google-facebook">
		    	<div class="signup-google">
		    		<a href="javascript:void(0);" (click)="signInWithGoogle()">
		    			<img _ngcontent-c1="" class="social" src="../assets/images/logo_gmail-new.png">
                        <span>Sign up with <br _ngcontent-c1="">Google </span>
		    		</a>
		    	</div>
		    	<div class="signup-facebook">
		    		<a  href="javascript:void(0);"  (click)="signInWithFB()">
		    			<img _ngcontent-c1="" class="social"  src="../assets/images/fb-logo-new.png">
                        <span>Sign up with <br _ngcontent-c1="">Facebook</span>
		    		</a>
		    	</div>
			</div>
			
			<div class="form-group signup-btn-main loading-btn-resize"> 
					<button  class="btn btn_pinkbr btn_extra_lg register-button btn-shadow">Sign In <mat-spinner *ngIf="loading"></mat-spinner></button>
					 
				</div>
				<!--<div class="forgot-pwd"><a routerLink="javascript:void(0);" >Forgot your password ?</a></div>-->
		</form>
			
		
		
	</div>
<!-- <app-footer-white></app-footer-white> -->
<app-footer-white></app-footer-white>

 