<header class="header-activities" *ngIf="isAdvancedRoute('activities')">
	<div class="header-logo-cart">
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/blue-logo.png" alt="The Picky Eater"></a>
		</div>
 
		<app-cart-count [itemcount]="itemcount"></app-cart-count>
	</div>
	<div class="activities-header-text" >
		<h2>Activities</h2>
		<p>
			<!-- Welcome to Activities page, this is where <br>all your quest that you have accepted or complete<br> will be shown here. -->
			Welcome to the Activities tab! You will be able to see<br> all the quests that you have accepted and completed here. 
		</p>
	</div>
</header>
<header class="header-activities" *ngIf="isAdvancedRoute('quest-complete')">
	<div class="header-logo-cart">
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/blue-logo.png" alt="The Picky Eater"></a>
		</div>
 
		<app-cart-count [itemcount]="itemcount"></app-cart-count>
	</div>
	<div class="activities-header-text" >
		<h2>Quest Complete</h2>
		<p>Welcome to Quest complete page, To get the<br> voucher enter the code that merchant given you to<br> complete the quest challenge.</p>
	</div>
</header>
<header class="header-vouchers" *ngIf="isAdvancedRoute('vouchers')">
	<div class="header-logo-cart">
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
		</div>
 
		<app-cart-count [itemcount]="itemcount"></app-cart-count>
	</div>
	<div class="activities-header-text" >
		<h2>Voucher Vault</h2>
		<p>
			<!-- Welcome to Voucher page where you will find<br> all the rewards you’ve collected here as well as <br>you can also shop for vouchers! -->
			Welcome to the Vouchers tab!<br> You can shop for vouchers and redeem rewards here.
		</p>
	</div>
</header>
<header class="header-vouchers" *ngIf="isAdvancedRoute('voucher-redeem')">
	<div class="header-logo-cart">
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
		</div>
 
		<app-cart-count [itemcount]="itemcount"></app-cart-count>
	</div>
	<div class="activities-header-text" >
		<h2>Voucher Redeem</h2>
		<p>Welcome to Voucher redeem page where you <br>will redeem the voucher rewards you’ve collected!</p>
	</div>
</header>
<header class="header-vouchers cart-page header-bg" *ngIf="isAdvancedRoute('cart')">
	
	<div class="header-logo-cart">
		<a href="javascript:history.back();">
			<img src="../../assets/images/left-arrow-white.png " class="left-arrow">
		</a>
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
		</div>
 
		<app-cart-count [itemcount]="itemcount"></app-cart-count>
	</div>
	<div class="activities-header-text" >
		<h2>Cart Details</h2>
		<p>Total Cart: {{ itemcount }} items</p>
	</div>
</header>
<header class="header-vouchers cart-page header-bg" *ngIf="isAdvancedRoute('checkout')">
	
	<div class="header-logo-cart">
		<a href="javascript:history.back();">
			<img src="../../assets/images/left-arrow-white.png " class="left-arrow">
		</a>
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
		</div>
 
		<app-cart-count [itemcount]="itemcount"></app-cart-count>
	</div>
	<div class="activities-header-text" >
		<h2>Cart Details</h2>
		<p>Total Cart: {{ itemcount }} items</p>
	</div>
</header>
<header class="header-vouchers cart-page header-bg" *ngIf="isAdvancedRoute('payment')">
	
	<div class="header-logo-cart">
		<!-- <a href="javascript:history.back();">
			<img src="../../assets/images/left-arrow-white.png " class="left-arrow">
		</a> -->
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
		</div>
 
		<!-- <app-cart-count [itemcount]="itemcount"></app-cart-count> -->
	</div>
	<div class="activities-header-text" >
		<h2>Cart Details</h2> 
		<p>Total Cart: {{ itemcount }} items</p>
	</div>
</header>