/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

/*----------activities page header----------------*/
.header-activities{
	.picky-logo{
		float: left;
	}
	background-image: $header-activitiesbg;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(20px 48px 100px 48px);
	border-bottom-right-radius: 32px;
	.activities-header-text{
		text-align: left;
		clear: both;
		
	
		h2{
			@include textstyle($font-family, 32px, 400, $white);
    		margin-bottom: 8px;
			margin-top: 0px;
			line-height: initial;
			@include padding(0px 0);
		}
		p{
			@include textstyle($font-family, 18px, 400, $white);
			margin-top: 0px;
			line-height: inherit;
			width: 100%;
            margin-bottom: 1rem;
            padding-bottom: 20px;
		}
	}
}
/*----------vouchers page header----------------*/
.header-vouchers{
	.picky-logo{
		float: left;
	}
	background-image: $header-vouchersbg;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(20px 48px 100px 48px);
	border-bottom-right-radius: 32px;
	.activities-header-text{
		text-align: left;
		clear: both;
		h2{
			@include textstyle($font-family, 32px, 400, $white);
    		margin-bottom: 8px;
			margin-top: 0px;
			line-height: initial;
			@include padding(0px 0);
		}
		p{
			@include textstyle($font-family, 18px, 400, $white);
			margin-top: 0px;
			line-height: inherit;
			width: 100%;
            margin-bottom: 1rem;
            padding-bottom: 20px;
		}
	}
}
/*----------cart page header----------------*/
.cart-page{
	background-image: $header-beforelogin;
	@include padding(24px 48px 48px 48px);
	.header-logo-cart{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		a{
			align-self: center;
			.left-arrow{
				width:17px;
			}
		}
		.picky-logo{
		float: none;
		}
	}
	.activities-header-text{
		margin-top: 15px;
		p{
			margin-bottom: 0px;
		}
	}
	
}

.header-logo-cart
{
    app-cart-count
    {
        position: relative;
        float:right;
        top: 5px;
    }
}

@media (max-width:568px){
	.header-activities{
		background-position-x:right;
		
		@include padding(20px 15px 75px 15px);
		.activities-header-text{
		h2{
			@include textstyle($font-family, 20px, 400, $white);
			line-height: initial;
		}
		p{
			@include textstyle($font-family, 12px, 400, $white);
			line-height: inherit;
			width:auto;
            margin-bottom: 1rem;
            padding-bottom: 0;
            br 
            {
                display: none;
            }
		}
	}
	}
	.header-vouchers{
		background-position-x:right;
		&.header-bg{
			@include padding(15px 15px 15px 15px);
		}
		@include padding(20px 15px 75px 15px);
		.activities-header-text{
		h2{
			@include textstyle($font-family, 20px, 400, $white);
			line-height: initial;
		}
		p{
			@include textstyle($font-family, 12px, 400, $white);
			line-height: inherit;
			width:auto;
            margin-bottom: 1rem;
            padding-bottom: 0;
            br 
            {
                display: none;
            }
		}
	}
		
	}
	.cart-page .header-logo-cart a .left-arrow{
        width:8px; position: relative;
    top: -3px;
    }
    
    .cart-page
    {
    .activities-header-text
        {
            margin-top: 0px;
            p
            {
                margin-bottom: 0px;
            }
        }
    }
    
}

