<header class="header-after-login">
	<div class="picky-logo">
		<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
	</div>
	<div class="featuredguest-header-text">
		<h2>Featured Quests</h2>
		<p>Complete Quests to get loot!</p>
	</div>

	
		
			<!-- You can now use your library component in app.component.html -->
			
	<app-featured-quest-slider></app-featured-quest-slider>
    	 
		

 

</header>
