/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";


.picky-logo{
	text-align: left;
}
.header-after-login{
	background-image: $header-beforelogin;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(20px 30px 0 30px);
	.featuredguest-header-text{
		text-align: left;
		h2{
			@include textstyle($font-family, 32px, 900, $white);
    		letter-spacing: 0.8px;
    		margin-bottom: 5px;
		}
		p{
			@include textstyle($font-family, 18px, 400, $white);
			margin-top: 0px;
		}
	}
}

/*responsive css */
@media (max-width: 568px){
	.header-after-login{ 
		.featuredguest-header-text{
			h2{
				font-size: 24px;
			}
			p{
				font-size: 12px;
			}
		}
	}	
    
	}	