@import "../../../variables.scss";

.challange-header {
    display: flex;
    width: 100%;
	flex-wrap:wrap;
}
.logo-left {
    width: 50%;
    text-align: left;
}
.cart-nav {
    width: 50%;
	text-align:right;
	.cart-icon{text-align: right; float: right; position:right; position:relative;
		img{max-height:50px; width: 44px; margin-right: 15px;}
		.cart-count{ position: absolute;   right: 0;   top: 0;   background: #ed325f;    border-radius: 50%;    color: #fff;    font-size: 12px;    width: 24px;
    height: 24px;    text-align: center;    line-height: 24px;
		}}
}
.clear-fix{@include clearfix;}
.profile-editicon{
.edit-icon
		{
			
			img { width: 32px; }
			
		}
}