<header>
	<div class="picky-header">
		<div class="challange-header"><div class="logo-left"><a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a></div>
		<div class="cart-nav"><div class="cart-icon"><img src="assets/images/shopping-cart.svg" alt="cart"><span class="cart-count">99</span></div></div>
		</div>
		<div class="clear-fix"></div>
		<div class="header-profile-sec">
			<div class="profile-image">
				<span class="profile-circle"><img src="assets/images/avatar-profile.png" alt="profile"></span>
			</div>
			<div class="name-sec">
				<h3>{{user.customer_firstname +" "+ user.customer_lastname}}</h3>
			</div>
			<div class="profile-editicon">
				<a class="edit-icon" routerLink="/profile"><img src="assets/images/edit-icon.svg" alt="edit-icon"></a>
			</div>
		</div>
	</div>
</header>

