/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

//.footer-menu-section{
//	@include padding(25px);
//	position: -webkit-sticky;
//	position: sticky;
//	bottom: 0;
//	background-color: $white;
//	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
//	ul{
//		list-style: none;
//		margin-bottom: 0px;
//		padding-left: 0px;
//		display: flex;
//		justify-content: space-between;
//		align-items: flex-end;
//		@include margin(0px);
//		li{
//			display: inline-block;
//			text-align: center;
//			a.active{
//				img{
//					-webkit-filter: grayscale(0); 
//  					filter: grayscale(0);
//				}
//				span{
//					@include textstyle($font-family, 12px, 700, $dark-blue);
//				}
//			}
//			a{
//				text-decoration: none;
//				img{
//					-webkit-filter: grayscale(100%); 
//  					filter: grayscale(100%);
//				}
//				span{
//					@include textstyle($font-family, 12px, 400, $grey5);
//					display: block;
//					margin-top: 5px;
//				}
//			}	
//		}
//	}
//}
.loading{
  position: fixed;
  z-index:9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background:rgba(0,0,0,0.5);
}

.signup-btn-main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	.register-button{
	
		@include margin(10px);
	}
    .register-button-resize
    {
        font-size: 24px;
        font-weight: 700;
		@include padding(8.5px 20px);
		@include border-radius(30px);
		letter-spacing: 0.5px;
		cursor: pointer;
		position: relative;
		@include transition(all 0.2s linear);
		//@include box-shadow (0px 0px 10px rgba(238, 50, 95, 0.54));
        padding: 0px 0px;
        height: 56px;
        min-width: 280px;   
    }
	.logout-sec{
			@include margin(10px);
		   display: flex;
			
		a{
		text-decoration: none;
		background:#fff;
		@include textstyle($font-family, 16px, 700, $dark-blue);
		@include padding(11px 20px);
		border:2px solid $red; min-width: 180px;
		@include border-radius(25px);
			color:$red;
		
		&:hover{
			background-color: $red;
			color: $white;
		}
	}
	.logout-button{
		fa{
			margin: 5px;
		}
	}
	}
}
//@media (max-width: 767px){
//.footer-menu-section{
//	ul{
//		li{
//			a.active{
//				span{
//					@include textstyle($font-family, 10px, 700, $dark-blue);
//				}
//			}
//			a{
//				span{
//					@include textstyle($font-family, 10px, 400, $grey5);
//				}
//			}
//		}
//	}
//}
//}

form
{
    label
    {
        font-size: 24px;
        line-height:1.35;
        color:#BFBFBF;
        text-transform: capitalize;
    }
}

@media (max-width:578px){
	form{
			label
			{
				font-size: 14px;				
				color:#BFBFBF;				
			}
		}
	.signup-btn-main{
		.register-button-resize{ 
           height: 45px;
            min-width: 200px;
            padding: 0px 15px;
            font-size: 16px;
        }
		.register-button{ margin: 10px 4px;}	   
	   .logout-sec{ margin: 10px 4px;
		   a{
			   padding: 7px 15px; font-size: 14px; min-width: 140px; 
		   }
	   }
	   
	}
	
}
	

