<div class="picky-cart-section"  *ngIf="!isAdvancedRoute('voucher')">
			<a routerLink="/cart">
				<img src="../../assets/images/cart-icon.png">
				<div class="cart-count" *ngIf="itemcount">{{itemcount}}
				</div>
			</a>
</div>

<!--
<div class="cart-image" *ngIf="isAdvancedRoute('quest')">
	<a routerLink="/cart">
		<img src="../../../assets/images/cart-icon.png" alt="cart">
		<div _ngcontent-pkp-c5="" class="cart-count" *ngIf="itemcount"> {{itemcount}}</div>
	</a>
</div> 
-->

<div class="cart-image" *ngIf="isAdvancedRoute('voucher')">
	<a routerLink="/cart">
		<img src="../../../assets/images/cart-icon.png" alt="cart">
		<div _ngcontent-pkp-c5="" class="cart-count" *ngIf="itemcount"> {{itemcount}}</div>
	</a>
</div> 