/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";


.header-quest{
	.picky-logo{
		float: left;
	}
//	.picky-cart-section{
//		float: right;
//		position: relative;
//		.cart-count{
//			position: absolute;
//		    left: 15px;
//            top: 8px;
//		    text-align: center;
//		    border-radius: 7px;
//		    width: 15px;
//		    height: 15px;
//		    background-color: #EE325F;
//		    border: 1px solid #EE325F;
//		    font-weight: 400;
//		    color: #fff;
//		    line-height: 16px;
//		    font-size: 10px;
//		}
//	}
	background-image: $header-vouchersbg;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(20px 30px 20px 30px);
	border-bottom-right-radius: 30px;
	.featuredguest-header-text{
		text-align: left;
		clear: both;
		margin-top: 65px;
		h2{
			@include textstyle($font-family, 32px, 900, $white);
    		letter-spacing: 0.8px;
    		margin-bottom: 5px;
		}
		p{
			@include textstyle($font-family, 12px, 400, $white);
			margin-top: 0px;
		}
	}
}