<header class="header-quest">
	<div class="header-logo-cart">
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
		</div>
<!--
		<div class="picky-cart-section">
			<a routerLink="/cart">
				<img src="../../assets/images/cart-icon.png">
				<div class="cart-count"> {{records.result_set.length}}
				</div>
			</a>
		</div>
-->
		<app-cart-count></app-cart-count>
	</div>
	<div class="featuredguest-header-text">
		<h2>Vouchers<br> Vault</h2>
		<p>In Voucher Vault, you will find all the quest<br> rewards you’ve collected, as well as vouchers<br>  that you have been given.</p>
	</div>
</header>