<div class="wrapper_out"><app-activities-header [itemcount] = "itemcount"></app-activities-header>

<!--
<div class="activities-full">
	<div class="different-vouchers">
		<drag-scroll>
			<mat-card class="different-voucher-single" *ngFor="let quest of records.quests" drag-scroll-item>
			<div class="different-vouchers-card">
				<a routerLink="/quest/{{quest.quest_id}}"><img mat-card-image src={{quest.quest_challenge_icon}} alt="Photo of a Shiba Inu"></a>
			</div>
		 
		 
			</mat-card>
			</drag-scroll>
	</div>
-->
	<div class="myactivities-list">
		<div class="myactivities-list-full">
<!--
			<div class="myquest-list-single">
				<img mat-card-image src="../../assets/images/mystery-image.png">
			</div>
			<div class="myquest-list-single">
				<img mat-card-image src="../../assets/images/mystery-image.png">
			</div>
			<div class="myquest-list-single">
				<img mat-card-image src="../../assets/images/mystery-image.png">
			</div>
-->
			<div class="activity-tab">
			<mat-tab-group [selectedIndex]="tabActive">
					<mat-tab *ngIf="arecords">
					<ng-template mat-tab-label>
					<h1 class="tab-head-count">{{arecords.length}}</h1> 
					<p  class="tab-head-cont">Accepted Quest</p>
					</ng-template>
						<div class="tab-body-header">
					<div class="tab-content"><p>Accepted Quests</p>
					<span>{{arecords.length}} Activities</span>
					</div>
<!--						<div class="filter-img"><img src="../../../assets/images/filter.png" alt="" /></div>-->
							</div>
						<div class="activity-list" *ngFor="let quest of arecords">
							<div class="activity">
								<a routerLink="/quest/{{ quest.quest_id }}"><div class="img"><img src={{quest.quest_challenge_icon}} ></div></a>
								<div class="cont">
								<a routerLink="/quest/{{ quest.quest_id }}">
                                    <p innerHTML={{quest.quest_name}}></p>
                                    <span class="questname">{{quest.quest_short_description}}</span>
                                    </a>
								<!-- <button routerLink="/quest/{{ quest.quest_id }}" mat-flat-button class="btn btn_lg btn_pink">Details</button> -->
								<a href="javascript: void(0);"   (click)="completeRequest(quest.quest_id)" ><button class="btn btn_pink btn_lg btn_minwid" *ngIf="quest.quest_accepted_status=='A'">Complete</button></a>
                                <a routerLink="/quest-complete/{{ quest.quest_id }}"  ><button class="btn btn_pink btn_lg btn_minwid" *ngIf="quest.quest_accepted_status=='R'">Requested</button></a>
            					

							</div>
							</div>
						</div>
						 
				  </mat-tab>
				  <mat-tab *ngIf="!arecords" disabled>
					<ng-template mat-tab-label>
					<h1 class="tab-head-count">0</h1> 
					<p  class="tab-head-cont">Accepted Quest</p>
					</ng-template>
					<div class="tab-body-header">
						<div class="tab-content"><p>Accepted Quests</p>
							<span>0 Activities</span>
						</div>
<!--						<div class="filter-img"><img src="../../../assets/images/filter.png" alt="" /></div>-->
					</div>
				  </mat-tab>

				  <mat-tab *ngIf="crecords">
					<ng-template mat-tab-label>
					 <h1  class="tab-head-count">{{crecords.length}}</h1>  

					<p  class="tab-head-cont">Completed Quest</p>
					</ng-template>
					<div class="tab-body-header">
					  <div class="tab-content"><p>Completed Quests</p>
					<span>{{crecords.length}} Activities</span>
					</div>
<!--					  <div class="filter-img"><img src="../../../assets/images/filter.png" alt="" /></div>-->
					  </div>
					<div class="activity-list" *ngFor="let quest of crecords">
							<div class="activity">
								<a routerLink="/quest/{{ quest.quest_id }}"><div class="img"><img src={{quest.quest_challenge_icon}} ></div></a>
								<div class="cont">
									<a routerLink="/quest/{{ quest.quest_id }}">
                                        <p innerHTML={{quest.quest_name}}></p>
                                        <span class="questname">{{quest.quest_short_description}}</span>
<!--                                        <span class="questname">{{quest.quest_merchant_name}}</span>-->
                                    </a>
								<button class="btn btn_lg" routerLink="/quest/{{ quest.quest_id }}" mat-flat-button>Details</button></div>
							</div>
						</div>
				  </mat-tab>

				  <mat-tab *ngIf="!crecords" disabled>
					<ng-template mat-tab-label>
					 <h1  class="tab-head-count">0</h1>  

					<p  class="tab-head-cont">Completed Quest</p>
					</ng-template>
					<div class="tab-body-header">
					  	<div class="tab-content"><p>Completed Quests</p>
							<span>0 Activities</span>
						</div>
<!--						<div class="filter-img"><img src="../../../assets/images/filter.png" alt="" /></div>-->
					</div>
				  </mat-tab>
		  </mat-tab-group>
			</div>	
				
		</div>
	</div>
	
</div>
<app-bottom-fixed-menu [itemcount] = "itemcount"></app-bottom-fixed-menu>