/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";
body{
	background: $red;
}
.wrapper_out{
	background: $bgcolor;
}
.myactivities-list{
		margin-top: -100px;
}

@media screen and (max-width:568px)
{
    .myactivities-list{
		margin-top: -75px;
}
}