/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables.scss";
@import '~ngx-toastr/toastr.css';

.toast-success, .toast-error
{
    padding:9px 20px !important;
    padding-left:40px !important;
    background-size:15px !important;
    background-position:15px center !important;
    border-radius:3px !important;
    .toast-message
    {
        position:relative;
        top:2px;
    }
    .toast-close-button
    {
        top:-1px !important;
    }
}

.toast-error
{
    .toast-message
    {
        position:relative;
        top:4px;
    }
}


/* common scss */
body{ @include textstyle($font-family, 16px, 400, $grey5);}
.text-center{ text-align: center;}
.btn{ @include textstyle($font-family, 16px, 700, $white); text-align: center;
border: 2px solid transparent;
padding: 4px 20px;
@include border-radius(30px);
letter-spacing: 0.5px;	
cursor: pointer;
position: relative;
@include transition(all 0.2s linear);	
text-decoration: none;
display: inline-block; height: 36px;}
/*form control css -bootstrap overwrite*/
.form-control:focus{box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);}
.form-control:disabled, .form-control[readonly]{background-color: #ffffff;}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{border:none;@include box-shadow(0 0 0 0 #fff);}

.btn_lg{ padding: 0px 20px !important; height: 36px; line-height: inherit !important; 
    .mat-button-ripple, .mat-button-focus-overlay
    {
        opacity: 0 !important;
    }
    &:focus{
        box-shadow: none;
    }
}
.btn_minwid{ min-width: 180px;}
.btn_pink{ background-color: $red; border-color: $red;
&:hover{
background-color: $white;
color: $red;	
}
}
.btn_pinkbr{ background-color: $white; color: $red; border-color: $red;
&:hover{
background-color: $red;
color: $white;	
}
}
.btn_greybr{ background-color: $white; color: $btn-grey; border-color: $grey2;
&:hover{
background-color: $white;
border-color: $red;
color: $red;	
}
}
.btn_extra_lg
    {
        height: 56px !important;
        min-width: 280px !important;
        font-size: 24px !important;
        padding: 0px 0px !important;
    }

/*scss header starts*/
/*.picky-header{
	text-align: center;
	background: linear-gradient(to right, $light-blue 0%,$dark-blue 100%);
	padding: $container-padding;
}*/
/*scss header ends*/

/* scss after login header starts */
.header-after-login{
	text-align: center;
    background: linear-gradient(to right, #2e58d1 0%, #21409a 100%);
    padding: 15px;
    .picky-header{
    	background: none;
    	@include padding(0px);
    	margin-top: 10px;
    }
    .profile-photo{
    	margin-top: 50px;
    	margin-bottom: 10px;
    	position: relative;
		img{
			height: 100px;
	    	width: 100px;
	    	@include border-radius(50%);
		}
		a{
			position: relative;
		}
		span.edit-icon{
			/*position: absolute;
			top: 36%;
    		right: 38%;
    		min-width: 90px;*/
			label{
				position: absolute;
				bottom:5px;
				right:0;
			}
			fa{
				@include padding(8px);
				background: #00adb1;
				color:#fff;
				@include border-radius(50px);
			}
			img{
				width: 40%;
			}
		}
	}
	.profile-name{
		text-align: center;
		h3{
			font-family: 'barlow_semi_condensed_semibRg';
			font-size: 24px;
			color: $white
		}
	}
}
/* scss after login header ends */

/*scss home page starts */
.picky-banner{
	img{
		width: $image-full-width;
		display: block;
	}
}
.picky-participate{
	img{
		width: $image-full-width;
		display: block;
	}
}
/*scss home page ends */

/*scss featured quest page starts */
/*.featured-guest-head{
    background-color: $white;
    text-align: center;
    h2{
    	color: $navy-blue;
    	text-transform: uppercase;
    	font:{
    		size:35px;
    		family: barlow_semi_condensed_extraRg;
    	}
        margin:{
			top: $margin-zero;
			bottom: $margin-zero;
		}
		padding:{
			top: 17px;
			bottom: 3px;
		}
    }
    p{
    	color: $lightnavy-blue;
    	font:{
    		size:15px;
    		family: barlow_semi_condensedregular;
    	}
       	margin:{
			top: $margin-zero;
			bottom: $margin-zero;
		} 
		padding:{
			bottom: 11px;
		}
    }
}*/
/*scss featured quest page starts */

/*scss popup page starts */
/*.cdk-global-overlay-wrapper{
	.cdk-overlay-pane{
		width: 300px !important;
	}
	.mat-dialog-container{
		@include border-radius(10px);
    	@include box-shadow(0 5px 15px rgba(0,0,0,.5));
	}
}
.mat-dialog-content{
	text-align: center;
	h3{
		color: $black;
		margin:{
			top: $margin-zero;
			bottom: 11px;
		}
		font:{
			size: 18px;
			family: barlow_semi_condensed_exligRg;
		} 
	}
}
.register-button{
	@include padding(12px 37px);
	@include border-radius(40px);
	border: 2px solid $grey;
	margin: 10px 0px 15px 0px;
	display: inline-block; 
	color: $dark-grey;
	vertical-align: middle;
	text:{
		decoration: none;
		transform: uppercase;
	}
	font:{
		size: 11px;
		family: barlow_semi_condensedregular;
	}
}
.login-button{
	color: $black;
	font:{
		size: 17px;
		family: barlow_semi_condensed_mediuRg;
	}
}
.close-button{
	display: block;
	font:{
		size: 18px;
		family: barlow_semi_condensed_mediuRg;
	}
	color: #bbb;
	margin-top:20px;
}*/

/*scss popup page ends */


/*scss signup page starts*/
.signup-form, .login-form{
	min-height: calc(100vh - 241px);
}

    .form-group
    {
        margin-bottom:60px;
        label
        {
            font-size: 24px;
            line-height: 1.35;
            color:#BFBFBF;
            text-transform: capitalize;
        }
        input
        {
            font-size: 18px;
            padding-top: 17px;
            color: $grey5;
            font-weight: normal;
            text-transform: none !important;
		}
    }


.signup-form, .profile-form, .login-form{
	background-color: $white;
	@include padding(48px 48px !important);
	margin-top: 0px;
    border-top-left-radius: 0px; 
	.name-inputs{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include padding(0px 0 0px);
		.name-inputs-single{
			width: 48%;
			.mat-form-field{
				width: 100%;
			}
		}
	}
	.input-filed{
		width: 100%;
		.mat-form-field{
			width: 100%;
		}
		/*@include padding(15px 0px);*/ 
	}
	.mat-form-field-infix{
		@include textstyle($font-family, 16px, 600, $black);
		//@include padding(20px 0px .4375em 0px);
        @include padding(0px);
		height: 0px;
		input{
			border-bottom: 1px solid $grey2;
            font-size: 18px;
            padding-top: 17px;
            color: #646464;
            font-weight: normal;
		}
	}
	.mat-form-field-label{
		@include textstyle($font-family, 16px, 400, $grey);
	}
    .mat-form-field-empty, .mat-form-field-label
    {
        display:none !important;
    }

	.register-button{
		@include textstyle($font-family, 16px, 700, $white);
		border: 2px solid $red;
		@include padding(11px 20px);
		@include border-radius(30px);
		min-width: 180px;
		letter-spacing: 0.5px;
		background-color: $red;
		cursor: pointer;
		position: relative;
		transition: all 0.2s linear;
		&:hover{
			background-color: $white;
			color: $red;
			border: 2px solid $red;
		}
	}
	.signup-btn-main{
		text-align: center;
		margin-top: 26px;
	}
	.signup-google{
		button{
			cursor: pointer;
			&:hover{
				background-color: $google-red;
				color: $white;
			}
			img{
				width: 42px;
			}
		}
	}
	.signup-facebook{
		button{
			cursor: pointer;
			&:hover{
				background-color: $fb-blue;	
				color: $white;
			}
			img{
				width: 42px;
			}
		}
	}
	.or-text{
		@include textstyle($font-family, 18px, 400, #646464);
		/*&:before, &:after{
		background: $grey;
		content:"";
		display: inline-block;
		height:1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
		}
		&:before{
			right:0.5em;
			margin-left:-50%;
		}
		&:after{
			left:0.5em;
			margin-right:-50%;
		}*/
		overflow: hidden;
		text-align: center;
		/*font-size: 12px;*/
		@include padding(10px 0px 0px 0px)
	}	
}


.profile-form{
	.register-button{
		background-color: transparent;
	}
	.signup-signin{
		margin-top: 10px;
		.change-pwd{
			position: relative;
			
		}
		.change-pwd:after{
			content:"";
			position: absolute;
			width: 1px;
			height: 18px;
			bottom: 0px;
			right: -4px;
			background-color: $dark-grey;
		}
		a{
			@include textstyle($font-family, 14px, 400, $darkgrey);
			text-decoration:none;
			margin: 0px 4px;
		}
	}
	.signup-google-facebook{
		/*display: block;*/
		margin-top: 0px;
		.signup-google, .signup-facebook{
			button{
				width: 100%;
				align-items: center;
				/*border-radius: 0px;
				@include padding(7px 30px);
				margin-bottom: 21px;*/
				cursor: pointer;
				img{
					width: 42px;
					/*margin: 4px;
					margin-right: 15px;*/
				}
			}
		}
		.signup-google{
			button{
				&:hover{
					background-color: $google-red;
					color: $white;
				}
				
			}
		}
		.signup-facebook{
			button{
				&:hover{
					background-color: $fb-blue;	
					color: $white;
				}
			}
		}
	}
	.signup-btn-main{
		margin-top: 40px;
	}
}
.signup-signin{
	p{
		font:{
			size: 14px;
			family: barlow_semi_condensedregular;
			color: $black;
		}
	}
	a{
		color: $dark-grey;
	}
}
.signup-google-facebook{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 100%;    
	margin-left: auto;
	margin-right: auto;
	margin-top: 33px;
	.signup-google, .signup-facebook{
		width:48%;
		button, a{
			background-color: transparent;
			width: 100%;
		//	@include padding(10px 15px);
            @include padding(31px 30px);
			/*font-family: 'barlow_semi_condensedregular';
			font-size: 16px;
			color: $grey3;*/
			@include textstyle($font-family, 16px, 400, #646464);
			line-height: 1.3;
			vertical-align: middle;
			display: flex;
			text-align: left;
			@include border-radius(4px);
			border: 1px solid $grey1;
			img{
				margin-right: 20px;
				align-self: center;
			}
            &:hover
            {
                text-decoration: none;
            } 
            span 
            {
                
            }
		}
	}
}
/*scss signup page ends*/

/*scss challenges page starts*/
.header-profile-sec{
	width: 100%;
	margin: 35px auto -66px;
	background-color: $white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include padding(15px);
	@include border-radius(8px);
	@include box-shadow(0px 6px 7px rgba(0, 0, 0, 0.1645));
	.profile-image{
		width: 15%;
		span{
			display: block;
    		width: 80px;
    		height: 80px;
    		@include border-radius(50%);
    		overflow: hidden;
    		/*@include for-phone-only{
    			width: 40px;
    			height: 40px;
    		}*/
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.name-sec{
		width: 70%;
		text-align: left;
		h3{
			color: $profile-blue;
			font-weight:normal;
			font:{
				size: 20px;
				family: barlow_semi_condensed_mediuRg;
			}
			@include padding(0px 0px 0px 10px);
		}
	}
	.profile-editicon{
		width: 15%;
		text-align: right;
	}
}

.challenges-sec {
    margin-top: 82px;
    ul{
    	list-style: none;
    	@include padding(0 22px);
    	margin-bottom: 25px;
    	li{
    		display: inline-block;
    		width: 33%;
    		text-align: center;
    		position: relative;
    		&:hover{
    			a{
    				&:after{
    					@include transform(scale(1));
    				}
    			}	
    		}
    		a{
    			text-decoration: none;
    			color: $dark-grey;
    			position: relative;
    			display: block;
    			@include padding(7px);
    			margin-right: 2px;
    			text-transform: uppercase;
    			font:{
    				family: barlow_semi_condensedregular;
    				size: 16px;
    			}
    			&:after{
    				content: "";
    				background-color: $brown;
    				height: 3px;
    				position: absolute;
    				width: 100%;
    				left: 0px;
    				bottom: -7px;
    				@include transition(all 250ms ease 0s);
    				@include transform(scale(0));
    			}
    		}
    	}
    	li.active{
    		a{
    			font-family: 'barlow_semi_condensed_semibRg';
    			color: $brown;
    			&:after{
    				@include transform(scale(1));
    			}
    		}
    	}
    }
}
/* error msg*/
.invalid-feedback{
	&.ng-star-inserted{
//	position:absolute;
//	bottom:-22px;
	font-size:13px;
	width: 100%;
    padding: 5px 0;
//    background: rgba(204, 204, 204, 0.24);
        background: transparent;
	margin-top: 0px;
	}
	.ng-star-inserted{
	font:{
			family: $font-family;
			weight:normal;
		}
		color:$black;
	&:before{
	content:"\f06a";
	position: inherit;
	font-family: fontAwesome;
	color: $google-red;
    margin-right: 5px;
}
}
}
/*scss challenges page ends*/


/*scss footer starts*/
/*.picky-footer{
	background-color: $dark-blue;
	text-align: center;
	padding: 20px;
	p{
		font:{
			size: 13px;
			family: barlow_semi_condensed_mediuRg;
		}
		line-height: 22px;
		color: $white;
		margin:{
			top: $margin-zero;
			bottom: $margin-zero;
		}
		a{
			color: $light-yellow;
			text-decoration: none;
		}
	}	
}*/
.white-footer{
	background-color: $white;
	p{
		color: $dark-blue;
		a{
			color: $pink;
		}
	}
}


/*success portion*/
.success-msg-content{
	width:100%;
	margin-top: 40px;
	.success-msg{
		border:1px solid #b8dfbb;
		display:flex;
		flex-direction: row;
		@include padding(10px);
		background: $light-green;
		@include box-shadow(-4px 0px 0px #b1caa0);
		border-radius: 6px;
		.icon{
			width:10%;
			align-self: center;
    		text-align: center;
			span{
			    padding: 8px;
    			background: #69c36b;
    			@include border-radius(100%);
				border: 3px solid rgba(243, 243, 243, 0.2);
				color:$white;
			}
		}
		.msg{
			width:90%;
    		@include padding(0px 8px);
			.content{
				float: left;
				h1{
					@include margin(5px 0px);
					@include textstyle($font-family,18px,600,$black);
				}
				p{
					@include margin(5px 0px);
					@include textstyle($font-family,16px,400,$black);
				}
			}
			.close{
				text-align: right;
				fa
				{
					font-size: 14px;
					color:#b1caa0;
				}
			}
		}	
	}
}

/*error alert portion*/
.error-msg-content{
	width:100%;
	margin-top: 40px;
	.error-msg{
		border: 1px solid #ff836d;
		display:flex;
		flex-direction: row;
		@include padding(10px);
		background: #ffefeb;
		@include box-shadow(-4px 0px 0px #ff836d);
		border-radius: 6px;
		
		.icon{
			width:10%;
			align-self: center;
    		text-align: center;
			span{
			    padding: 4px 10px;
    			background: #ff836d;
    			@include border-radius(100%);
				border: 3px solid #ff836d;
				color:$white;
				font-size: 18px;
			}
		}
		.msg{
			width:90%;
    		@include padding(0px 8px);
			.content{
				float: left;
				h1{
					@include margin(5px 0px);
					@include textstyle($font-family,18px,600,#ff836d);
				}
				p{
					@include margin(5px 0px);
					@include textstyle($font-family,16px,400,#ff836d);
				}
			}
			.close{
				text-align: right;
				position: relative;
				fa
				{
					font-size: 14px;
					color:#ff836d;
					position: absolute;
					right:0;
				}
			}
		}	
	}
}

//.signup-form2{
//	.signup-btn-main{
//	.register-button{
//		position: relative;
//		span{
//			position: absolute;
//			top: 50%;
//			left:50%;
//			transform:translate(-50%, -50%);
//			font-size: 20px;
//			color:#fff;
//		}
//		&:before
//		{
//			content:"";
//			position:absolute;
//			background: rgba(0, 0, 0, 0.5);
//			top:0;
//			left: 0;
//			height: 100%;
//			width: 100%;
//			@include border-radius(20px)
//		}
//	}
//}
//}
/*scss footer ends*/


/*new style */

.or-signup
{
    @include textstyle($font-family, 18px, 400, $grey5);
    line-height: 22px;
    text-align:center;
    display: block;
    margin:0px 0px 31px 0px;
}

.signup-form, .profile-form, .login-form{
	background-color: $white;
	@include padding(48px 48px !important);
	margin-top: 0px;
    border-top-left-radius: 0px;
	.name-inputs{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include padding(0px 0 0px);
		.name-inputs-single{
			width: 48%;
			.mat-form-field{
				width: 100%;
			}
		}
	}
	.input-filed{
		width: 100%;
		.mat-form-field{
			width: 100%;
		}
	}
	.mat-form-field-infix{
		@include textstyle($font-family, 16px, 600, $black);
		//@include padding(20px 0px .4375em 0px);
        @include padding(0px);
		height: 0px;
		input{
			border-bottom: 0px solid $grey2;
            font-size: 18px;
            padding-top: 10px;
            color: $grey5;
            font-weight: normal;
		}
	}
	.mat-form-field-label{
		@include textstyle($font-family, 16px, 400, $grey);
	}
    .mat-form-field-empty, .mat-form-field-label
    {
        display:none !important;
    }

	.register-button{
		@include textstyle($font-family, 16px, 700, $white);
		border: 2px solid $red;
		@include padding(11px 20px);
		@include border-radius(30px);
		letter-spacing: 0.5px;
		background-color: $red;
		cursor: pointer;
		position: relative;
		@include transition(all 0.2s linear);
	//	@include box-shadow (0px 6px 17.5px rgba(238, 50, 95, 0.54));        
        height: 50px;
        min-width: 180px;        
		&:hover{
			background-color: $white;
			color: $red;
			border: 2px solid $red;
			box-shadow: none;
		}
	}
	.signup-btn-main{
		text-align: center;
//		margin-top: 26px;
		margin:35px 0 20px;
	}
	.signup-google{
		button{
			cursor: pointer;
			&:hover{
				background-color: $google-red;
				color: $white;
			}
			img{
				width: 42px;
			}
		}
	}
	.signup-facebook{
		button{
			cursor: pointer;
			&:hover{
				background-color: $fb-blue;	
				color: $white;
			}
			img{
				width: 42px;
			}
		}
	}
	.or-text{
		@include textstyle($font-family, 18px, 400, #646464);
		overflow: hidden;
		text-align: center;
		@include padding(10px 0px 0px 0px)
	}	
}

.profile-form{
	border-top-left-radius: 0px;
	margin-top: 0px;
}
.forgot-pwd{
	text-align: center;
	a{
		text-decoration: none;
		@include textstyle($font-family, 12px, 700, $dark-blue);
		&:hover{
		color:$red;
			}
	}
	
}
/* for form input line*/
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #BDBDBD !important;
	bottom: -1.85em !important;
}

.login-form-padding{
	@include padding(35px 0 0);
}
/*payment process popup*/
.payment-process-popup .mat-dialog-container
{
	max-width: 400px;
   @include padding(0px);

}
/*-----------------activity tab---------*/


.myactivities-list{
	.myactivities-list-full{
		.activity-tab{
			.mat-tab-group{
				.mat-tab-header {
					border-bottom: 1px solid rgba(0, 0, 0, 0);
					.mat-tab-header-pagination {display: none;}
					.mat-tab-label-container{
						@include margin(0 48px);
						.mat-tab-list{
							.mat-ink-bar{
								height:8px;
								border-bottom-left-radius: 8px;
								border-bottom-right-radius: 8px;
								background-color: #EE325F;
								bottom:9px;
							}
							.mat-tab-labels{
								margin-bottom: 10px;
                                justify-content: space-between;
								.mat-tab-label {
									height:134px;
									width:48.53% !important;
									background:#fff;
									@include box-shadow(0px -1px 16px #ccc);
									@include margin(0 0px 0px 0);
									@include border-radius(8px);
									opacity:1;
									@include padding(0 32px);
									
									.mat-tab-label-content{
										display: flex;
										flex-direction:column;
										width:100%;
										justify-content: flex-start;
										align-items: flex-start;
										text-align: left;
										h1{
											@include margin(0);
											@include textstyle($font-family, 42px, 700, $darkgrey);
											width: 100%;
										}
										p{
											@include textstyle($font-family, 18px, 700, $grey5);
											@include margin(5px 0);
											width: 100%;
											line-height: 24px;
											
										}
									}
									&.mat-tab-label-active{
									.mat-tab-label-content{
										h1{
											@include textstyle($font-family, 42px, 700, $red);
										}
									}
								}
								}
								
							}
							
						}
					}
				}
				.mat-tab-body-wrapper{
				.mat-tab-body{
					.mat-tab-body-content{
						@include padding(33px 0px 33px);
                        padding-bottom: 0px;
						.tab-body-header{
							@include padding(0 48px);
                            display: flex;
							.tab-content{
							float:left;
							width:calc(100% - 32px);
							@include margin(0 0 31px);
							
							p{
							@include margin(0);
							@include textstyle($font-family, 24px, 700, $grey5);
							line-height: 32px;
							
						}
						span{
							@include textstyle($font-family, 18px, 400, $grey5);
							line-height: 24px;
							@include margin(5px 0 0);
    						display: inline-block;
						}
						}
						.filter-img{
							
							@include margin(13px 0 31px);
							&:after{
								clear: both;
							}
	
						}
						}
						
						
						.activity-list{
							.activity{
								display:flex;
								flex-direction: row;
								flex-wrap: nowrap;
							    width:100%;
								@include padding(32px 48px);
								@include margin(0 0 8px);
								background: #fff;
								align-self: center;
								.img{
									width:216px;
									img{
										width:216px;
										@include border-radius(8px);
//										height:148px;
//										object-fit: cover;
//										object-position: center;
                                        
									}
								}
								.cont
								{
									width:101%;
                                    width:calc(100% - 216px);
									@include padding(0 0 48px 32px); 
									align-self: auto;
                                    position: relative;
									.questname{
										@include textstyle($font-family, 18px, 400, $grey5);
										@include padding(0 0 0px);
										display: inline-block;										
										line-height: initial;
									}
									p{
										@include margin(0);
										@include textstyle($font-family, 20px, 700, $grey5);
										line-height: initial;
										@include padding(0 0 0px);
                                        margin-bottom: .5rem;

									}
									button{
										background: $red;
										border:2px solid $red;
										color:#fff;
										line-height: normal;
										@include padding(7px 25px 6px);
										@include border-radius(30px);									@include textstyle($font-family, 16px, 700, #fff);
										transition: all 0.2s linear;
                                        position: absolute;
                                        bottom: 0;
                                        width: 201.24px;
                                        display: block;
										&:hover{
											color: $red;
											background: $white;
										}
                                        a 
                                        {   
                                            color: inherit;
                                            &:hover
                                            {
                                              //color: #EE325F;  
                                            }
                                        }
									}
								}
							}
						}
					}
				}
			}
			}
			
		}
	}
}


/*-----------------voucher tab---------*/
.myvouchers-list{
	.myactivities-list-full{
		.activity-tab{
			.mat-tab-group{
				.mat-tab-header {
					border-bottom: 1px solid rgba(0, 0, 0, 0);
					.mat-tab-header-pagination {display: none;}
					.mat-tab-label-container{
						@include margin(0 48px);
						.mat-tab-list{
							.mat-ink-bar{
								height:8px;
								border-bottom-left-radius: 8px;
								border-bottom-right-radius: 8px;
								background-color: #EE325F;
								bottom: 11px;
							}
							.mat-tab-labels{
								margin-bottom: 15px;
								justify-content: space-between;
								.mat-tab-label {
									height:134px;
									width:48.53% !important; 
									background:#fff;
									@include box-shadow(0px -1px 16px #ccc);
									@include margin(0 0px 0px 0);
									@include border-radius(8px);
									opacity:1;
									
									.mat-tab-label-content{
										display: flex;
										flex-direction:column;
										width:100%;
										justify-content: flex-start;
										align-items: flex-start;
										text-align: center;
										h1{
											@include margin(0);
											@include textstyle($font-family, 42px, 700, $darkgrey);
											width: 100%;
										}
										.vou-shop{
											@include textstyle($font-family, 28px, 700, $grey5);
											line-height: 29px;	
										}
										.my-vou{
											@include textstyle($font-family, 18px, 700, $grey5);
											line-height: 24px;
										}
										p{
											width: 100%;
											@include margin(5px 0);
										}
									}
									&.mat-tab-label-active{
									.mat-tab-label-content{
										h1{
											@include textstyle($font-family, 42px, 700, $red);
										}
									}
								}
								}
								
							}
							
						}
					}
				}
				.mat-tab-body-wrapper{
				.mat-tab-body{
					.mat-tab-body-content{
							@include padding(33px 0px 0px);
						.inner-tap, .inner-sec-tap{
							.mat-tab-header{
								.mat-tab-label-container{
									.mat-tab-list{
										.mat-ink-bar{bottom:0;}
										.mat-tab-labels{
											margin-bottom: 0px;
											.mat-tab-label{
												    height: auto;
													background: #ffffff03;
													border-radius: 0px;
													box-shadow: none;
													@include padding(0);
												.mat-tab-label-content{
													@include textstyle($font-family, 24px, 700, $grey5);
													line-height: 32px;
													@include margin(0 0 20px 0);
												}
											}
											
										}
										.mat-ink-bar{
												border-radius: 0px;
												width: 124px !important;
											}

									}
								}
							}
							.mat-tab-body-wrapper{
								background: $bgcolor;
								.mat-tab-body{
									.mat-tab-body-content{
											@include padding(0px);
											.tab-body-header{
												position: relative;
													.success-msg-content{
														position: absolute;
														top:0;
														left: 0;
														width:100%;
														@include margin(23px 0);
														@include padding(0 48px);
														.success-msg{
															border:1px solid #7ED321;
															display:flex;
															flex-direction: row;
															@include padding(15px 10px);
															background: #EEFFDC;
															box-shadow:none;
															border-radius: 4px;
															width:100%;
															.icon{
																width:10%;
																align-self: center;
																text-align: center;
																span{
																	@include padding(5px 6px);
																	background: #7ED321;
																	@include border-radius(100%);
																	border: 0px solid rgba(243, 243, 243, 0.2);
																	color:$white;
																}
															}
															.msg{
																width:90%;
																@include padding(0px 8px);
																.content{
																	float: left;
																	h1{
																		@include margin(5px 0px);
																		@include textstyle($font-family,18px,600,$black);
																	}
																	p{
																		@include margin(5px 0px);
																		@include textstyle($font-family,16px,400,$black);
																	}
																}
																.close{
																	text-align: right;
																	fa
																	{
																		font-size: 14px;
																		color:#b1caa0;
																	}
																}
															}	
														}
													}
												@include padding(23px 48px);
												.tab-content{
													float:left;
													width:calc(100% - 32px);
		//											@include margin(0 0 31px);

													p{
													@include margin(0);
													@include textstyle($font-family, 24px, 700, $grey5);
													line-height: 32px;

														}
									
										span{
											@include textstyle($font-family, 18px, 400, $grey5);
											line-height: 24px;
											@include margin(5px 0 0);
											display: inline-block;
										}
										}
										.filter-img{

//											@include margin(13px 0 31px);
											float:left;
											width:32px;
											
										}
												&:after
												{
													clear: both;
													content: "";
													display: table;
												}
												
										}
									.activity-list{
											.activity{
												display:flex;
												flex-direction: row;
												flex-wrap: nowrap;
												width:100%;
												@include padding(32px 48px);
												border-bottom: 8px solid #F8F8F8;
												background: #fff;
												.img{
													width:216px;
													img{
														width:216px;
														@include border-radius(8px);
				//										height:148px;
				//										object-fit: cover;
				//										object-position: center;
													}
												}
												.cont
												{
                                                    width:102%;
													width:calc(100% - 216px);
													@include padding(0 0 45px 32px); align-self: auto;position: relative;
													.questname{
														@include textstyle($font-family, 18px, 400, $grey5);
														@include padding(0 0 4px);
														display: inline-block;

													}
													p{
														@include margin(0);
														@include textstyle($font-family, 20px, 700, $grey5);
														line-height: normal;
														@include padding(0 0 7px);

													}
                                                    span 
                                                    {
                                                        display: block;
                                                    } 
                                                    i 
                                                    {
                                                        display: block;
                                                        font-style: normal;
                                                    }
													.vou-card-buttons
													{
														display: inline-block;
                                                        position: absolute;
                                                        bottom: 0px;
														button{
														background: $red;
														border:2px solid $red;
														line-height: normal;
														padding: 6px 0px;
														@include margin(0 14px 0px 0); 
														@include border-radius(30px);
														display: inline-block;
														@include textstyle($font-family, 16px, 700, #fff);
														transition: all 0.2s linear;
                                                            width:201.24px;
															&:nth-child(2){
																background: $dark-blue;
																border:2px solid $dark-blue;
															}
															&:hover{
																background: $white;
																border-color: $red;
																color: $red;
															}
													}
														
													}
													
												}
                                                .cont_i
                                                {
                                                    p 
                                                    {
                                                        padding-bottom: 5px;
                                                    }
                                                }
											}
						}
									}
								}
							}
						}
						.inner-sec-tap{
//							.mat-tab-header{
//								.mat-tab-label-container{
//									.mat-tab-list{
//										.mat-tab-labels{
//											.mat-tab-label{
//												    height: auto;
//													background: #ffffff03;
//													border-radius: 0px;
//													box-shadow: none;
//													@include padding(0);
//												.mat-tab-label-content{
//													@include textstyle($font-family, 24px, 700, $grey5);
//													line-height: 32px;
//													@include margin(0 0 20px 0);
//												}
//											}
//											
//										}
//										.mat-ink-bar{
//												border-radius: 0px;
//												max-width: 124px;
//											}
//
//									}
//								}
//							}
							.mat-tab-body-wrapper{
								.mat-tab-body{
									.mat-tab-body-content{
											.tab-body-header{
											.tab-content{
													p{
													
													@include textstyle($font-family, 18px, 700, $grey5);
													line-height: 24px;
													}
												}
										}
									}
								}
							}
						}
						
					
//						.tab-body-header{
//							@include padding(0 48px);
//							.tab-content{
//							float:left;
//							width:calc(100% - 32px);
//							@include margin(0 0 31px);
//							
//							p{
//							@include margin(0);
//							@include textstyle($font-family, 24px, 700, $grey5);
//							line-height: 32px;
//							
//						}
//						span{
//							@include textstyle($font-family, 18px, 400, $grey5);
//							line-height: 24px;
//							@include margin(5px 0 0);
//    						display: inline-block;
//						}
//						}
//						.filter-img{
//							
//							@include margin(13px 0 31px);
//							&:after{
//								clear: both;
//							}
//	
//						}
//						}
						
						
//						.activity-list{
//							.activity{
//								display:flex;
//								flex-direction: row;
//								flex-wrap: nowrap;
//							    width:100%;
//								@include padding(32px 48px);
//								@include margin(0 0 8px);
//								background: #fff;
//								align-self: center;
//								.img{
//									width:216px;
//									img{
//										width:216px;
//										@include border-radius(8px);
////										height:148px;
////										object-fit: cover;
////										object-position: center;
//									}
//								}
//								.cont
//								{
//									width:calc(100% - 216px);
//									@include padding(0 0 0 32px);
//									.questname{
//										@include textstyle($font-family, 18px, 400, $grey5);
//										@include padding(0 0 6px);
//										display: inline-block;
//										line-height: 24px;
//										
//									}
//									p{
//										@include margin(0);
//										@include textstyle($font-family, 20px, 700, $grey5);
//										line-height: 26px;
//										@include padding(0 0 10px);
//
//									}
//									button{
//										background: $red;
//										border:2px solid $red;
//										color:#fff;
//										line-height: 18px;
//										@include padding(7px 40px);
//										@include border-radius(18px);
//										width:201px;
//										span{
//											@include textstyle($font-family, 16px, 700, #fff);
//											line-height: 16px;
//										}
//									}
//								}
//							}
//						}
					}
				}
			}
			}
			
		}
	}
}
/*feature quest page slider dots*/
.slick-quest-slider{
		.carousel{
			.slick-dots{
                bottom: -12px !important;
				li {
                    width:40px;
                    height:12px;
                    margin:0px 0px;
                    margin-right: 16px;
					button{
                         width:40px;
                        height:12px; padding: 0;
                        background: #D8D8D8;
						&:before{
							content: '-' !important;
							font-size:70px;
							color: #D8D8D8 !important;
    						opacity: 0 !important;
							
						}
					}
				}
				.slick-active {
                    width:64px;
			button{
                width:64px;
                background: #EE325F;
				&:before{
					color:$red !important;
				}
			}
					
					
			}
				text-align: left;
				 margin-left: 30px; bottom: -7px;
			
		}
		}
	}

.different-vouchers-card
{
    margin-bottom:32px !important;
}
/* payment radio buttoon*/
.payment-methods{
	.mat-radio-group{
		.payment-section{
			.mat-radio-label{
				.mat-radio-container{
					margin-right:36px;
					width:32px;
					height:32px;
					.mat-radio-outer-circle{
						width:32px;	
						height: 32px;
					}
					.mat-radio-inner-circle{
						width:18px;	
						height: 18px;
						left:7px;
						top:7px;
					}
				}
				.mat-radio-label-content{
					img{
					margin-right:24px;
					@include border-radius(6px);
					}
				}
			}
			&.mat-radio-checked {
				.mat-radio-inner-circle{
				@include transform(scale(1));
			}
				.mat-radio-outer-circle{
					border-color: #D7D7D7;
				}
			}
		}
	}
}
/*cart stepper potion*/
	.stepper{
		padding:48px;
			border-bottom: 16px solid $grey-bg;
		.step-content{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.steps{
				a{
					display: block;
					text-decoration: none;
						p{
				text-align: center;
				color:$grey6;
				margin:0;
				font-family: $font-family;
				}
				
				.step-count{
					font-size:16px;
					line-height: 21px;	
				}
				.step-title{
					width:85px;
					white-space: pre-wrap;
					font-size: 18px;
					font-weight: 700;
					line-height: 24px;
					padding-bottom: 8px;
				}
				}
			
			}
		}
		.steps-line{
			position: relative;
			height: 8px;
			width:calc(100% - 80px);
			display: table;
			margin:15px auto;
			background-color: #B4D1FF;	
			
			.dot{
				display: inline-block;
				position: absolute;
				width:85px;
				text-align: center;
				z-index: 9999;
				transform: translate(0%, -50%);
				top:50%;
				&.dot-one{
				left:-40px;
			}
			&.dot-two{
				left: 50%;
    			transform: translate(-50%, -50%);
			}
			&.dot-three{
				right: -40px;
    			
			}
				a{
					display: block;
					text-decoration: none;
					fa{
					background: #fff;
					box-shadow: none;
					@include border-radius(50%);
					border: 5px solid #B4D1FF;
//					padding: 3.36px 6px;
    				color: #fff;
                        width: 32px;
                        height: 32px;
                        display: block;
                        margin: auto;
                        position: relative;
                        i 
                        {
                            width: 12px;
                            height: 12px;
                            font-size: 12px;
                            position: absolute;
                            top: 50%;
                            left: 0px;
                            right: 0px;
                            margin: auto;
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                        
                        }
					}
				&.active
				{
					fa{
						border: 5px solid #fff;
						color:$dark-blue;
						@include box-shadow(0 0 16px #eee);
						
					}
					
				}
					
				
				}
//					&:not(:last-child)::after{
//						position: absolute;
//						content: "";
//						width:50%;
//						height: 5px;
//						background-color:#ccc;
//						top: 50%;
//						transform: translate(0,-50%);
//						background-color: #ccc;
//						z-index: -99;
//						
//					}
				
				}
			.line{
				display: inline-block;
					display: inline-block;
					height: 8px;
					width: calc(50% - 130px);
					background-color: #ccc;
					color: #ccc;
				
			}
			}
		}

/* cart checkout portion*/

	.checkout-fixed{
		    background-image: linear-gradient(to right, #2D59D5, #20409A);
			position: fixed;
			bottom: 90px;
//			bottom:226;
			right: 0;
			max-width: 640px;
			display: inline-block;
			left: 0;
			margin: 0 auto;
			padding:25px 48px;
        z-index: 99999;
		.checkout-flex{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width:100%;
            align-items: center;
			.checkout-text{
				p{
					@include textstyle($font-family, 20px, 400, #fff);
					margin:0px;
					line-height: 26px;
                    display: flex;
                    align-items: center;
                    span{
					@include textstyle($font-family, 28px, 700, #fff);
					margin:0px;
					line-height: 37px;	
				}
					
				}
				span{
					@include textstyle($font-family, 28px, 700, #fff);
					margin:0px;
					line-height: 37px;	
				}
				a{
					align-self: flex-end;
                    width: 226px;
                    height: 56px;
                    padding: 7px 0px !important;
                    text-align: center;
                    line-height: inherit !important;
                    font-size: 24px;
                    font-weight: bold;
					//@include textstyle($font-family, 24px, 700, #fff);
//					padding:18px 59px;
//					line-height: 16px;
//					height: 56px;
//					&:hover{
//						color:$grey6;
//					}
				}
//				&.checkout-width{width:20%;}
				&.checkout-width2{width:50%;}
				&.checkout-width3{width:50%;text-align: right;}
				
			}
		}
	}
/*cart payment portion*/
	/*the animation definition*/  
	@keyframes slidEup {
		0%{
		bottom: 42px;
		}	
		100% {
			bottom: 165px;
		}
	}
	.payment-methods-sec{
			position: fixed;
			bottom: -100%;
//			bottom: 104px;
			right: 0;
			width: 100%;
		    max-width:640px;
			display: inline-block;
			left: 0;
			margin: 0 auto;
			background: #fff;
			padding:40px 48px;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;			
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-name: slidEup;
			animation-name: slidEup;
		
		@include box-shadow(1px 1px 15px rgba(0, 0, 0, 0.2));
		.payments-methods-inner{
			border:1px solid #dadada;
			padding:20px 27px 35px 27px;
			@include border-radius(6px);
			
				h2{
					@include textstyle($font-family, 24px, 700, $grey6);
					line-height: 32px;
					margin-bottom: 5px;
					margin-top:0;
				}
				p{
					@include textstyle($font-family, 18px, 400, $grey6);
					line-height: 24x;
					margin: 0;
				}
			.payment-methods{
				margin-top:31px;
			}
		}
		&.active{						
			    z-index: 9999;
		}
	}
/*riddle page accordion*/
.accordion-clue{
	.mat-accordion{
		.mat-expansion-panel{
			margin-bottom: 28px !important;
			.mat-expansion-panel-header{
				padding:32px 24px;
				background: $dark-blue;
				color:#fff;position: relative;
				
				.mat-content{
					.mat-expansion-panel-header-title{
						margin-right: 0px;
						flex-direction: column;
						img{
							display: none;
						}
						p{
							@include textstyle($font-family, 24px, 700, #fff);
							margin:0;
							span{
								color:$red;
							}
						}
					}
				}
				.mat-expansion-indicator{
					&:after
					{
						padding:7px;
						color:#fff;
					}
				}
				&:hover{
					background-color: $dark-blue !important;
				}
			}
			.mat-expansion-panel-content{
					.mat-expansion-panel-body{
						padding:0px;
					}
				}
			&.mat-expanded{
				.mat-expanded{
					padding: 0px;
					min-height: 275px;
					position: relative;
					background:#fff;
					overflow: hidden;
					
					.mat-content{
						
					.mat-expansion-panel-header-title{
						width:100%;
						img{
							display: block;
                          //  width: 100%;
						}
						p{
							margin: 0px;
							padding:24px 32px;
							font-size:$dark-blue;
							
						}
					}
						
				}
					.mat-expansion-indicator{
						    position: absolute;
							bottom: 5px;
							padding: 15px 0px;
							right: 30px;
						&:after
					{
						padding:7px;
						color:$dark-blue;
					}
   
					}
					&:hover{
					background-color: #fff !important;
				}
				}
			}
		}
	}
}
/*input background color*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
}
input:-internal-autofill-selected {background-color: #FFFFFF !important;}
.Checkout_popup_step2{
	.mat-model-green
    {
		fa{
			.fa-check{
				padding: 20px;
					font-size: 35px;
			}
			
		}
    }
    button 
    {
        width: 226px;
        height: 56px;
        border-color: #D8D8D8 !important;
        background: transparent !important;
        color: #9F9F9F;
        font-size: 24px;
        font-weight: 700;
        border: 2px solid #D8D8D8;
        &:hover
        {
            border-color: #EE325F !important;  
            border: 2px solid #EE325F !important;
        }
    }
}
.Checkout_popup_step3{
	.mat-model-red
    {
        position: relative;
		fa{
			.fa-close{
				padding: 0px;
                font-size: 35px;
                line-height: initial;
                position: absolute;
                top: 50%;
                margin: auto;
                left: 0px;
                right: 0px;
                height: auto;
                text-align: CENTER;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
			}
			
		}
    }
}
/*voucher popup*/
.custom-class{
	.modal-dialog-scrollable{
		.modal-content{
			overflow: auto;
		}
	}
}


/* voucher popup style */

.custom-class
{
    z-index: 9999;
    .modal-dialog
    {
        position: static;
        .modal-content
        {
            background-color: transparent;
            border: none;
            position: static;
            .voucher-content
            {
                position: absolute;
                width: 540px;
                top: 50%;
                left: 0px;
                right: 0px;
                margin: auto;
                height: 90%;
                clear: both;
                overflow: hidden;
                border-bottom-left-radius: 24px;
                border-bottom-right-radius: 24px;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.49); 
                border-radius: 24px;
                //background: #fff;
            }
        }
    }
}
.general-pages
{
    .general-pages-inner 
    {  
        img 
        {
            width: 100% !important; 
        }
    }
}
.general-pages
{
    max-width:540px;
    height:auto;
    margin: auto;
    padding:25px 0px;
    h2 
    {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #646464;
        text-align: center;
        padding-bottom: 0px;
        text-transform: uppercase;
    }
    h3 
    {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #646464;
        text-align: left;
        padding-bottom: 0px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .how-to-play
    {
        display: block;
        padding: 25px 0px;
        text-align: left;
        padding-bottom: 0px;
        .how-to-play-details
        {
            text-align: left;
            padding: 10px 0px;
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            .how-to-play-list
            {
                margin-right: 15px;
               img 
                {
                    width:100px !important;
                    height: 100px !important;
                    border-radius: 50%;
                    margin: auto;
                    margin-bottom: 0px;
                   // border: 2px solid $red;
                }
                h2 
                {
                    font-size: 20px;
                    color:#646464;
                    text-transform: uppercase;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    font-weight: 400;
                    text-align: left;
                }
                p 
                {
                    font-size: 14px;
                    color:#646464;
                    margin-bottom: 0px;
                } 
            }
        }
    }
    .accordion-function
    {
        padding: 25px 15px;
        h4 
        {
            font-weight: 400;
            font-size: 16px;
            color: #646464;
            margin-bottom: 0px;
        }
        h2 
        {
          font-size: 18px;  
        }
        p 
        {
            margin-top: 0;
            margin-bottom: 0px;
            font-size: 12px;
            color: #646464;
        }
    }
}
.vocuher-remove-success
{
    width:auto;
    height:64px;
    border:1px solid #7ED321;
    background: #EEFFDC;
    margin: auto;
    border-radius: 4px;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    p 
    {
        margin-bottom: 0px;
        font-size: 18px;
        img 
        {
            margin-right: 25px;
        }
    }
}

/* responsive */
@media (max-width: 767px){
.signup-form, .profile-form, .login-form{.input-filed{@include padding(10px 0px);}}
.signup-form, .profile-form, .login-form{.name-inputs{@include padding(25px 0px 10px);}}
}

@media (max-width: 767px){
.picky-header{padding: 8px; 
	/* img{max-height: 40px;} */
}

}

@media (max-width: 568px){
    
    .myvouchers-list .myactivities-list-full .activity-tab .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content
    {
        padding: 10px 0 0px 0 !important;
    }
    .quest-complete
    {
        .loading-btn-resize
        {
            display: block;
            margin-top: 55px !important;
        }
    }
    .signup-google-facebook .signup-google button, .signup-google-facebook .signup-google a, .signup-google-facebook .signup-facebook button, .signup-google-facebook .signup-facebook a
    {
        font-size: 12px;
    }
    .picky-header-quest
    {
        padding-bottom: 5px !important;
        padding-top:5px !important;
    }
    .tab-body-header
    {
        display: flex;
        .filter-img
        {
            text-align: center;
            margin: auto;  
            img 
            {
                width: 25px;
                margin: auto;
            }
        }
    }
    .general-pages
    {
        .how-to-play
        {
            padding: 15px 0px;
            .how-to-play-details
            {   
                padding: 10px 5px;
                .how-to-play-list
                {
                    margin-right: 15px;
                   img 
                    {
                        width:75px !important;
                        height: 75px !important;
                    }
                    h2 
                    {
                        font-size: 16px;
                        padding-bottom: 2px;
                        font-weight: 400;
                    }
                    p 
                    {
                        font-size: 13px !important;
                        margin-bottom: 0px;
                    } 
                }
            }
        }
      
    }
    
    @keyframes slidEup {
		0%{
		bottom: 42px;
		}	
		100% {
			bottom: 141px;
		}
	}
    .custom-class 
    {
        .modal-dialog 
        {
            width: auto;
            margin-left: 30px;
            margin-right: 30px;
            border-radius: 24px;
            .voucher_popup_height
            {
                .img_blur
                {
                    img
                    {
                        border-top-left-radius: 24px;
                        border-top-right-radius: 24px;
                    }
                }
                .voucher-content-new
                {
                    padding: 0px 25px !important;
                    p 
                    {
                        font-size: 12px !important;
                    }
                    h3 
                    {
                        font-size: 18px !important;
                        @include padding(2px 0 5px 0px !important);
                    }
                    .voucher-lists
                    {
                        h6 
                        {
                            font-size: 12px !important;
                        }
                    }
                    hr 
                    {
                        @include margin(5px 0px 0px 0px !important);
                        @include padding(0 0 14px 0 !important);
                    }
                    h2 
                    {
                        font-size: 14px !important;
                        line-height: initial !important;
                         @include margin(0px 0px 5px 0 !important);
                    }
                    .voucher_button
                    {
                        button
                        {
                            width:110px !important;
                        }
                    }
                }
            }
            
        }
    }
    
	.btn{ font-size: 12px; padding: 4px 15px 3px; height: 29px; }
	.btn_lg{ padding: 4px 10px !important; height: 30px; min-width: 110px !important;line-height: initial;}
	.form-group{ margin-bottom: 30px;
		label{ font-size: 14px;}
	}
	.invalid-feedback{
	&.ng-star-inserted{
		margin-top: 7px;}
	}
	.signup-form .or-text, .profile-form .or-text, .login-form .or-text{padding:30px 0 0 0;}
	.signup-form, .profile-form, .login-form{
		.input-filed{
			@include padding(10px 0px 5px);
		}
		.name-inputs{
			@include padding(10px 0px 5px);
		}
		.or-text{
			@include textstyle($font-family, 12px, 700, #646464);
		}
		.register-button{ font-size: 12px; padding: 4px 0px; min-width: 110px; height: 30px}
		.mat-form-field-infix{
			font-size:16px;
			input{
				font-size:14px;	
			}
		}
	}
		.signup-google-facebook{
			margin-top:18px;
		}
	.signup-google-facebook .signup-google button, .signup-google-facebook .signup-facebook button{ font-size: 14px;  line-height: 1; padding: 11px 15px;}
	.signup-form .signup-btn-main, .profile-form .signup-btn-main, .login-form .signup-btn-main{
		margin: 20px 0 10px;
	}
	.profile-form .signup-google-facebook .signup-google button img, .profile-form .signup-google-facebook .signup-facebook button img{ width: 22px; margin-right: 7px;}
	.signup-form{
		.signup-google button img, .signup-facebook button img{ width: 22px; margin-right: 7px;}
		
		.success-msg-content{
			.success-msg{
				.msg{
					.content{
						padding-left: 15px;
						h1{
							font-size: 14px;
						}
						p{
							font-size: 12px;
						}
					}
				}
			}	
		}
		.error-msg-content{
			.error-msg{
				.icon{
					span{
						@include padding(2px 8px);
					}
				}
				.msg{
					.content{
						padding-left: 15px;
						h1{
							font-size: 14px;
						}
						p{
							font-size: 12px;
						}
					}
				}
			}	
		}
	}
	.login-form-padding{
		padding: 5px 0 0;
	}
		.header-logo-cart{
			.picky-logo{
				a{
					img{
						width:225px;
						height:auto;
					}
				}
			}
		}	
	.cart-header-changes
    {
        .header-logo-cart{
			.picky-logo{
				a{
					img{
						width:175px;
						height:auto;
					}
				}
			}
		}	
        .picky-cart-section
        {
            margin-top: 13px !important;
            a
            {
                img 
                {
                    width: 24px !important;
                    height: 24px !important;
                }
            }
        }
    }
	.myactivities-list{
		.myactivities-list-full{
			.activity-tab{
				.mat-tab-group{
					.mat-tab-header {
						.mat-tab-label-container{
							@include margin(0 15px);
							.mat-tab-list{
								.mat-tab-labels{
									.mat-tab-label {
										height:137px;
										padding: 0 10px; margin: 0 0px;
										.mat-tab-label-content{
											text-align: center;
											h1{
												@include textstyle($font-family, 42px, 700, $darkgrey);
												line-height: 51px
											}
											p{
												@include textstyle($font-family, 14px, 700, $grey5);
												width: 100px;
												line-height: 17px;
												white-space: pre-wrap;
												margin: 0 auto;
												
											}
										}
										&.mat-tab-label-active{
										.mat-tab-label-content{
											h1{
												@include textstyle($font-family, 42px, 700, $red);
											}
										}
									}
									}
									
								}
								
							}
						}
					}
					.mat-tab-body-wrapper{
					.mat-tab-body{
						.mat-tab-body-content{
							@include padding(18px 0px 18px);
                            padding-bottom: 0px;
							.tab-body-header{
								@include padding(0 15px);
                                display: flex;
								.tab-content{
								@include margin(0 0 14px);
								width: calc(100% - 24px);
								p{
								@include margin(0);
								@include textstyle($font-family, 14px, 900, $grey5);
								line-height: 17px;
								
							}
							span{
								@include textstyle($font-family, 12px, 400, $grey5);
								line-height: 13px;
							}
							}
							.filter-img{
								@include margin(8px 0 14px);
								img{
									width: 20px;
									height: 20px;
								}
							}
							}
							
							.activity-list{
								.activity{
									@include padding(20px 15px);
                                    a
                                    {
                                        flex: 1;
									.img{
										width:128px;
                                        width: 100%;
										img{
											width:128px;
	//										height:85px;
                                            width: 100%;
                                            height: 100%;
										}
									}
                                    }
									.cont
									{
                                        width:103%;
										width:calc(100% - 128px); padding-left: 15px;
                                        flex: 1;
                                        @include padding(0 0 40px 15px);
										.questname{
											@include textstyle($font-family, 12px, 400, $grey5);											
                                            display: block;
										}
										p{
											@include textstyle($font-family, 14px, 700, $grey5);
											padding: 0 0 0px; 
	                                        margin-bottom: 3px;
										}
										button{
											font-size: 12px;
											//@include padding(4px 15px 3px);
											width:110px;
										}
									}
								}
							}
						}
					}
				}
				}
				
			}
		}
	}
	
	.myvouchers-list .myactivities-list-full .activity-tab .mat-tab-group{
		.mat-tab-header{
			.mat-tab-label-container{ margin: 0 15px;
				.mat-tab-list{
					.mat-ink-bar{ height: 5px;}
					 .mat-tab-labels .mat-tab-label{ 
						 &.mat-tab-label-active .mat-tab-label-content {
							h1{font-size: 30px;}
						 }
						 .mat-tab-label-content{							
							h1{font-size: 30px;
								img{ max-width: 24px;}
							}
							.vou-shop{ font-size: 14px; line-height: normal;}
							.my-vou{ font-size: 13px; line-height: normal;}
						}
					}
				}
			} 
		} 
		.mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content{
			
			.inner-tap, .inner-sec-tap {
				.mat-tab-header .mat-tab-label-container .mat-tab-list{
					.mat-ink-bar{ height: 4px;width:100px !important;}
					.mat-tab-labels .mat-tab-label .mat-tab-label-content{
						font-size: 14px; line-height: normal; margin: 0 0 14px;
					}
				}
				.mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content{ 
					.tab-body-header{ padding: 20px 15px;
						.tab-content{
							p{ font-size: 14px; line-height: normal;}
							span{ font-size: 12px; line-height: normal;}
						}
					}
					.activity-list .activity{ padding: 20px 15px;
						.img{ width: 128px; flex:1;
							img{ width: 100%;}
						}
						.cont{ width:104%; width: calc(100% - 128px); padding-bottom:38px; padding-left: 15px; flex:1;
							.questname{ font-size: 12px;
                                display: block;
                                margin-bottom: 4px;
                                padding-bottom: 0px;
                            } 
                            span 
                            {
                                font-size: 12px;
                                line-height: initial; 
                                display: block;
                            }
							p{ padding: 0 0 5px; font-size: 14px;}
							.vou-card-buttons{
								button{ font-size: 12px; 
                                   // padding: 4px 15px 3px; 
                                    margin: 0 5px 0px 0;
                                    width: 110px !important;
                                }
							}
						}
                        .cont_i
                        {
                            p 
                            {
                                padding-bottom: 0px;
                            }
                            i 
                            {
                                font-size:12px;
                            }
                        }
					}
				}
			}
		}
	}
	
	/* cart checkout portion*/

	.checkout-fixed{

			bottom: 74px;
			padding:16px 30px;
		.checkout-flex{
			.checkout-text{
				p{
					font-size:16px;
					line-height: normal;
                    span{
					font-size:18px;
					line-height: normal;	
				}
				}
				span{
					font-size:18px;
					line-height: normal;	
				}
//				&.checkout-width{width:30%;}
				&.checkout-width2{width:50%;}
				&.checkout-width3{width:50%;text-align: right;font-size:14px;align-self: center;
					.btn{
						font-size:14px;
                        line-height: 14px;
					}
					.btn_minwid{
						min-width: auto;
						
					}
				}
				a{
				
					padding:8px 33px;
					line-height: normal;
                     line-height: 14px;
					height: 35px;
                    width: 110px;
                    padding: 5px 0px !important;
				}
			}
		}
	}
	/*payment section*/
	.payment-methods{
	.mat-radio-group{
		.payment-section{
			.mat-radio-label{
				.mat-radio-container{
					margin-right:36px;
					width:24px;
					height:24px;
					.mat-radio-outer-circle{
						width:24px;	
						height: 24px;
					}
					.mat-radio-inner-circle{
						width:14px;	
						height: 14px;
						left:5px;
						top:5px;
					}
				}
				
			}

		}
	}
}
	/*cart stepper potion*/
	.stepper{
		padding:20px 15px;
			border-bottom: 8px solid $grey-bg;
		.step-content{
			.steps{
				a{
				.step-count{
					font-size:14px;
					line-height: 21px;	
				}
				.step-title{
					width:70px;
					font-size: 14px;
					line-height: normal;
					
				}
				}
			
			}
		}
		.steps-line{
			height: 5px;
			width:calc(100% - 60px);
			.dot{
				
				a{
					fa{
					padding: 1px 3.5px;
					border-width:3px;
					font-size: 12px;
					}
				
				}

				}

			}
		}

		.slick-quest-slider .carousel .slick-dots li button{ height: 6px; margin-right: 9px;}
		.payment-methods-sec{ padding: 15px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }
		.payment-methods-sec .payments-methods-inner{ padding: 15px;}
		.payment-methods-sec .payments-methods-inner h2{ font-size: 16px;}
		.payment-methods-sec .payments-methods-inner p{ font-size: 12px;}
		.payment-methods .mat-radio-group .payment-section .mat-radio-label .mat-radio-container{ margin-right: 10px;}
		.payment-methods .mat-radio-group .payment-section .mat-radio-label .mat-radio-label-content img{ margin-right: 10px;}
	
	
    /* checkout popup*/
	.Checkout_popup_step2{
	.mat-model-green
    {
		fa{

			.fa-check{
				padding: 13px;
				font-size: 20px;
			}
			
		}
    }
        button 
        {
            width: 155px;
            height: 36px;
            font-size: 14px;
            line-height: inherit !important;
        }
}
		.Checkout_popup_step3{
	.mat-model-red
    {
		fa{
			.fa-close{
				padding: 13px;
				font-size: 20px;
			}
			
		}
    }
}
    
.general-pages{
    padding: 25px 15px !important;
//    padding-bottom: 0px !important;
    p, span 
    {
        font-size:14px !important;
    }
    
    }
    
    .checkout-fixed
    {
        .checkout-text
        {
            .btn_lg
            {
                padding: 9px 10px !important;
            }
        }
    }
    
    .header-beforelogin-right
    {
        cursor: pointer;
        a 
        {
            img 
            {
                width: 50px;
            }
        }
    }
    .header-beforelogin-left
    {
        .signup-text
        {
            h2 
            {
                font-size: 24px !important;
                line-height: initial !important;
                margin-top: 15px !important;
            }
            .account-signin
            {
                p 
                {
                    margin-top: 0px !important;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .custom-class .modal-dialog .modal-content .voucher-content
    {
        width:auto !important;
        margin: 0px 30px;
        padding-bottom: 43px !important;
    }
    .voucher_overlay .voucher_popup .voucher_popup_bottom .voucher_popup_height .voucher-content-new.voucher_button
    {
        padding: 10px 30px !important;
    }
    .accordion-clue .mat-accordion .mat-expansion-panel.mat-expanded .mat-expanded .mat-expansion-indicator:after
    {
        padding:4px !important;
    }
    .accordion-clue .mat-accordion .mat-expansion-panel .mat-expansion-panel-header
    {
        //padding: 25px 24px !important;
    }
    .accordion-clue .mat-accordion .mat-expansion-panel .mat-expansion-panel-header:after
    {
        position: relative;
        top: -3px;
    }
    .accordion-clue .mat-accordion .mat-expansion-panel .mat-expansion-panel-header .mat-content p {
        font-size: 14px !important;
    }
    .accordion-clue .mat-accordion .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-indicator:after {
        position: relative;
        top: -3px;
        padding: 4px;
    }
    .accordion-clue .mat-accordion .mat-expansion-panel.mat-expanded .mat-expanded .mat-expansion-indicator {
        bottom: 7px;
    }
    .accordion-clue .mat-accordion .mat-expansion-panel {
        margin-bottom: 15px !important;
    }
    
    .payment-methods-sec .payments-methods-inner .payment-methods .mat-radio-group .payment-section .mat-radio-label .mat-radio-label-content img 
    {
        width: 55px;
    }
    .header-quest .picky-cart-section .cart-count
    {
        right: -3px !important;
        top: 3px !important;
        line-height: inherit !important;
    }
    .vouch-header-changes
    {
        .header-vouchers
        {
            padding: 15px 15px 1px 15px !important;
        }
    }
    .header-quest
    {
        padding: 20px 15px 0px 15px !important;
    }
    .accounts-quest
    {
        padding: 5px 15px 10px 15px !important;
    }
    .vouchers-categories
    {
        padding: 0px 15px !important;
    }
   .signup-form, .profile-form, .login-form
       {
           padding: 48px 15px !important;
           padding-top: 15px !important;
       }
    .profile-form
    {
    padding-top: 15px !important;    
    }
    .btn_extra_lg
    {
        padding: 9px 10px !important;
        height: 45px !important;
        min-width: 200px !important;
        font-size: 16px !important;
        line-height: initial;
    }
    .header-beforelogin
    {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .vocuher-remove-success
{
    margin-left: 15px;
    margin-right: 15px;
    height: 45px;
    p 
    {
        margin-bottom: 0px;
        font-size: 13px;
        text-align: left;
        padding: 0px 10px;
        display: flex;
        img 
        {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
        span 
        {
            display: block;
            padding-left: 3px;
        }
    }
}
}

@media (max-width: 480px){

}

@media (max-width: 350px){
    
    
    .general-pages
    {
        .how-to-play
        {
            .how-to-play-details
            {
                .how-to-play-list
                {
                   img 
                    {
                        width:60px !important;
                        height: 60px !important;
                    }
                }
            }
        }
    }
.signup-form, .profile-form, .login-form{
	.signup-google-facebook{
		.signup-google, .signup-facebook{
			button{
				font-size: 12px; padding: 10px 10px;
			}
		}
	}
}
.signup-google-facebook .signup-google button img, .signup-google-facebook .signup-facebook button img{ margin-right: 10px;}
.myactivities-list .myactivities-list-full .activity-tab .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    margin: 0px 0px;
}
    .myvouchers-list .myactivities-list-full .activity-tab .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label
    {
        padding:0px 10px !important;
    }
     .myvouchers-list .myactivities-list-full .activity-tab .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label
    {
        padding:0px !important;
    }
    
    .myactivities-list .myactivities-list-full .activity-tab .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content .activity-list .activity .cont button {
    width: 110px !important;
} 
    .myvouchers-list .myactivities-list-full .activity-tab .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content .inner-tap .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content .activity-list .activity .cont .vou-card-buttons button, .myvouchers-list .myactivities-list-full .activity-tab .mat-tab-group .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content .inner-sec-tap .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content .activity-list .activity .cont .vou-card-buttons button {
    width: 110px !important;
}
    .voucher_button
    {
        text-align: center !important;
        button
        {
           // float:none !important;
            width:98px !important;
             min-width:98px !important;
        }
    }
    .custom-class .modal-dialog .voucher_popup_height .voucher-content-new .voucher_button button
    {
        width:98px !important;
    }
    
    .card_actions_quantity 
    {
        width: 98px !important;
        display: inline-block;
        min-width: 98px !important;
    }
}
 
	

/* checkout page scss 


    ngb-modal-window
    {
        display: block; 
        width: 544px;
        height: 395px;
        background-color: #fff;
        border-radius: 24px;
        box-shadow: 0px 8px 14px #000000;
        margin: auto;
        margin-top:84px;
        text-align: center;
        position:relative;
        
        
        .modal-contents
        {
            position: absolute;
            top:50%;
            transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            -ms-transform:translateY(-50%);
            width:100%;
        }
    }*/


/* mat spinner scss */

mat-spinner
{
    svg 
    {
        circle
        {
            stroke-width: 8px !important;
            stroke: #EE325F !important;
        }
    }
}

/*stepper css goes here
.stepper{
	.mat-stepper-horizontal{
		.mat-horizontal-stepper-header-container{
						.mat-horizontal-stepper-header {
							box-sizing: border-box;
							flex-direction: column-reverse !important;
							height: auto;
							padding: 24px;
							&:before{
								top: 68px !important;
							}
							&:after{
								top: 68px !important;
							}
							.mat-step-label {
							padding: 0px 0px 8px !important;
								text-align: center;
								font-size: 16px;
								p{
									max-width:90px;
									font-size:18px;
									font-weight: 700;
									white-space: pre-wrap;
									margin:0px;
									
								}	
							
						}
				}
			.mat-stepper-horizontal-line{
			top:68px;
		}
		}
		
	}
}
	



/* common scss */

.different-vouchers-right a:hover, .cont a:hover
{
    text-decoration: none !important
}
.Featured-Vouchers-2 .mat-tab-header
{
    display: none;
}
.vouchers-categories 
{ 
    position: relative;
   .spinner-loading
    {
        position: absolute;
        max-width: 640px;
        height: 100%;
        top: 0px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
       // background: rgba(0, 0, 0, 0.24);
        .mat-spinner
        {
            top:0px;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            width:40px !important;
            height:40px !important;
            svg 
            {
                width:40px !important;
                height:40px !important;  
            }
        }
    } 
}
.loading-btn-resize
{
    position: relative;
    .mat-spinner
    {
        position: absolute;
        width: 25px !important;
        height: 25px !important;
        top: 0px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        svg 
        {
            width: 25px !important;
            height: 25px !important;
        }
    }
}
.modal-backdrop
{
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.quest-complete-wrapper
{
    .header-activities
    {
        padding-bottom: 10px !important;
    }
}
ngb-modal-backdrop 
{
    z-index: 9999 !important;
}
.btn-shadow
{
    //box-shadow:0px 0px 10px rgba(238, 50, 95, 0.54) !important;
}
.btn-completed
{ cursor: auto !important;
//    background: #646464 !important;
//    border: 1px solid #646464 !important;
    background: transparent !important;
    border: 1px solid #D8D8D8 !important;
    color: #D8D8D8 !important;
    font-weight: bold !important;
    &:hover
    {
//        background-color: #EE325F !important;
//        border-color: #EE325F !important;
//        background: #646464 !important;
//        border: 1px solid #646464 !important;
//        color: #fff !important;
        background: transparent !important;
        border: 1px solid #D8D8D8 !important;
        color: #D8D8D8 !important;
    }
    .mat-button-ripple
    {
        opacity: 0;
    }
}
.cont
{
    a 
    {
        text-decoration: none;
    }
}
.quests-details-resize
{
    .header-fea-slide
    {
        .slick-quest-slider
        {
            .different-vouchers-card.different-vouchers-card-quest-detail
            {
                box-shadow: 0px 7px 10px rgba(181, 181, 181, 0.52) !important;
            }
        } 
    } 
}
.login-forgot-password
{
    position: relative;
    top: 40px;
    text-align: right;
    display: block;
    font-size: 14px;
    color: #646464;
    a 
    {
      font-size: 14px;
      color: #646464;  
    }
}

/* Manikandan -swipe delete */
li {
    padding: 0 !important;
}
li .wrapper {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}
.wrapper .go, .wrapper .item, .wrapper .del {
    display: inline-block;
    padding: 0.9em;
    text-shadow: none;
    border-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper .item {
    width: 100%;
    height: 100%;
}
.wrapper .go, .wrapper .del {
    height: 100%;
    text-align:center;
    font-weight: bold;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ddd;
}
.wrapper .go {
    background: #009925;
    border-color: #009925;
}
.wrapper .del {
    background: #F90101;
    border-color: #F90101;
}
/* Manikandan -swipe delete */

#toast-container
{
    .toast-success
    {
        line-height: initial;
    }
}
.header-fea-slide .slick-quest-slider ngx-slick-carousel .slick-list
{
    padding: 0px 40px !important;
}
.slick-quest-slider .carousel .slick-dots
{
    margin-left: 48px;
    margin-right:48px;
    width:auto;
}
.header-beforelogin
{
    border-bottom-right-radius: 70px;
    padding: 30px 48px 70px 48px !important;
    .header-beforelogin-left
    {
        position: relative;
        top: 40px;
    }
    .header-beforelogin-right
    {
        a 
        {
            img 
            { 
                width: auto;
                position: relative;
                top: 13px;
            }
        }
    }
}
.accounts-quest
{
    padding-left: 48px !important; 
    padding-right:48px !important;
}
.accounts-quest
{
    padding: 20px 48px 30px 48px !important;
    border-bottom-right-radius: 70px;
    .featuredguest-header-text
    {
        align-items: flex-end !important;
    }
}

.header-quest
{
    .slick-quest-slider
    {
        .carousel
        {
            .slick-dots
            {
                position: relative !important;
                bottom: 10px !important;  
            }  
        }
    }
}

@media screen and (max-width:568px)
{
    .slick-quest-slider .carousel .slick-dots
    {
      //  bottom: -25px !important;
        margin-right: 30px;
        width: auto;
    }
    .slick-quest-slider .carousel .slick-dots li
    {
        width:35px;
//        margin: 0px 0px;
//        margin-right: 10px;
    }
    .slick-quest-slider .carousel .slick-dots li button
    {
        width:35px;
    }
    .slick-quest-slider .carousel .slick-dots .slick-active
    {
        width:55px;
    }
    .slick-quest-slider .carousel .slick-dots .slick-active button 
    {
        width:55px;
    }
    .header-beforelogin
{
    padding: 30px 15px 30px 15px !important;
    .header-beforelogin-left
    {
        position: relative;
        top: 0px;
    }
    .header-beforelogin-right
    {
        a 
        {
            img 
            { 
                width: 80px;
                position: relative;
                top: 0px;
            }
        }
    }
}
    .signup-google-facebook .signup-google button, .signup-google-facebook .signup-google a, .signup-google-facebook .signup-facebook button, .signup-google-facebook .signup-facebook a
    {
        padding: 15px 10px;
    }
    .signup-google-facebook .signup-google button img, .signup-google-facebook .signup-google a img, .signup-google-facebook .signup-facebook button img, .signup-google-facebook .signup-facebook a img {
    margin-right: 15px;
        width: 25px;
}
    .accounts-quest
{
    padding: 20px 15px 30px 15px !important;
}
    .stepper .steps-line .dot a fa
    {
        width: 28px;
        height: 28px;
    }
}

.btn 
{
    &:focus
    {
        box-shadow: none !important;
    }
}
.cart-header-changes, .checkouts-header-changes
{
    .activities-header-text
    {
        h2 
        {
            margin-bottom: 0px !important;
            letter-spacing: 0.5px;
        }
    }
}
