/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*fonts*/
/*@font-face {
    font-family: 'barlow_semi_condensed_mediuRg';
    src: url('/assets/fonts/barlowsemicondensed-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/barlowsemicondensed-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow_semi_condensed_extraRg';
    src: url('/assets/fonts/barlowsemicondensed-extrabold-webfont.woff2') format('woff2'),
         url('/assets/fonts/barlowsemicondensed-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow_semi_condensedregular';
    src: url('/assets/fonts/barlowsemicondensed-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/barlowsemicondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlow_semi_condensed_exligRg';
    src: url('/assets/fonts/barlowsemicondensed-extralight-webfont.woff2') format('woff2'),
         url('/assets/fonts/barlowsemicondensed-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlow_semi_condensed_semibRg';
    src: url('/assets/fonts/barlowsemicondensed-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/barlowsemicondensed-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlow_semi_condensedbold';
    src: url('/assets/fonts/barlowsemicondensed-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/barlowsemicondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);



/* colors */
$bg-color:#132459;
$light-blue: #2e58d1;
$navy-blue: #224194;
$lightnavy-blue: #253c99;
$blue1: #163264;
$white: #fff;
$grey: #eee;
$dark-grey: #8A8A8A;
/*$grey1: #ccc;*/
$grey3: #ACACAC;
/*$grey4: #ddd;*/
$light-grey: #f9f9f9;
$grey-bg: #F8F8F8;  
$input-color: #999;
$pink: #ed325f;
$google-red: #da4d42;
$fb-blue: #4267b2;
$profile-blue: #003264;
$brown: #976F40;
$yellow: #f0ad4e;
$green: #00bb78;
/*$red: #ef5a59;*/
$btn-grey: #9F9F9F;


$dark-blue: #20409A;
$yellow: #ffc700;
$black: #333;
$light-green: #e9f8df;
$grey: #AEAEAE;
$darkgrey: #9B9B9B;
$grey1: #DEDEDE;
$grey2: #D8D8D8;
$grey3: #ACACAC;
$grey4: #ccc;
$grey5: #646464;
$grey6: #636363;
$red: #EE325F;
$bgcolor:#f8f8f8;

/* font */
$font-family: 'Roboto', sans-serif;

/* width */
$container-width: 640px;
$image-full-width: 100%;

/* padding */
/*$container-padding: 15px;*/

/* margin */
$margin-zero: 0px;

/* headers bg image */
$header-beforelogin: url("../../../assets/images/blue.png");
$header-myquestbg: url("../../../assets/images/444.png");
$header-activitiesbg: url("../../../assets/images/green-bg.png");
$header-vouchersbg: url("../../../assets/images/yellow.png");

*, *:before, *:after {
    box-sizing: border-box;
}
button{outline: none;}
body{
	background-color: $bg-color;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
}
.app-container{
	max-width: $container-width;
	margin-left: auto;
	margin-right:auto;
	background-color: $white;
	/*min-height: 100vh;
    position: relative;*/    
	overflow-x: hidden; 
}
.wrapper_out{
margin: 0 auto; max-width: 640px; background-color: $white;
	position: static; left: 0; right: 0; bottom: 0px; top: 0; 
//    overflow: hidden; 
//    overflow-y: auto;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 90px;
}
.wrapper_out:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    max-width: 640px;
    z-index: -1;
}
.wrapper_out-re-bottom
{
    bottom:0;
}

// @Border radius
@mixin border-radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;
}
// @padding
@mixin padding($padding) {
-webkit-padding: $padding;
-moz-padding: $padding;
-ms-padding: $padding;
padding: $padding;
}
// @margin
@mixin margin($margin) {
-webkit-margin: $margin;
-moz-margin: $margin;
-ms-margin: $margin;
margin: $margin;
}
// @box-shadow
@mixin box-shadow($box-shadow) {
-webkit-box-shadow: $box-shadow;
-moz-box-shadow: $box-shadow;
-ms-box-shadow: $box-shadow;
box-shadow: $box-shadow;
}
// @transition
@mixin transition($transition) {
-webkit-transition: $transition;
-moz-transition: $transition;
-ms-transition: $transition;
transition: $transition;
}
// @transform
@mixin transform($transform) {
-webkit-transform: $transform;
-moz-transform: $transform;
-ms-transform: $transform;
transform: $transform;
}
// @textstyle
@mixin textstyle($font-family, $font-size, $font-weight, $color) {
font-family: $font-family;
font-size: $font-size;
font-weight: $font-weight;
color: $color;
}


@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

//#filter-img-new 
//{
//    position: relative;
//    img 
//    {
//        position: absolute;
//        top:0px;
//        left:0px;
//        .mat-form-field-class
//        {
//            cursor: pointer;
//            .mat-form-field-wrapper
//            {
//                padding-bottom: 0px !important;
//                .mat-form-field-infix
//                {
//                    border-top: 0px !important;
//                    mat-select
//                    {
//                        .mat-select-placeholder
//                        {
//                            width: 32px;
//                            height: 32px;
//                        }
//                    }
//                    .mat-form-field-label-wrapper
//                    {
//                        top: 0px !important;
//                        padding-top: 0px !important;
//                        width: 32px !important;
//                        .mat-form-field-label
//                        {
//                            width: 32px;
//                            clear: both;
//                            overflow: hidden;
//                            height: 32px;
//                        }
//                    }
//                }
//            }
//            .mat-form-field-underline, .mat-form-field-subscript-wrapper
//            {
//                display: none;
//            }
//        }
//    }
//}

/* Responsive */
@media (max-width: 568px){
    .wrapper_out{ bottom: 74px !important;margin-bottom: 74px;}
    .payment-wrapper_out
    {
       margin-bottom:0px !important; 
    }
}

