/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";


.header-quest{
	.picky-logo{
		float: left;
	}

	background-image: $header-beforelogin;
	background-repeat: no-repeat;
	background-size: cover;
	@include padding(20px 30px 20px 30px);
	border-bottom-right-radius: 70px;
	.featuredguest-header-text{
		display: flex;
		justify-content: space-between;
		clear: both;
		align-items: center;
		.featuredguest-header-left{
			text-align: left;
			clear: both;
			width:70%;
			h2{
				@include textstyle($font-family, 32px, 400, $white);
	    		letter-spacing: 0.8px; line-height: 1;
	    		margin-bottom: 0;
			}
			
			p.profile-name{
				@include textstyle($font-family, 32px, 700, $white);
				@include margin(0px 0px 6px 0px);
				letter-spacing: 0.5px;
                line-height: initial;
			}
			p.profile-email{
				@include textstyle($font-family, 18px, 400, $white);
				margin-top: 3px;
			}
			.profile_edit_text{
				img{ margin-right: 15px; max-width: 20px; vertical-align: bottom; }
				@include textstyle($font-family, 16px, 400, $white);
				span{
					vertical-align: bottom; display: inline-block; text-decoration: underline;
				}
			}
			.logout-button{
				@include textstyle($font-family, 16px, 400, $white);
				margin-top: 3px;
				fa{
					margin-right: 4px;
					color:#ed325f;
				}
			}
			a{
				text-decoration: none;
			}
		}
	}
	.featuredguest-header-right{
		.profile-photo{
	    	position: relative;
			img{
				height: 160px;
		    	width: 160px;
		    	@include border-radius(50%);
		    	position: relative;
				object-fit: cover;
			}
			/*a{
				position: relative;
			}*/
			span.edit-icon{
				label{
					position: absolute;
					bottom:-10px !important;
					right:0;
				}
				fa{
					@include padding(12.5px 14px 12.5px 13px); 
					background: $red;
					color:#fff;
					@include border-radius(50px);
				}
				img{
					width: 40%;
				}
			}
		}
	}
}
.mat-div-width{
	width:80%;
	mat-divider{
	margin:12px 0;
	border-top-color: rgba(255, 255, 255, 0.47) !important;
	}
}
.edit-icon
{
    .camera_img
    {
        width: auto !important;
        height: auto !important;
        cursor: pointer;
    }
}

@media (max-width: 568px){
	.header-quest  
	{	
            border-bottom-right-radius: 40px;
        .featuredguest-header-text
		{
			.featuredguest-header-left{
				h2{ font-size: 16px;}
				p.profile-name{
					font-size: 18px;
                    margin: 0px 0px 0px 0px;
				}
				p.profile-email{
					font-size:14px;
                    margin-bottom: 0px;
				}					
			}
		}
		
		.featuredguest-header-right
		{
			 .profile-photo
			{
				img{
					width:88px;
					height: 88px;
				}
			}
		}
	}
	.mat-div-width{
		width:100%;
	}
    .header-quest .featuredguest-header-right .profile-photo span.edit-icon label fa
    {
        padding: 6px 7px 6px 7px;
        width: 33px;
        height: 33px;
    }
    
    .header-quest .featuredguest-header-right .profile-photo span.edit-icon label
    {
        position: absolute;
        bottom: -13px !important;
        right: 0;
    }
    .edit-icon .camera_img {
    width: 30px !important;
    height: auto !important;
}
}


.ng-pristine
{
  .mat-form-field-label
    {
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        color:#BFBFBF;
    }  
}

