<header class="header-quest accounts-quest" *ngIf="user.customer_email!=undefined">
	<div class="header-logo-cart">
		<div class="picky-logo">
			<a routerLink="/quests"><img src="assets/images/logo.png" alt="The Picky Eater"></a>
		</div>
<!--
		<div class="picky-cart-section">
			<a routerLink="/cart">
				<img src="../../assets/images/cart-icon.png">
				<div class="cart-count">{{(records.length)?records.length:'0'}}
				</div>
			</a>
		</div>

		<app-cart-count></app-cart-count>-->
	</div>
	<div class="featuredguest-header-text">
		<div class="featuredguest-header-left">
			<h2>Welcome Back</h2>
			<p class="profile-name">{{user.customer_firstname +" "+ user.customer_lastname}} !</p>
			<p class="profile-email">{{user.customer_email}}</p>
			<!--<div class="mat-div-width"><mat-divider></mat-divider></div>-->
		
		</div>
		<div class="featuredguest-header-right">
			<div class="profile-photo">
				<img [src]="user.customer_profile" *ngIf="user.customer_profile" onError="this.src='./assets/images/avatars/1.png';" class="afterlogin-logo" alt="Profile Photo">
				<span class="edit-icon">
					<label>
						<input type="file" accept="image/*" (change)="changeFile($event.target.files)" id="profile-icon" style="display:none;">
					</label>
					<label for="profile-icon">
<!--						<fa name="camera"></fa>-->
                        <img src="assets/images/camera.png" class="camera_img">
					</label>
				</span>
			</div>
		</div>
	</div>
</header>
<!--<div class="loading" *ngIf="pageload"><mat-spinner [color]="color" diameter="20"></mat-spinner></div>-->
