<div class="checkouts-header-changes">
<app-activities-header [itemcount] = "records.cart_items_count"></app-activities-header>

<!-- checkout popup portion start -->
 
<div class="checkout-section checkout-section-tick" *ngIf="records">
<!--
<div class="Checkout_popup_main">
    <div class="Checkout_popup_inner">
        <ng-template #content let-modal>
            <div class="checkout_backup">
                <div class="Checkout_popup_full Checkout_popup_step1">
                    <div class="mat-model-circle">
                        <mat-spinner></mat-spinner>
                    </div>
                    <h1>Validating Card...</h1>
                    <h2>Payment Request</h2>
                    <p>Your payment is being submitted. <br>Please do not click the back button or <br>refresh this page on your browser.</p>
                </div>
            </div>
        </ng-template>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
    </div>
</div> 
-->
	 <div class="stepper" >
	 <div class="step-content">
		 <div class="steps">
			<a href="javascript:void(0)"><p class="step-count">Step 1</p>
			 <p class="step-title">Cart Details</p></a>
		 </div>
		  <div class="steps">
			<a href="javascript:void(0)"> <p class="step-count">Step 2</p>
				<p class="step-title">Payment Method</p></a>
		 </div>
		  <div class="steps">
			<a href="javascript:void(0)"> <p class="step-count">Step 3</p>
				<p class="step-title">Validation Payment</p></a>
		 </div>
	 </div>
	 <div class="steps-line">
		 <div class="dot dot-one">
			 <a routerLink="/cart" ><fa name="circle"></fa></a>
		 </div>
<!--		 <div class="line"><span></span></div>-->
		  <div class="dot dot-two">
			   <a href="javascript:void(0)" class="active"><fa name="circle"></fa></a> 
		 </div>
<!--		  <div class="line"><span></span></div>-->
		  <div class="dot dot-three">
			   <a href="javascript:void(0)"  ><fa name="circle"></fa></a>
		 </div>
	</div>
	 </div>

	<div [id]="id" *ngIf="records.cart_items_count>=1">
		<div  class="voucher-list" *ngFor="let cart of records.cart_items">
			<div class="voucher-list-full">			
				<div  class="voucher-list-single">
					<div class="different-vouchers-left">
						<img mat-card-image src="{{ records.voucher_path }}{{ cart.item_voucher_challenge_icon }}" >
					</div>
					<div class="different-vouchers-right">
						<mat-card-content>	
							<h3>{{ cart.item_merchant_name }}</h3>
                            <h5>{{ cart.item_voucher_name }}</h5>
                            <span>S${{getRowSum(cart.item_voucher_quantity, cart.item_voucher_price) | number : '1.2-2' }}</span>
						</mat-card-content>
						<mat-card-actions>
							<a href="javascript:void(0);" style="display: none;">Price<span>S${{getRowSum(cart.item_voucher_quantity, cart.item_voucher_price)}}</span></a>
						</mat-card-actions>
					</div>
				</div>	
			</div>
			<!-- <a href="javascript:void(0)" (click)="removeFromCart(cart.item_voucher_id)" class="cart-close"><fa name="close"></fa></a> -->
		</div>
	</div>

		<div class="checkout-fixed">
		<div class="checkout-flex">
<!--
			<div class="checkout-text checkout-width">
				<p>Sub total:</p>
				<span>${{ records.cart_subtotal }}</span>
			</div>
-->
			<div class="checkout-text checkout-width2">
				<p>Total:<span>&nbsp;S${{ records.cart_total }}</span></p> 
<!--				<span>${{ records.cart_total }}</span>-->
			</div>
			<div class="checkout-text checkout-width3">
				<a class="btn  btn_pink btn_minwid btn_lg" routerLink="/payment">Continue</a> 
			</div>
			
		</div>
	</div>

	
	<div [class]="css_payment">
		<div class="payments-methods-inner">
		<h2>Payment Methods</h2>
		<p>Please select you payment methods</p>
		<div class="payment-methods">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="2" [checked]="true" selected class="payment-section"><img src="../assets/images/visa.png">
				<img src="../assets/images/mastercard.png">
				</mat-radio-button>
            </mat-radio-group>
        </div>
	</div>
	</div>
	<app-bottom-fixed-menu [itemcount] = "records.cart_items_count"></app-bottom-fixed-menu>
</div> 
</div>