@import "../../../variables.scss";

/*base code*/

.checkout-section
{
	padding-bottom: 255px;
	.stepper{
				.steps-line{
					&:before{
						position:absolute;
						content: "";
						left: 0%;
						top: 0;
						height: 8px;
						width: 50%;
						background-color:$dark-blue;
						display: inline-block;
					}
			.dot{
			
				&.dot-one{
					fa{
					background: $dark-blue;
					border: 5px solid $dark-blue;
					}
					
					}
				

				}
	
			}
	}
			.voucher-list{
		position: relative;
                touch-action: pan-y !important;
            user-select: initial !important;
			@include padding(0px 48px);	
	
		.voucher-list-single{
			display: flex;
			
			@include padding(32px 30px);
			margin: 0 -30px; border-bottom: 8px solid $grey-bg;
			.different-vouchers-left{
				width: 216px;
			 
				text-align: center;
				@include border-radius(8px);
				img{
					width: 100%;
					max-height: 100%;
					object-fit: cover;
					@include margin(0px);
					@include border-radius(8px);
				}
			}
			.different-vouchers-right{
				width: calc(100% - 216px);
				padding-left: 35px;
				position: relative;
                align-self: auto; 
				.mat-card-content{
					margin-bottom: 0px;
                    display: block;
                    padding-bottom: 45px;
					h5{
						@include textstyle($font-family, 20px, 700, $grey5);
						margin: 0 0 7px;
                        line-height: normal;
					}
					h3{
						@include textstyle($font-family, 18px, 400, $grey5);
						margin: 0 0 4px;
                        line-height: 1.5; 
					}
                    span 
                    {
                        font-size: 18px;
                        font-weight: 700;
                        color: #20409A;
                    }
				}
				.mat-card-actions{
					@include margin(10px 0px 0px 0px);
                    position: absolute;
                    bottom: 0px;
					a{
						@include textstyle($font-family, 16px, 400, $grey5);
						text-decoration: none;
						span{
							@include textstyle($font-family, 18px, 700, $dark-blue);
							margin-left: 16px;
						}
					}
//					button{
//						
//						@include border-radius(17.5px);
//						@include padding(7px 25px 6px);
//						border: 2px solid $red;
//						background-color: $red;
//						letter-spacing: 0.5px;
//						cursor: pointer;
//						transition: all 0.2s linear;
//						&:hover{
//							background-color: transparent;
//							color: $red;
//						}
//					}
				}
			}
		}
		.cart-close{
		position: absolute;
		top:0;
		right: 0;
		padding:10px 13px;
		background: $bgcolor;	
	}
	}
}

.checkout-section-tick
{
    .stepper
    {
        .steps-line
        {
            .dot-one
            {
                a 
                {
                    fa 
                    {
                        position: relative;
                        &:before
                        {
                            content:'';
                            position: absolute;
                            top: 50%;
                            left: 2.5px;
                            right: 0px;
                            border: 1px solid transparent;
                            z-index: 9;
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            font-size: 20px;
                            margin: auto;
                            border-radius: 50%;
                            background:url('../../../assets/images/cart-tick.png') no-repeat center;
                            width: 19px;
                            height: 14px;
                            background-color: #20409A; 
                        }
                        .fa-circle
                        {
                            opacity: 0 !important;
                            &:before
                            {
                                opacity: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

	@media (max-width:568px)
{
	.checkout-section{
		padding-bottom: 153px;
	.voucher-list{ 
	    padding: 0px 15px;
	.voucher-list-single{  border-width: 4px;
		.different-vouchers-left{
			width: 130px !important;
            height: auto !important;
            flex: 1;
		}
		.different-vouchers-right{
			width: calc(100% - 130px) !important; 
			padding-left: 16px;
            flex: 1;
			.mat-card-content{
                padding-bottom: 35px;
    display: block;
				h5{
					
					font-size:14px;
					margin-bottom: 3px;
					line-height: normal;
				}
				h3{
					@include textstyle($font-family, 12px, 400, $grey5);
				
				}
                span
                {
                    font-size: 15px;
                }
			}
			.mat-card-actions{
				a{
						font-size:14px;
						line-height: normal;
						span{
							font-size:16px;
							line-height: normal;
						}
				}
			}
		}			
	}
		.cart-close{
			padding:5px 13px;
			fa{
				font-size:12px;
			}
			
		}
}
			.stepper{
				.steps-line{
			
                    &:before
                    {
                        height: 5px;
                    }
			.dot{
			
				&.dot-one{
					fa{
					border: 3px solid $dark-blue;
					}
					
					}
				

				}
	
			}
	}
		

}
    .payment-methods-sec .payments-methods-inner .payment-methods {
    margin-top: 15px;
}
}
