<div class="wrapper_out">
<app-header-signup ></app-header-signup>

   <div class="signup-form">
		<form  class="login-form-padding" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
		    <div class="form-group input-filed">
				
		        <mat-form-field>
                    <label>New Password</label>
    				<input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  />

					<div *ngIf="f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
						<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
					</div>

  				</mat-form-field>
		    </div>
		    <div class="form-group input-filed">
		        <mat-form-field>
                    <label>Confirm Password</label>
    				<input matInput type="password" formControlName="cpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" />

					<div *ngIf="f.cpassword.errors" class="invalid-feedback">
						<div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
						<div *ngIf="f.cpassword.errors.mustMatch">Passwords must match</div>
					</div>

  				</mat-form-field>
		    </div>
			
			<div class="form-group signup-btn-main loading-btn-resize"> 
					<button  class="btn btn_pinkbr btn_extra_lg register-button btn-shadow">Submit<mat-spinner *ngIf="loading"></mat-spinner></button>
				</div>
		</form>
			
		
		
	</div>
    
</div>
<app-bottom-fixed-menu [itemcount]="itemcount"></app-bottom-fixed-menu>