/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../variables.scss";

.header-fea-slide{ margin: 0 -48px; position: relative;
	&:before{ content: ""; background: #fff; position: absolute; bottom: 0; left: 0; right: 0; height: 30%;}
	.slick-quest-slider{
				
		
				.different-vouchers-card{
					margin-bottom: 24px;
					//height:337px;
                    position:relative;
					a{
					
						
					   	&:focus{
							outline: none;
						}
                        
						
					}
					
				
			}
			
		}
	.slide.slick-slide{
					margin-right: 10px;
					margin-left: 10px;
					img{
						width: 100%;
						margin: 0px;
						@include border-radius(10px);
						box-shadow: 0px 18px 28px -18px rgba(4, 4, 4, 0.58);
					   }
				}
		.slick-slider{
			margin-bottom: 35px;
		}
	.slick-slider .slick-list.draggable {
    padding: 0px 20px !important;
}

}



/* Responsive */
@media (max-width: 480px){
	.header-fea-slide:before{ height: 40%;}
}