<div class="header-fea-slide" *ngIf="records1">
    <div class="slick-quest-slider">
			<!-- You can now use your library component in app.component.html -->
        <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig">
            <div ngxSlickItem  class="slide" *ngFor="let quest of records1.quests" >
                <div class="different-vouchers-card">
                <a routerLink="/quest/{{quest.quest_id}}"><img src="{{quest.quest_featured_image}}" alt="" width="100%"></a>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
 </div>
 